[2017-12-22 20:23] MicrosoftGuyJFlo commented on #4223
#sign-off

[2017-12-22 22:00] PRmerger commented on #4287
@conniey : Thanks for your contribution to the Azure documentation! The author, @bruceperlerms, has been notified to review your proposed change.

[2018-01-03 19:33] iainfoulds commented on #4081
Thanks for the contribution. This looks good to merge.

#sign-off

[2018-01-03 21:21] kgremban commented on #4139
Thank you for catching that mistake, @GeertDepickere

#Sign-off

[2018-01-03 22:43] JennieHubbard commented on #4269
@ryancrawcour Thanks Ryan! Folks have been out for holiday break but are back this week. @nitinme @cjgronlund

[2018-01-08 17:16] iainfoulds commented on #4149
Thanks for the contribution @Matticusau

@cynthn - Could you review the proposed changes and sign-off if all looks good, please? Thanks.

[2018-01-08 21:00] PRmerger commented on #4406
@prwani-microsoft : Thanks for your contribution to the Azure documentation! The author, @juliako, has been notified to review your proposed change.

[2018-01-09 16:19] Juliako commented on #4406
#sign-off

[2018-01-09 20:54] billmath commented on #4076
I am not seeing the update.  Old version looks identical to the new version.  GitHub is not showing any change.

#please-close

[2018-01-10 00:05] teppeiy commented on #4076
Hi Bill,
I know it is very hard to see the change but it does have 3 bugs on this sample.

New-AzureADPolicy -Definition @('{"ClaimsMappingPolicy":{"Version":1,"IncludeBasicClaimSet":"true", "ClaimsSchema":[{"Source":"user","ID":"extensionattribute1"},{"Source":"transformation","ID":"DataJoin","TransformationId":"JoinTheData","JwtClaimType":"JoinedData"}],"ClaimsTransformations":[{"ID":"JoinTheDat

[2018-01-10 01:19] teppeiy commented on #4076
Teppei,

Thank you for pointing this out.  I have opened a pull request in the private repo and added it there.

https://review.docs.microsoft.com/en-us/azure/active-directory/active-directory-claims-mapping?branch=pr-en-us-31178

Sorry, Github usually picks up the changes and highlights them but because they were from Id to ID, not sure why it didn’t show the change.  It looked like just a cut an

[2018-01-11 17:00] PRmerger commented on #4454
@makhdumi : Thanks for your contribution to the Azure documentation! The author, @anandedwin, has been notified to review your proposed change.

[2018-01-11 22:32] JennieHubbard commented on #4269
@cjgronlund @mumian Jonathan would you please review and sign off?

[2018-01-11 22:37] JennieHubbard commented on #4191
@lenadroid Thanks!! :

[2018-01-11 22:38] JennieHubbard commented on #4191
#sign-off

[2018-01-12 11:00] PRmerger commented on #4461
@bitcoinbrisbane : Thanks for your contribution to the Azure documentation! The author, @davidmu1, has been notified to review your proposed change.

[2018-01-12 15:31] mumian commented on #4269
Please close this PR.  I have created another PR to address customer's concern:

https://github.com/MicrosoftDocs/azure-docs-pr/pull/31383

[2018-01-17 19:00] PRmerger commented on #4505
@abpGithub : Thanks for your contribution to the Azure documentation! The author, @jimdial, has been notified to review your proposed change.

[2018-01-17 19:14] cynthn commented on #4149
#sign-off @Matticusau thanks for the fix!

[2018-01-17 22:52] davidmu1 commented on #4461
#sign-off

[2018-01-17 22:52] PRMerger8 commented on #4461
Only the author, @davidmu, can sign off on this pull request.

[2018-01-18 14:59] jimdial commented on #4505
@mattreatMSFT

[2018-01-18 16:54] jimdial commented on #4505
#sign-off

[2018-01-18 16:54] PRMerger20 commented on #4505
Only the author, @jdial, can sign off on this pull request.

[2018-01-18 18:34] JennieHubbard commented on #4195
@ggailey777

[2018-01-18 18:56] SyntaxC4 commented on #4195
@tdykstra Can you please take a look at this considering I think it would be your updates which created this conflict?

Please use the accepting external contributions workflow to ensure that @mikaelbr's contribution is credited.

[2018-01-18 19:24] tdykstra commented on #4195
@mikaelbr Thank you for the correction!  That file was renamed but I've taken your commit into a PR in a private version of this repo, and it will turn up in this repo and be published this afternoon or tomorrow. This PR can be closed.

[2018-01-18 19:25] tdykstra commented on #4195
#please-close

[2018-01-20 16:10] PRMerger6 commented on #4561
@christianreddington : Thanks for your contribution to the Azure documentation! The author, @rloutlaw, has been notified to review your proposed change.

[2018-01-22 17:45] jeffgilb commented on #3730
#please-close This typo has been fixed.

[2018-01-24 18:38] PRMerger15 commented on #4608
@kik3r : Thanks for your contribution to the Azure documentation! The author, @fsautomata, has been notified to review your proposed change.

[2018-01-24 23:11] PRMerger13 commented on #4613
@paulkel : Thanks for your contribution to the Azure documentation! The author, @jimdial, has been notified to review your proposed change.

[2018-01-24 23:13] PRMerger9 commented on #4614
Microsoft authors of articles need to make updates through the private repository so the updates can be staged and validated by the current validation rules. After you review staging and fix all validation issues, you can add the sign-off comment to let the PR reviewers know the updates are ready to be merged.It's easy to access the private repo version of your articles in GitHub. Just add -pr to

[2018-01-25 00:46] PRMerger13 commented on #4615
@rohithahw : Thanks for your contribution to the Azure documentation! The author, @jeffhollan, has been notified to review your proposed change.

[2018-01-25 04:31] jeffhollan commented on #4615
#sign-off

[2018-01-25 13:30] jimdial commented on #4613
@paulkel Thanks!  #sign-off

[2018-01-26 21:52] conniey commented on #4287
@BrucePerlerMS Are there any modifications that need to be made to get this merged in?

[2018-01-30 20:34] PRMerger12 commented on #4677
@JeffMacaluso : Thanks for your contribution to the Azure documentation! The author, @nitinme, has been notified to review your proposed change.

[2018-01-30 20:49] v-shils commented on #4665
@dlepow, Would you review the changes and sign off if appropriate?

[2018-01-30 21:08] nitinme commented on #4677
#sign-off

[2018-01-30 21:10] nitinme commented on #4677
@JeffMacaluso - Thanks for your contribution. I have signed off on the change and it should get merged/published soon. Please continue to look at the docs and provide feedback/updates as you come across something.

[2018-01-30 22:06] PRMerger19 commented on #4680
@AndKjell : Thanks for your contribution to the Azure documentation! The author, @billmath, has been notified to review your proposed change.

[2018-01-30 22:37] billmath commented on #4680
#sign-off

[2018-01-30 22:56] seshenoy commented on #4682
Closing and reopening the PR for testing purposes only...

[2018-01-31 00:07] gfilicetti commented on #4682
Need anything more from me? Sorry first PR

[2018-01-31 01:10] v-caxian commented on #4682
#sign-off Testing purposes only...

[2018-01-31 19:54] PRMerger6 commented on #4687
@jsenich : Thanks for your contribution to the Azure documentation! The author, @parakhj, has been notified to review your proposed change.

[2018-01-31 20:18] PRMerger18 commented on #4545
## PRMerger Results
 | Issue | Resolution |
 --- | --- |
 Bread Crumb File(s) | This PR contains a change to a bread crumb or toc file.

[2018-01-31 20:23] PRMerger19 commented on #4287
## PRMerger Results
 | Issue | Resolution |
 --- | --- |
 File Change Percent | This PR contains file(s) with more than 20% file change.

[2018-01-31 20:48] parakhj commented on #4687
#sign-off

[2018-01-31 22:56] PRMerger7 commented on #4702
@danielsollondon : Thanks for your contribution to the Azure documentation! The author, @szarkos, has been notified to review your proposed change.

[2018-02-01 01:00] szarkos commented on #4702
#sign-off

[2018-02-01 05:30] PRMerger18 commented on #4709
@amlenduc : Thanks for your contribution to the Azure documentation! The author, @dlepow, has been notified to review your proposed change.

[2018-02-01 07:55] PRMerger9 commented on #4711
@caschw : Thanks for your contribution to the Azure documentation! The author, @kgremban, has been notified to review your proposed change.

[2018-02-02 05:15] PRMerger6 commented on #4723
@surajmb : Thanks for your contribution to the Azure documentation! The author, @davidmu1, has been notified to review your proposed change.

[2018-02-02 21:06] PRMerger6 commented on #4735
@robvanuden : Thanks for your contribution to the Azure documentation! The author, @SyntaxC4, has been notified to review your proposed change.

[2018-02-02 21:17] PRMerger8 commented on #4736
@noelbundick : Thanks for your contribution to the Azure documentation! The author, @dkkapur, has been notified to review your proposed change.

[2018-02-02 23:57] kgremban commented on #4711
Thanks for the updates @caschw

#sign-off

[2018-02-04 12:12] PRMerger12 commented on #4747
@yusukeMatsu : Thanks for your contribution to the Azure documentation! The author, @HeathL17, has been notified to review your proposed change.

[2018-02-05 16:54] JennieHubbard commented on #4545
@arob98

[2018-02-05 19:08] dkkapur commented on #4736
@noelbundick thanks!

#sign-off

[2018-02-05 21:39] SyntaxC4 commented on #4735
#sign-off

[2018-02-06 22:41] GitHubber17 commented on #4682
@charwen @cherylmc - Would you review the proposed changes?  Thanks

[2018-02-06 23:24] iainfoulds commented on #4561
Thanks for the updates, @christianreddington

@rloutlaw - Could you help review this, please. Looks like duplicate of https://github.com/MicrosoftDocs/azure-docs/pull/4483

[2018-02-06 23:24] cherylmc commented on #4682
#sign-off

[2018-02-06 23:26] cherylmc commented on #4682
Good catch! Thanks, @gfilicetti

[2018-02-06 23:29] iainfoulds commented on #4709
Thanks for the updates, @amlenduc

@dlepow - Could you review and sign off if these look good to merge, please? Thanks!

[2018-02-06 23:37] seshenoy commented on #4682
@cherylmc @GitHubber17 @gfilicetti I am an Engineer working on the PRMerger automation tool. I am observing that the correct labels have not been applied to this PR because the .md file which was submitted has an unknown character which is preventing the correct rendering of the meta data yaml headers. Can you please correct the same ? Below is a screenshot... you can see the red dot at the start

[2018-02-06 23:41] PRMerger8 commented on #4682
@gfilicetti : Thanks for your contribution to the Azure documentation! The author, @charwen, has been notified to review your proposed change.

[2018-02-06 23:42] GitHubber17 commented on #4682
Thanks @seshenoy, file corrected.

[2018-02-06 23:44] seshenoy commented on #4682
Excellent.. I can already see the correct labels.

[2018-02-07 06:19] PRMerger6 commented on #4778
@ajithps : Thanks for your contribution to the Azure documentation! The author, @daveba, has been notified to review your proposed change.

[2018-02-07 10:07] msftclas commented on #4782
[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/signed)](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=4782) <br/>All CLA requirements met.

[2018-02-07 10:07] PRMerger10 commented on #4782
@wsilveiranz : Thanks for your contribution to the Azure documentation! The author, @alexkarcher-msft, has been notified to review your proposed change.

[2018-02-07 10:08] PRMerger14 commented on #4782
@wsilveiranz : Thanks for your contribution to the Azure documentation! The author, @alexkarcher-msft, has been notified to review your proposed change.

[2018-02-07 16:42] alexkarcher-msft commented on #4782
Hi @wsilveiranz ,

It looks like you're editing a pretty old version of this doc with quite a few merge conflicts with the current version. A lot of the changes you've made are already present in the docs repo and live copy at docs.microsoft.com.

Can you please pull the latest updates from the repo and make another commit with the merge conflicts resolved?

[2018-02-08 07:16] PRMerger19 commented on #4782
@wsilveiranz : Thanks for your contribution to the Azure documentation! The author, @alexkarcher-msft, has been notified to review your proposed change.

[2018-02-08 07:17] PRMerger8 commented on #4782
@wsilveiranz : Thanks for your contribution to the Azure documentation! The author, @alexkarcher-msft, has been notified to review your proposed change.

[2018-02-09 16:07] PRMerger20 commented on #4816
@JarrettRenshaw : Thanks for your contribution to the Azure documentation! The author, @jimdial, has been notified to review your proposed change.

[2018-02-09 16:14] PRMerger17 commented on #4817
@JarrettRenshaw : Thanks for your contribution to the Azure documentation! The author, @jimdial, has been notified to review your proposed change.

[2018-02-12 13:53] PRMerger18 commented on #4840
@manimaranm7 : Thanks for your contribution to the Azure documentation! The author, @vturecek, has been notified to review your proposed change.

[2018-02-13 13:18] PRMerger13 commented on #4863
@allanhirt : Thanks for your contribution to the Azure documentation! The author, @anosov1960, has been notified to review your proposed change.

[2018-02-13 14:39] PRMerger6 commented on #4865
@SenthuranSivananthan : Thanks for your contribution to the Azure documentation! The author, @bandersmsft, has been notified to review your proposed change.

[2018-02-13 16:44] bandersmsft commented on #4865
@SenthuranSivananthan Thanks a bunch Senthuran.
#sign-off

[2018-02-14 19:49] vturecek commented on #4840
#sign-off

[2018-02-15 17:42] ajithps commented on #4778
Commenting to bump the PR

[2018-02-15 20:24] daveba commented on #4778
#sign-off

[2018-02-20 13:46] jimdial commented on #4816
@anavinahar  Please review.

[2018-02-20 16:50] PRMerger16 commented on #4953
@dc995 : Thanks for your contribution to the Azure documentation! The author, @sasubram, has been notified to review your proposed change.

[2018-02-21 00:32] PRMerger12 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 01:32] PRMerger18 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 01:58] MicrosoftGuyJFlo commented on #4778
#sign-off

[2018-02-21 01:58] PRMerger14 commented on #4778
@MicrosoftGuyJFlo: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 02:33] PRMerger19 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 03:34] PRMerger9 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 04:33] PRMerger15 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 05:34] PRMerger9 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 06:34] PRMerger12 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 07:35] PRMerger9 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 08:35] PRMerger12 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 09:36] PRMerger10 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 10:36] PRMerger17 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 11:38] PRMerger19 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 12:37] PRMerger15 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 13:38] PRMerger7 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 14:39] PRMerger9 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 15:39] PRMerger15 commented on #4778
@: Only the author, @daveba, can sign off on this pull request.

[2018-02-21 19:10] curtand commented on #4953
adding writer @twooley for visibility.

[2018-02-22 02:26] msftclas commented on #4973
[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/signed)](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=4973) <br/>All CLA requirements met.

[2018-02-22 02:27] PRMerger14 commented on #4973
@rahulrai-in : Thanks for your contribution to the Azure documentation! The author, @shizn, has been notified to review your proposed change.

[2018-02-22 03:58] shizn commented on #4973
#sign-off Looks cool! Thanks so much.

[2018-02-24 16:38] JennieHubbard commented on #4545
#sign-off

[2018-02-24 17:12] JennieHubbard commented on #4863
@allanhirt Yep. You are right! Thank you!! If you can change your "Always Om" I can signed off on this. And thanks again!! 👍 @MikeRayMSFT @anosov1960 @CarlRabeler @craigg-msft

[2018-02-24 23:14] PRMerger10 commented on #5008
@sjkwak : Thanks for your contribution to the Azure documentation! The author, @raviperi, has been notified to review your proposed change.

[2018-02-26 19:46] conniey commented on #4287
@v-alje Hey, Is there a way to get someone from the Azure team to look at this document? I wanted to get these clarifications made merged into the documentation so I can point customers to it.

[2018-02-26 20:15] dlepow commented on #4665
@shirgall - Thanks, this addition looks fine to me. Sorry I took a while to get to it.
#sign-off

[2018-02-26 21:02] dlepow commented on #4709
@amlenduc - Thanks for the good suggestion. I agree that adding the ".ppk" extension is clearer in this example. However, there are a number of other changes in this article (including a screenshot) that would be affected by this. I will take on this small update as a separate doc work item, rather than iterate with you in this pull request.
#please-close

[2018-02-26 21:39] dlepow commented on #4665
@v-shils I signed off on this change. Not seeing any tags applied by automation. Please merge. Thanks.

[2018-02-26 22:33] PRMerger9 commented on #4287
@conniey : Thanks for your contribution to the Azure documentation! The author, @lleonard-msft, has been notified to review your proposed change.

[2018-02-26 23:51] iainfoulds commented on #4561
Hi @rloutlaw . Could you please review and approve if valid? The proposed change look correct.

[2018-02-26 23:55] GitHubber17 commented on #4287
@lleonard-msft - Would you review the proposed changes? If approved, add the hash sign-off comment and the automation will take the appropriate action. Thanks

[2018-02-27 03:12] PRMerger17 commented on #5030
Microsoft authors of articles need to make updates through the private repository so the updates can be staged and validated by the current validation rules. After you review staging and fix all validation issues, you can add the sign-off comment to let the PR reviewers know the updates are ready to be merged.It's easy to access the private repo version of your articles in GitHub. Just add -pr to

[2018-02-27 04:17] PRMerger18 commented on #5035
@WhippsP : Thanks for your contribution to the Azure documentation! The author, @rojasja, has been notified to review your proposed change.

[2018-02-27 21:45] lleonard-msft commented on #4287
Hi @conniey - Thanks for the update; I'm really sorry for the delay.  For some reason, this didn't transition until recently.

I see you're using <xref> elements to define links in the "Developer experience" section.  Unfortunately, those aren't rendering as links.  (Click the View button above to see what I mean.)  You'll need to update those with traditional Markdown links pointing to the https:

[2018-02-27 21:56] PRMerger16 commented on #5077
@nftw : Thanks for your contribution to the Azure documentation! The author, @vladvino, has been notified to review your proposed change.

[2018-02-28 05:00] v-shils commented on #4992
Hi @jimdial, Would you review the proposed changed? Thanks.

[2018-02-28 15:32] conniey commented on #4287
@lleonard-msft Hey! Thanks for reviewing my changes. I've updated the documentation based on your feedback. Is there anything else that needs to be done?

[2018-02-28 15:33] PRMerger17 commented on #4287
@conniey : Thanks for your contribution to the Azure documentation! The author, @lleonard-msft, has been notified to review your proposed change.

[2018-03-01 14:58] jimdial commented on #4817
#please-close After re-reading, the proposed change is about settings within the virtual machine, but this article doesn't discuss that, it only discusses the Azure-level changes, so I don't think this text is necessary.  Per our separate e-mail thread, even if the topic were discussed, I think it conflicts with guidance in other articles.

[2018-03-01 14:58] jimdial commented on #4816
#please-close After re-reading, the proposed change is about settings within the virtual machine, but this article doesn't discuss that, it only discusses the Azure-level changes, so I don't think this text is necessary.  Per our separate e-mail thread, even if the topic were discussed, I think it conflicts with guidance in other articles.

[2018-03-01 17:51] PRMerger6 commented on #5183
@cunno89 : Thanks for your contribution to the Azure documentation! The author, @MGoedtel, has been notified to review your proposed change.

[2018-03-02 00:00] SyntaxC4 commented on #5077
#sign-off cc:/@SyntaxC4

[2018-03-02 00:01] PRMerger19 commented on #5077
@SyntaxC4: I'm sorry - only the author of this article, @vladvino, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-02 13:23] PRMerger10 commented on #5212
@agriffard : Thanks for your contribution to the Azure documentation! The author, @bwren, has been notified to review your proposed change.

[2018-03-02 13:26] PRMerger17 commented on #5213
@agriffard : Thanks for your contribution to the Azure documentation! The author, @dstrockis, has been notified to review your proposed change.

[2018-03-02 14:41] jimdial commented on #4992
Thanks for catching! #sign-off

[2018-03-02 21:23] v-shils commented on #5120
Hi @yoelhor, Would you please review the proposed changes? Thanks.

[2018-03-05 13:37] PRMerger15 commented on #5287
@PHenwood : Thanks for your contribution to the Azure documentation! The author, @andrewhoh, has been notified to review your proposed change.

[2018-03-05 14:42] PRMerger8 commented on #5293
@benpahl : Thanks for your contribution to the Azure documentation! The author, @MicrosoftGuyJFlo, has been notified to review your proposed change.

[2018-03-05 21:32] allanhirt commented on #4863
Typo 😊

From: Carl Rabeler [mailto:notifications@github.com]
Sent: Monday, March 5, 2018 4:28 PM
To: MicrosoftDocs/azure-docs <azure-docs@noreply.github.com>
Cc: Allan Hirt <allan.hirt@sqlha.com>; Mention <mention@noreply.github.com>
Subject: Re: [MicrosoftDocs/azure-docs] Update sql-database-high-availability.md (#4863)

@CarlRabeler commented on this pull request.

______________________________

[2018-03-05 22:01] AndrewHoh commented on #5287
#sign-off

[2018-03-06 01:46] PRMerger7 commented on #5317
@MohitGargMSFT : Thanks for your contribution to the Azure documentation! The author, @giladm, has been notified to review your proposed change.

[2018-03-06 01:46] MohitGargMSFT commented on #5317
(ForumsTeam)FixesMicrosoftDocs/azure-docs#5296 #5317

[2018-03-06 01:48] MohitGargMSFT commented on #5317
(ForumsTeam) Fixes MicrosoftDocs/azure-docs#5296

[2018-03-06 01:50] MohitGargMSFT commented on #5317
#sign-off

[2018-03-06 01:50] PRMerger15 commented on #5317
@MohitGargMSFT: I'm sorry - only the author of this article, @giladm, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-06 02:12] PRMerger8 commented on #5319
@joseph4tw : Thanks for your contribution to the Azure documentation! The author, @mimig1, has been notified to review your proposed change.

[2018-03-06 16:55] SnehaGunda commented on #5319
@joseph4tw  https://github.com/Azure-Samples/documentdb-dotnet-todo-app/pull/9 should be merged before this PR, we will get back soon.

[2018-03-06 18:58] SnehaGunda commented on #5319
Other PR is merged, so we can merge this now.

[2018-03-06 18:58] SnehaGunda commented on #5319
#sign-off

[2018-03-06 18:58] PRMerger12 commented on #5319
@SnehaGunda: I'm sorry - only the author of this article, @mimig1, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-06 19:07] mimig1 commented on #5319
#sign-off

[2018-03-07 12:33] PRMerger17 commented on #5395
@amattas : Thanks for your contribution to the Azure documentation! The author, @bprakash, has been notified to review your proposed change.

[2018-03-08 01:05] CarlRabeler commented on #4863
fixing in another PR as I have no permission to fix here.
#please-close

[2018-03-08 21:20] MicrosoftGuyJFlo commented on #5293
#sign-off

[2018-03-08 21:52] PRMerger10 commented on #5490
@mikloscari : Thanks for your contribution to the Azure documentation! The author, @neilpeterson, has been notified to review your proposed change.

[2018-03-08 21:58] neilpeterson commented on #5490
@mikloscari thanks for the contribution, looks good.

#sign-off

[2018-03-09 01:27] msftclas commented on #5509
[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/signed)](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=5509) <br/>All CLA requirements met.

[2018-03-09 07:21] PRMerger10 commented on #5509
Microsoft authors of articles need to make updates through the private repository so the updates can be staged and validated by the current validation rules. After you review staging and fix all validation issues, you can add the sign-off comment to let the PR reviewers know the updates are ready to be merged.It's easy to access the private repo version of your articles in GitHub. Just add -pr to

[2018-03-09 18:56] lleonard-msft commented on #4287
#sign-off

[2018-03-09 21:37] v-shils commented on #5491
Hi @CarlRabeler, Would you review the proposed changes? Thanks.

[2018-03-09 21:59] CarlRabeler commented on #5491
#sign-off
@KoprowskiT this may not take effect until you also update the file in which this link is embedded. I do not recall at the moment. I will watch and see.

[2018-03-09 23:05] PRMerger18 commented on #5572
@v-alje : Thanks for your contribution to the Azure documentation! The author, @jimdial, has been notified to review your proposed change.

[2018-03-12 00:08] KoprowskiT commented on #5491
Hi @CarlRabeler please do not tak action now. We just use this site and picture as example when we discuss with @tomresing  Tom Resing. We can close this threat without action.

[2018-03-12 14:21] tomresing commented on #5491
Yes. I think the idea is correct, but you'd like to recapture without the purple border.

[2018-03-12 15:14] PRMerger20 commented on #5641
@guybartal : Thanks for your contribution to the Azure documentation! The author, @dominicbetts, has been notified to review your proposed change.

[2018-03-12 18:48] MicrosoftGuyJFlo commented on #5213
#sign-off

[2018-03-12 18:48] PRMerger18 commented on #5213
@MicrosoftGuyJFlo: I'm sorry - only the author of this article, @dstrockis, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-13 20:06] CarlRabeler commented on #5317
#sign-off

[2018-03-13 20:06] PRMerger14 commented on #5317
@CarlRabeler: I'm sorry - only the author of this article, @giladm, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-14 04:24] mikeurnun commented on #5763
Hi @Lichard - Just an FYI to get this PR on your radar as I didn't see the merger bot notify you.

[2018-03-14 09:50] PRMerger10 commented on #5771
@bdebakker : Thanks for your contribution to the Azure documentation! The author, @AndrewHoh, has been notified to review your proposed change.

[2018-03-15 16:17] mimig1 commented on #5771
Emailing @andrewhoh about this PR.

[2018-03-15 19:50] AndrewHoh commented on #5771
#sign-off

[2018-03-15 20:55] mikeurnun commented on #5763
#sign-off

[2018-03-15 23:21] mtillman commented on #5035
@rojasja bumping to review proposed changes to this article.

[2018-03-16 19:54] omidm1 commented on #5395
#sign-off

[2018-03-16 19:54] PRMerger10 commented on #5395
@omidm1: I'm sorry - only the author of this article, @bprakash, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-16 20:26] cjgronlund commented on #5395
@Blackmist
#sign-off

[2018-03-16 20:26] PRMerger17 commented on #5395
@cjgronlund: I'm sorry - only the author of this article, @bprakash, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-16 20:27] cjgronlund commented on #5395
BTW: I'm the doc manager for this area. Thanks!

[2018-03-16 20:28] PRMerger17 commented on #5395
@amattas : Thanks for your contribution to the Azure documentation! The author, @bprakash, has been notified to review your proposed change.

[2018-03-16 22:58] PRMerger7 commented on #5914
Microsoft authors of articles need to make updates through the private repository so the updates can be staged and validated by the current validation rules. After you review staging and fix all validation issues, you can add the sign-off comment to let the PR reviewers know the updates are ready to be merged.It's easy to access the private repo version of your articles in GitHub. Just add -pr to

[2018-03-18 01:13] PRMerger16 commented on #5936
@paulkel : Thanks for your contribution to the Azure documentation! The author, @MightyPen, has been notified to review your proposed change.

[2018-03-18 15:15] arob98 commented on #5936
#sign-off

[2018-03-18 15:15] PRMerger7 commented on #5936
@arob98: I'm sorry - only the author of this article, @MightyPen, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-19 20:22] PRMerger12 commented on #5987
Microsoft authors of articles need to make updates through the private repository so the updates can be staged and validated by the current validation rules. After you review staging and fix all validation issues, you can add the sign-off comment to let the PR reviewers know the updates are ready to be merged.It's easy to access the private repo version of your articles in GitHub. Just add -pr to

[2018-03-19 22:25] PRMerger17 commented on #5993
@kasparks : Thanks for your contribution to the Azure documentation! The author, @manbeenkohli, has been notified to review your proposed change.

[2018-03-20 23:55] PRMerger16 commented on #6053
@RavennMSFT : Thanks for your contribution to the Azure documentation! The author, @MarkusVi, has been notified to review your proposed change.

[2018-03-21 06:35] PRMerger10 commented on #6064
@christiankuhtz : Thanks for your contribution to the Azure documentation! The author, @KumudD, has been notified to review your proposed change.

[2018-03-21 15:09] PRMerger16 commented on #6086
@chunsiongtan : Thanks for your contribution! The author, @MikeRayMSFT, has been notified to review your proposed change.

[2018-03-21 22:13] PRMerger6 commented on #6116
@v-alje : Thanks for your contribution! The author, @cherylmc, has been notified to review your proposed change.

[2018-03-22 19:09] JennieHubbard commented on #5008
@Blackmist @nitinme

[2018-03-22 19:17] JennieHubbard commented on #4561
@arob98 @rloutlaw

[2018-03-22 19:22] Blackmist commented on #5008
Thanks for the contribution @sjkwak , and apologies for the time it's taken to get this change merged. #sign-off

[2018-03-22 19:22] PRMerger9 commented on #5008
@Blackmist: I'm sorry - only the author of this article, @raviperi, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-22 19:38] rloutlaw commented on #4561
#sign-off

[2018-03-22 22:04] kasparks commented on #5993
Opened PR through wrong process - closing

[2018-03-22 23:57] v-shils commented on #6085
Hi @MikeRayMSFT, would you review the proposed changes? Thanks.

[2018-03-23 14:30] PRMerger6 commented on #6181
@ossentoo : Thanks for your contribution! The author, @rwike77, has been notified to review your proposed change.

[2018-03-23 17:09] rwike77 commented on #6181
@ossentoo Good catch on the spelling mistake.  Actually, it should really be "deploys" and not "displays".  Mind pushing an update?  Thanks.

[2018-03-23 19:16] carmonmills commented on #3793
@bandersmsft will you look at this and take appropriate action.

[2018-03-23 19:29] bandersmsft commented on #3793
@M-Oberg Thanks Michael!
#sign-off

[2018-03-23 19:29] PRMerger9 commented on #3793
@bandersmsft: I'm sorry - only the author of this article, @Jim-Parker, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-23 19:32] bandersmsft commented on #3793
@M-Oberg Hi Michael. Will you please close this pull request? It looks like we have already fixed this minor error previously while your PR was in limbo. Sorry about that.
-B

[2018-03-25 07:26] msftclas commented on #6236
[![CLA assistant check](https://cla.opensource.microsoft.com/pull/badge/signed)](https://cla.opensource.microsoft.com/MicrosoftDocs/azure-docs?pullRequest=6236) <br/>All CLA requirements met.

[2018-03-26 20:10] seattlejoe commented on #4454
@makhdumi Thank you so much for trying to help others avoid the problems you had. I apologize that the article was missing information. Also, I apologize that it has taken so long to approve your change. I'm going to try to get this verified and approved soon. Thank you.

[2018-03-26 20:13] rothja commented on #4454
@makhdumi Also, just to avoid any confusion, the previous message was from me on a test github account that I was accidentally still signed into. Thanks.

[2018-03-26 20:45] MikeRayMSFT commented on #6085
@chunsiongtan  - thank you for the helpful image. Because this is an image file I am using a different pull request to stage and verify in our private repository. Your submitted image should be updated soon. Thank you!

[2018-03-26 20:51] MikeRayMSFT commented on #6086
#sign-off

[2018-03-27 00:01] jpconnock commented on #4187
@joehsy  -- we apologize for the delay in responding to your contribution.  @tamram  - can you please review this PR?  Feel free to assign within our team as appropriate.  Thanks!

[2018-03-27 00:20] jpconnock commented on #4723
Please assign this to @vhorne -- thanks!

[2018-03-27 05:10] v-shils commented on #6085
Hi @MikeRayMSFT, can this PR be closed? Thanks.

[2018-03-27 15:19] jpconnock commented on #4918
@andrewallen  -- thank you for your contribution!  We are reviewing our this content and will update it with the latest information from our engineering team. We have several related PRs, so we are going to roll the updates together into a new one.

With your permission, I'd like to close this PR in anticipation of this issue being resolved.  Is that ok with you?

FYI @cynthn

FYI @cynthn

[2018-03-27 15:44] MikeRayMSFT commented on #6085
@v-shils  - yes, please. I'm not sure how to close the PR.

[2018-03-27 16:50] rothja commented on #6236
@Max-Meng Thanks, again. #sign-off

[2018-03-27 17:14] davidmu1 commented on #4723
#sign-off

[2018-03-27 19:35] cynthn commented on #4918
#sign-off @andrewallen thanks for the contribution!

[2018-03-28 11:15] dominicbetts commented on #5641
Hi @guybartal - thanks for the suggested change. I've taken a look at your suggested `az` command. As an alternative, how about:
az vm list-ip-addresses --name YOUR-VM-NAME --output table

That gives better formatted output that our existing command, and shows just the public IP address of the relevant VM rather than needing you to scan through a list if you have multiple VMs?

[2018-03-28 20:26] twooley commented on #4953
#sign-off

[2018-03-28 20:26] PRMerger13 commented on #4953
@twooley: I'm sorry - only the author of this article, @sasubram, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-03-29 08:39] guybartal commented on #5641
You are correct @dominicbetts , but the Public IP in this case is associated to the external load balancer and not the VM, so you wont see it with this command, that's why I suggested this pull request. if you have another way to get it as single result go for it :)

[2018-03-30 17:15] rwike77 commented on #6181
@ossentoo  can you push a commit with "deploys" instead of "displays"?  Thanks.

[2018-03-30 18:22] ossentoo commented on #6181
Will do

[2018-03-30 18:22] ossentoo commented on #6181
Will do

[2018-03-30 23:09] carmonmills commented on #5212
@bwren Please review and confirm whether this can be merged?  Thanks

[2018-04-01 20:48] PRMerger13 commented on #6181
@ossentoo : Thanks for your contribution! The author, @rwike77, has been notified to review your proposed change.

[2018-04-02 17:35] rwike77 commented on #6181
@ossentoo Perfect, thank you.  #sign-off

[2018-04-02 21:50] RavennMSFT commented on #6053
Made the change to use the new API. @MarkusVi , can you update the image as it points to the old command.

[2018-04-04 09:17] dominicbetts commented on #5641
Hi @guybartal - I expect I'm missing something, but both approaches (yours and mine) give the same IP address:

[code]

This account only has a single VM in it, so only one shows up in the list from your command. Under what circumstances would you expect the results of these two commands to give different IP addresses?

Thanks, Dominic

[2018-04-05 16:10] davidmu1 commented on #5035
#sign-off

[2018-04-05 16:11] PRMerger12 commented on #5035
@davidmu1: I'm sorry - only the author of this article, @rojasja, can sign off on your changes. But we do have an exception process - if you are on the Microsoft content or product team for this product area, you can ask the PR review team to review and merge it by sending mail to the techdocprs alias.

[2018-04-16 17:45] ktoliver commented on #4454
Merging per Angela's approval email.

[2018-04-25 21:57] davidmu1 commented on #5120
#sign-off

[2018-04-26 04:11] PRMerger6 commented on #5120
@conniey : Thanks for your contribution! The author, @davidmu1, has been notified to review your proposed change.

[2018-05-08 15:25] spelluru commented on #3805
@elitree - Thank you for your feedback. I apologize for the delay in getting the fix into the article. This PR has a merge conflict now. I have fixed this issue as part of another PR. Please verify the fix in the article: https://docs.microsoft.com/en-us/azure/notification-hubs/notification-hubs-android-push-notification-google-fcm-get-started.

Thanks again for your contribution. We appreciate it

[2018-05-08 15:49] elitree commented on #3805
Looks good, thanks! This one can be rejected.

[2018-05-11 23:42] mtillman commented on #6053
@MarkusVi Please review and sign-off if approved. Also make sure you update the image as suggested by @RavennMSFT.

[2018-05-15 16:48] ghost commented on #6053
#sign-off

[2018-05-15 17:36] PRMerger14 commented on #6053
@RavennMSFT : Thanks for your contribution! The author, @MarkusVi, has been notified to review your proposed change.

[2018-05-16 07:53] dominicbetts commented on #5641
@guybartal - I'm closing this PR now - please let me know if you think it should be reopened - thanks!

[2018-05-16 07:53] dominicbetts commented on #5641
#please-close

[2018-06-14 09:42] Deland-Han commented on #4187
https://github.com/MicrosoftDocs/azure-docs-pr/pull/41729 is submitted to make the change and fix the conflicts.

[2018-06-14 09:42] Deland-Han commented on #4187
#please-close

[2018-06-22 20:31] JennieHubbard commented on #4608
@timlt @philmea

[2018-06-22 20:57] timlt commented on #4608
Ping @Wesmc7777 to review, ping @fsautomata, and resolve.

[2018-06-25 18:21] wesmc7777 commented on #4608
@fsautomata @kik3r If we are going to call this out to forewarn the reader, I'm thinking we should inform the reader better by outlining the deviations that the reader needs to be aware of. Is this the correct and full scope of deviations? :

* IoT Hub does not support QoS 2 messages. If a device app publishes a message with QoS 2, IoT Hub closes the network connection.
* IoT Hub does not persist

[2018-07-03 12:47] dominicbetts commented on #4608
@wesmc7777 @kik3r @fsautomata - this document has been modified since this PR was submitted (so it's now reporting a conflict). I'd suggest we add the following sentence after the two bullet points in the article intro:

"IoT Hub is not a full-featured MQTT broker and does not support all the behaviors specified in the MQTT v3.1.1 standard. This article describes how devices can use supported MQTT

[2018-07-03 16:01] wesmc7777 commented on #4608
@dominicbetts I agree with your recommendation.  @kik3r Can you pull in the latest updates to resolve the current merge conflicts, and use the wording suggested by Dominic above?

[2018-08-10 14:55] PRMerger19 commented on #4608
@LizCasey : Thanks for your contribution! The author, @fsautomata, has been notified to review your proposed change.

[2018-08-10 14:58] LizCasey commented on #4608
@ktoliver or @GitHubber17 , Please review and let me know if I correctly resolved this merge conflict before I merge this pull request. Many thanks! :)

[2018-08-10 19:02] LizCasey commented on #4608
Merging this PR. @kik3r , Thank you very much for your contribution!