[2012-07-02 00:30] mollybostic opened #24 "customer report - issue in cloud service + SQL Database tutorial in VS 2010"
From Disqus comments on http://www.windowsazure.com/en-us/develop/net/tutorials/cloud-service-with-sql-database (comment by Lee Moore):

I had to delete "User Instance=true;" to get the local deployment to work with VS 2010 and SQL Server Express.

[2012-07-24 22:43] mohitsriv opened #117 "Clarify the CloudConfigurationManager retrieves AppSettings but not ApplicationSettings"
Details:

http://stackoverflow.com/questions/11611404/cloudconfigurationmanager-does-not-pick-up-applicationsettings-from-app-config

[2012-07-26 17:24] mollybostic opened #122 "add length indication to videos (all manage center videos)"

[2012-07-30 18:11] ghogen opened #142 "Add attribute tags to profiling in the compute emulator"
The initial check-in lacked attribute tags.

[2012-08-12 01:46] mollybostic opened #191 "New Node article: Host a Node app on a VM"

[2012-08-12 20:57] mollybostic opened #201 "update cloud service + sql article to MVC 4"
http://www.windowsazure.com/en-us/develop/net/tutorials/cloud-service-with-sql-database/

Getting this on our roadmap as a future item.  The tutorial currently uses MVC 3.  We'll need to update the tutorial to the MVC 4 final bits when they are released.

[2012-08-16 11:47] yavorg opened #219 "Improvement in create-a-windows-azure-account (and related) chunks"
The chunks tell the user to go to windowsazure.com and click "Free trial". Why ask people to do this dance? It's the internet... just provide a direct link here https://www.windowsazure.com/en-us/pricing/free-trial/. We can have a screenshot of that page instead.

[2012-09-14 04:17] tonyme opened #315 "Tutorial - http://www.windowsazure.com/en-us/develop/net/tutorials/web-site-with-sql-database/"
Screen shot on the create a new web site with SQL DB is outdated.  There is now a connection string text box, so the relevant screen shot needs updating.

[2012-11-12 21:07] joostdenijs opened #585 "Improper Link"
In https://www.windowsazure.com/en-us/develop/java/common-tasks/sql-azure-management/
the link in the first paragraph to the How To Guide goes to the .net version

[2012-11-12 22:22] scottturnbull opened #587 "Log Topics with Chunks During Publish"
This request issue is to investigate and report back whether the publishing script can be modified to flag in the log file topics that contain chunks, so that they require manual republishing in Umbraco.

ISSUES THIS CHANGE ADDRESSES:
1. When iX updates topics in content-ppe Umbraco that contain chunks, we need to manually republish the topic before chunks it contains resolve and display on the pa

[2012-11-20 00:51] brian-swan opened #623 "Add information about using Filter:applyQueryString to PHP/Table documentation"
Customer feedback suggests that we need to add information about how to use the Filter::applyQueryString method to the "How to Use Windows Azure Table Storage from PHP" documentation.

[2012-11-30 22:48] brian-swan opened #648 "Add PowerShell information to "enable remote desktop" article"
This article shows how to enable remote desktop for cloud services: DevCenter/Shared/Chunks/remote-desktop.md.

Since it presumes a Windows OS, it should include information about how to enable remote desktop using the Windows Azure PowerShell cmdlets (which can be done with one command: Enable-AzureServiceProjectRemoteDesktop).

[2012-12-03 20:04] ghost opened #654 "DNS entry page has some bugs w.r.t. storage vs web sites"
Looking at this page:
https://www.windowsazure.com/en-us/develop/net/common-tasks/custom-dns/

The section about custom DNS for your *storage account* has text about *web sites* and manage domains vs manage domain; maybe just a copy and paste error.

[2013-01-19 00:31] alexandair opened #881 "a bug in Save-AzureVMImage help topic"
[code]
It should be a stopped virtual machine.

[2013-01-22 00:02] karthikaraman opened #883 "Update Backup To Windows Azure topic"
updates to SQL Server Backup to Windows Azure Blob Storage Service Topic

[2013-01-22 22:31] brian-swan opened #885 ""Create with Database" still shown"
There is text and imagery in this topic, http://www.windowsazure.com/en-us/develop/php/tutorials/website-w-mysql-and-git/, that still uses the old "Create with Database" terminology instead of the newer "Custom Create" terminology.

[2013-01-29 20:34] mollybostic opened #929 "Node.js reference content"

[2013-02-12 06:16] mollybostic opened #976 "out-of-date .NET common task"
Content out of date with old portal screenshots https://www.windowsazure.com/en-us/develop/net/common-tasks/remote-desktop/

[2013-02-12 07:30] davidwrede opened #977 "Media Services download page suggestion"
http://www.windowsazure.com/en-us/develop/media-services/developer-tools/

•         I made Windows 8 and Silverlight title as link to Player Framework. Most of developers use Player Framework and I think it makes a lot of senses to promote the link onto title field - most people will click on the link rather than reading through description and after that, they will know what they need is actuall

[2013-02-13 00:00] mingfeiy opened #978 "[Media Services] Adding Blog Roll from current team members"
John Deutscher: http://blog.johndeutscher.com/
Nick Drouin: http://blog-ndrouin.azurewebsites.net/
Mingfei Yan: http://mingfeiy.com/
Vishal Sood: http://vishalsood.com/
Cenk Dingiloglu: http://blogs.iis.net/cenkd/default.aspx

Molly showed me a three-column design page but I couldn't open. We could cut down one column if necessary.

[2013-02-20 19:35] jcookems opened #991 "Need more documentation for using Java Service Runtime"
See https://github.com/WindowsAzure/azure-sdk-for-java/issues/239 for more details. The Java dev center talks about how to use the Service Runtime when deploying with the "Windows Azure Plugin for Eclipse with Java", but does not talk about other types deployment scenarios. Should add a topic with content along the lines of @gcheng answer in http://stackoverflow.com/questions/9415237/java-sdk-for-

[2013-02-27 01:04] mingfeiy opened #997 "[Media Services] Download page Services and Client SDKs links change"
Referring to http://www.windowsazure.com/en-us/downloads/ under Media tab. I suggest the following change:
1. Rename the title as Media Services SDKs and Player frameworks
2. Remove the Reference on the right side
3. Having the following six links under the title:
- Media Services .NET SDK
(link: http://nuget.org/packages/windowsazure.mediaservices)
- Media Services JAVA SDK
(link: https://github.

[2013-02-27 01:09] mingfeiy opened #998 "[Media Services] Adding icons/images for Dev Center page"
There are no columes icon and banner icon for media services dev center page. http://www.windowsazure.com/en-us/develop/media-services/

We have the most important media conference coming from April 6-11 and we expect high traffic with dev center and hope this could be fixed.

[2013-03-06 00:59] gcheng opened #1013 "We should mention explicitly that Eclipse plugin has dependency on .NET SDK"
on this page
http://msdn.microsoft.com/en-us/library/windowsazure/hh690944.aspx

When customer follow the instruction on the above page, they run into error.
http://stackoverflow.com/questions/15233037/infinity-loop-in-starting-a-role-instance-in-windows-azure-emulator-waworkerho

[2013-03-11 17:28] davidwrede opened #1021 "Minor tweaks to Monitor a Media Services account page"

[2013-03-12 20:31] mingfeiy opened #1024 "[Media Services] Adding Dynamic Packaging video for MSDN page"
We recently have a new video to introduce dynamic packing(http://channel9.msdn.com/Series/Windows-Azure-Media-Services-Tutorials/Introduction-to-dynamic-packaging). Could I link the video on the right side of msdn page (http://msdn.microsoft.com/en-us/library/windowsazure/jj889436.aspx).

[2013-03-14 20:34] Selcin opened #1027 "Refresh SQL Server Getting Started and Provisioning topics"
I just updated these two topics to give links to Windows Azure Scoped library topics. And I also fixed one bug.
http://www.windowsazure.com/en-us/manage/windows/common-tasks/install-sql-server/
http://www.windowsazure.com/en-us/manage/windows/common-tasks/sql-server-on-a-vm/
Please stage them and send me a link for review. Thanks.

[2013-03-14 23:10] mingfeiy opened #1028 "[Media Services] Redirect traffic from the old scenario page"
I went on WEBTRENDS and realize this page(http://www.windowsazure.com/en-us/home/features/media-services/) is getting the highest hits but we are deprecating it, could we redirect this page to scenario page? http://www.windowsazure.com/en-us/home/features/media-services/

[2013-03-20 20:13] tysonn opened #1034 "Umbraco Only Updates for April 5 - AUX 3.2 RTW"

[2013-03-26 20:33] sethmanheim opened #1065 "More updates to Service Bus multi-tier tutorial"
Making sure all headings use sentence capitalization per WA.com guidelines.

[2013-03-27 00:26] mollybostic opened #1067 "Umbraco only updates for 4/4/2013 release"

[2013-03-27 22:13] davidwrede opened #1071 "Removing pre-release text from OSMF Plug-in tutorial"

[2013-03-28 16:17] WalterHub opened #1074 "Add new Jenkins topic to carousel slide and surface the topic in links on navigation pages"

[2013-03-28 23:23] timamm opened #1080 "Updates to Git Publishing tutorial for Kudu"
Please publish asap in time for AUX 3.2.

The "Publishing a web site with Git" tutorial has been updated to reflect the new UI with new screenshots and content. Since the scope of the tutorial now encompasses Dropbox and Mercurial in addition to Git, GitHub, BitBucket, and CodePlex, the title has changed to "Publishing from Source Control to Windows Azure Web Sites."

[2013-03-28 23:56] guangyang opened #1082 "Add a download archive link for PowerShell"
https://github.com/WindowsAzure/azure-sdk-tools/wiki/Downloads

This is the link. Please make this into the release of week 4/1/2013. Thanks.

[2013-03-29 21:43] seanost opened #1085 "Updated "What is Azure AD..." Topic for application changes, links, description"

[2013-04-01 23:10] ChrisRisner opened #1094 "Add samples to iOS / Android samples pages"
I just released a sample for iOS and Android related to accessing Table and Blob Storage through Mobile Services.  Can the following be added to the appropriate pages:

Name:  Connecting to Storage

iOS - https://github.com/WindowsAzure-Samples/iOS-MobileServices-Storage
Description:
This sample demonstrates how you can make use of Windows Azure Table and Blob Storage from an iOS app using Mobile

[2013-04-08 00:55] timamm opened #1102 "Updates to How Configure Web Sites and How to Manage Web Sites pages"
Extensive updates to these two topics to bring them in line with WAWS UI and functionality.

[2013-04-10 20:14] Selcin opened #1122 "Refresh SQL Server Getting Started, Provisioning topics; and also 11 screenshots for IAAS GA"
I updated the SQL Server Getting Started and Provisioning topics for IAAS GA. I also updated 11 screenshots based on the latest changes at WA.com portal. Please make sure that all these changes go live on IAAS GA date not before. I also would like to get a link to staging so that I review my topics. Thanks!

[2013-04-10 21:18] gcheng opened #1124 "use the latest version of Windows Azure SDK for Java in maven depdency"
according to this article, we can use LATEST as the version number of the maven dependency.

http://stackoverflow.com/questions/30571/how-do-i-tell-maven-to-use-the-latest-version-of-a-dependency

[2013-04-10 21:34] Selcin opened #1125 "Update on Installing SQL Server topic"
I had to add a FWLink to the Virtual Machine sizes topic in this topic for IAAS GA. Thanks for your help!

[2013-04-10 23:22] Selcin opened #1129 "Updated SQL Server in WA VM topic"
Added div for navigation chunk. Thanks.

[2013-04-11 20:17] Juliako opened #1138 "updated howto-manage-content-in-media-services and added EncoderDialog2 image"

[2013-04-12 16:33] gcheng opened #1142 "Using Java Service Bus should be reference from Windows Azure Java Developer Guide"
This page http://msdn.microsoft.com/en-us/library/windowsazure/hh690943(VS.103).aspx

should contain reference to the following pages
http://www.windowsazure.com/en-us/develop/java/how-to-guides/service-bus-queues/
http://www.windowsazure.com/en-us/develop/java/how-to-guides/service-bus-topics/
![JavaServiceBusRef](https://f.cloud.github.com/assets/1541773/373897/0f840c76-a38f-11e2-9fac-96fc5c2adc

[2013-04-12 16:57] gcheng opened #1143 "complete the services we have documentation on Java Developer Guide"
Many services Java SDK support do not appear on the left bar of Java Developer Guide
http://msdn.microsoft.com/en-us/library/windowsazure/hh690943(VS.103).aspx
![JavaDevGuide](https://f.cloud.github.com/assets/1541773/373994/ffada05c-a391-11e2-90a2-48494198739d.JPG)

[2013-04-12 17:53] gcheng opened #1144 "Using Service Bus Connection String instead of owner/secret"
Because of the globalization of the Azure, Java SDK no longer default to US instance because it is likely to cause global confusion. Instead, we support connection string, it will be great the how to guides can be updated accordingly

http://www.windowsazure.com/en-us/develop/java/how-to-guides/service-bus-topics/

http://www.windowsazure.com/en-us/develop/java/how-to-guides/service-bus-queues/

i

[2013-04-15 04:56] gcheng opened #1145 "On media service page, there should be a link to Java Service Bus how to"
Currently, it only has .NET at the bottom

http://www.windowsazure.com/en-us/home/features/media-services/

[2013-04-16 15:25] mumian opened #1151 "Update the Big Data portion in [Data Services](http://www.windowsazure.com/en-us/develop/net/data/)"
The two tutorials under the Big Data section are not relevant.

I suggest to list the following two articles instead:

Guidance: Introduction to the Windows Azure HDInsight Service

          A conceptual overview of the components of HDInsight.

Tutorial: Get Started with the HDInsight Service

           Learn the fundamentals of working with the HDInsight service.

[2013-04-16 18:37] mumian opened #1152 "Update a paragraph in [Best Practices for Performance in Windows Azure Applications](http://www.windowsazure.com/en-us/develop/net/best-practices/performance/)"
The following paragraph needs to be updated:

Windows Azure provides direct support for Hadoop, and also enables use of other technologies. For information about Hadoop on Windows Azure, see:

[Apache Hadoop-based Services for Windows Azure]
[Big Data]
[Big Data Hadoop Preview Comes to Windows Azure]

with

Windows Azure HdInsight Service provides direct support for Hadoop, and also enables use of

[2013-04-18 17:48] rwike77 opened #1168 "Pull request 1167: Updated article with RDP agent injection info (AUX3.3)"
Pull request:
https://github.com/WindowsAzure/azure-content/pull/1167

[2013-04-18 18:39] gcheng opened #1171 "PHP should be mentioned in the service bus documentation"
http://www.windowsazure.com/en-us/home/features/messaging/

![phpservicebus](https://f.cloud.github.com/assets/1541773/398391/5c20964a-a857-11e2-87ee-3bfd493ad7d3.png)

[2013-04-18 19:09] gcheng opened #1172 "Update Subscription should have been mentioned in Subscription"
http://msdn.microsoft.com/en-us/library/windowsazure/hh780765.aspx

![updateSubscription](https://f.cloud.github.com/assets/1541773/398598/8791854c-a85b-11e2-9af1-728d967654f5.png)

[2013-04-18 19:33] mumian opened #1173 "The formatting issue in http://www.windowsazure.com/en-us/manage/services/hdinsight/"
The first letter in the titles needs to be capitalized:

Guidance: What version of Hadoop is in Windows Azure HDInsight?
Tutorial: Simple recommendation engine using Apache Mahout
Tutorial: Using HDInsight to process Blob Storage data and write the results to a SQL Database

[2013-04-18 20:59] rwike77 opened #1176 "Re-write of two diagnostics articles for 4/25"
https://github.com/WindowsAzure/azure-content/pull/1175

[2013-04-22 19:14] Blackmist opened #1189 "Add retry filter to existing 'how to' articles"
Relevant logic is in serviceclient.js, starting around line 357. Also an example in the samples folder for SDK.

[2013-04-22 21:00] Selcin opened #1191 "Updated Provisioning SQL Server in WA VM topic"
Updated provisioning article. Please stage and send me a link to verify. Thanks!

[2013-04-23 19:00] mingfeiy opened #1194 "[Media Services] Change one of the banner to GitHub Release"
We will be releasing Service SDK source code to Github this Sprint 13.4(exit at 5/22). We want to change the first banner linked to GitHub.

[2013-04-24 03:15] nickharris opened #1197 "New Videos for Windows Phone Tutorial Pages on wa.com"
<a name="target-page-for-new-windows-phone-content" />
## Target Page for New Windows Phone Content:  ##

Please update the Windows Azure tutorial summary page for Windows Phone with the videos in the next section.  i.e update the WP tutorials page to have similar layout to as the windows store tutorial page (http://www.windowsazure.com/en-us/develop/mobile/resources/)

Target Windows Phone tutori

[2013-04-24 05:45] Juliako opened #1199 "Added info to howto-scale-media-service.md"

[2013-04-24 17:03] Selcin opened #1202 "SQL Provisioning topic needed minor update"
Fixed one FWLINK in the topic.

[2013-04-24 19:07] Juliako opened #1206 "typo in howto-scale-media-service"

[2013-04-24 20:13] davidwrede opened #1209 "Adding Android conceptual content for Mobile Services"

[2013-04-24 21:15] timamm opened #1213 "Websites - updates for AUX 3.3"
Please publish in time for AUX 3.3.

[2013-04-25 00:04] mingfeiy opened #1218 "[Media Services] Adding Release note link besides banner"
http://www.windowsazure.com/en-us/develop/media-services/

The link should be pointing to: http://msdn.microsoft.com/en-us/library/windowsazure/jj884319.aspx

[2013-04-25 00:10] mingfeiy opened #1219 "[Media Services] Adding GitHub release banner for 5/17"
We are going to release .NET SDK source code latest 5/17. And we should move the fifth banner forward to the 2nd and make it showing .NET SDK and JAVA SDK together.

[2013-04-25 01:03] timamm opened #1221 "AUX 3.3 Web Sites content fixes"
Please publish for AUX 3.3.

[2013-04-25 17:37] sethmanheim opened #1229 "Update Service Bus topics for SDK 2.0"

[2013-04-26 20:32] Selcin opened #1242 "Fixed a spelling error in the SQL Server Provisioning article"
Fixed one little mistake.

[2013-04-26 21:23] nickharris opened #1244 "Add Windows Phone Samples page to Mobile Services Dev Center"
This issue adds a new Samples Page to the Mobile Services devcenter for Windows Phone

### Add Samples Link to Left Nav Bar when Windows Phone is selected ###

i.e should have samples link similar to when W8 is selected https://www.windowsazure.com/en-us/develop/mobile/tutorials/get-started-with-users-dotnet/

### Add the new Windows Phone Samples Page ###

#### Sample 1 ####
- Title: Storing and

[2013-04-30 17:06] gcheng opened #1249 "chaining service bus with auto forwarding is not clickable."
Although it appears to be clickable like other blue text, but actually it is not on chrome browser

http://msdn.microsoft.com/en-us/library/windowsazure/jj737688.aspx

![sbchain](https://f.cloud.github.com/assets/1541773/445271/242c91d4-b1b8-11e2-89d9-c55ebe7f9076.jpg)

[2013-05-01 18:21] gcheng opened #1258 "The URI of the POST request is incorrect"
http://msdn.microsoft.com/en-us/library/jj839746.aspx

there should be subscription/topic there instead of queue.

[2013-05-01 20:24] timamm opened #1260 "Web sites updates for release on May 8"
Updated  "howto-configure-websites.md" handler mappings description per RD781084.

Updated the following web-related pages to change "Preview Management Portal" to "Windows Azure Management Portal":
create-php-website.md
deployWAWebSiteThatConnectsToMongo.md
website-mysql.md
website-mysql-ftp.md
website-mysql-git.md
website-sqlazure-git.md
website-storage.md
web-site-with-sql.md

[2013-05-02 18:52] gcheng opened #1270 "service bus configuration links do not distinguish from each other."
All the "CreateFromConnectionString" links should distinguish from each other because they all link to different pages
![configurationconnectionstring](https://f.cloud.github.com/assets/1541773/455736/6069a7e8-b359-11e2-852b-0569d752e159.jpg)
.

[2013-05-02 22:18] pennij opened #1277 "Create topics that ref 3 new Mooncake chunks"
Chunk topics were created by Ben Lobaugh in this PR on 5-2-13: https://github.com/WindowsAzure/azure-content/pull/1272/files

Chunks were staged on sandbox-ppe to be included in loc drop week of 5-6-13.

Need to create all the topic stubs that will reference these 3 chunk, and get the topics pub'd on wa.com.

See email thread from May 2 2013 w/ Ben, Doug Mahugh, Molly, and Penni

[2013-05-07 22:59] Juliako opened #1289 "added 25 RUs to the howto-scale-media-services and updated the WAMS_Scale image"
made another small update (added a frame to the image)

[2013-05-08 20:40] KBDAzure opened #1295 "Need to update links for some distro's"
Content needs to be updated links for openSUSE and SLES.

[2013-05-13 23:13] timamm opened #1308 "Web Sites updates for AUX 3.4 - for publishing on 6/2"

[2013-05-14 20:21] sethmanheim opened #1312 "Update Service Bus AMQP tutorials for GA release"

[2013-05-22 22:26] sethmanheim opened #1350 "Updates to the .NET On-Premises/Cloud Hybrid Application Using Service Bus Relay Tutorial"

[2013-05-24 21:47] pennij opened #1377 "Add Tamra's new and updated topics to upcoming release"
NOTE: See one email thread between Susan and Penni, Friday 5-24-13, 2.41pm, for partial info.

Here's Tamra's pull req with updates (will need to change Milestone date to appropriate date and maybe ask Sasha to publish the updates to sandbox in case it gets 'missed' since pull req was created a week or so ago).

https://github.com/WindowsAzure/azure-content/pull/1307

[2013-06-10 18:51] tdykstra opened #1397 "Update links in http://www.windowsazure.com/en-us/develop/net/data/"
Two links are out of date:

1. Create and deploy an ASP.NET web site and SQL Database with Visual Studio.

    Change title to "Deploy a Secure ASP.NET MVC app with Membership, OAuth, and SQL Database to a Windows Azure Web Site"
Change blurb to: "Implement an ASP.NET MVC 4 web application that uses SQL Server and enables users to log in with credentials from Facebook, Yahoo, and Google. You will

[2013-06-10 19:09] pennij opened #1398 "Mobile Reference pages: add switcher and re-org; update left-nav to 'Mobile Home'"
also add link to Mobile CLI reference

[2013-06-17 12:36] Blackmist opened #1412 "Remove an item from Node.js compute landing page"
"Guidance: Troubleshoot Windows Azure Web Sites" should be removed from the Node.js landing page (and probably other non-.NET dev centers.) This article is .NET centric, and walks the reader through creating a .NET application prior to breaking, and then troubleshooting the application.

[2013-06-17 13:15] Blackmist opened #1413 "Troubleshooting Windows Azure Web Sites needs a massive rewrite"
http://www.windowsazure.com/en-us/develop/net/best-practices/troubleshooting-web-sites/
The article is confusing, in that over half the article covers creating a new ASP.NET web site from scratch. It then briefly mentions PHP for the span of about a paragraph, which doesn't make a lot of sense in the context of the article.

I recommend the following changes:

* Remove the tutorial aspect (creatio

[2013-06-17 17:33] tysonn opened #1415 "Retire WA.com monitoring SQL Database topic, move its content to library topic."
The existing "monitoring SQL Database" topic should be retired from WA.com as it is functionally just a manual redirect topic. http://www.windowsazure.com/en-us/manage/services/sql-databases/how-to-monitor-a-sqldb/

Incorporate the little content from the page into the main monitoring topic in the library, which is at http://msdn.microsoft.com/en-us/library/windowsazure/ff394114.aspx.

Editor has

[2013-07-01 20:58] huguesv opened #1461 "Create Virtual Machine Deployment documentation has wrong casing for Fingerprint"
The sample and description have typos.  It should be Fingerprint everywhere, with a lowercase p.  And if you find/replace, don't miss FinguerPrint...

[code]

and

FingerPrint

Required. Specifies the SHA1 fingerprint of an X509 certificate associated with the hosted service that includes the SSH public key.

and

FingerPrint

Required. Specifies the SHA1 fingerprint of an X509 certificate associa

[2013-07-05 17:05] ggailey777 opened #1464 "Add a link to the server scripts API content in the Zumo reference pages"
We need to add a link to Mobile Services server script reference (http://msdn.microsoft.com/en-us/library/windowsazure/jj554226.aspx) from the main Zumo reference topic (http://www.windowsazure.com/en-us/develop/mobile/reference/) and in each platform-specific reference page as well.

This is a customer reported issue (Mike Taulty).

[2013-07-08 12:25] Selcin opened #1468 "Added new links to the SQL Server in WA VM articlee"

[2013-07-08 18:10] mumian opened #1470 "http://www.windowsazure.com/en-us/downloads/"
I found this page a bit confusing.

* The default is Mobile services.  What I expect are two dedicated pages for "Languages" and "Services", on which there are list of languages and services and some brief descriptions.  The default will be either Languages or Services.

* Languages and Services are the two categories. They are in bold, but still not clear enough for me.  You might consider using

[2013-07-09 15:49] mumian opened #1474 "Problem with jumping to a subtitle within an article"
This issue applies to all of the articles on wa.com.  Let's using the following article as an example:

http://www.windowsazure.com/en-us/manage/services/hdinsight/introduction-hdinsight/

Click on a subtitle on the navigation bar on the left, notice the subtitle and first a few lines are missing.

[2013-07-09 15:51] mumian opened #1475 "DCR: the navigation column"
I really like the navigation column on the left. However, when I jump to a subtitle, or scroll down the page, the navigation column doesn't follow.  It will be nice if it does.

[2013-07-16 21:32] pennij opened #1489 "Remove links to Load Test topics for Matt"
For details, see email thread on 7-16 at 2.26pm. Fix for next release.

Delete one sentence in this topic:  http://www.windowsazure.com/en-us/develop/net/architecture/load-testing-pattern/

Delete one para in this topic:  http://www.windowsazure.com/en-us/develop/net/guidance/

[2013-07-22 22:45] mirandaluna opened #1494 "Add Twilio tutorial to all mobile resource pages"
Add link to Twilio tutorial for Mobile Services (http://www.windowsazure.com/en-us/develop/mobile/tutorials/twilio-for-voice-and-sms/) to the services page of each of the platform pages:
http://www.windowsazure.com/en-us/develop/mobile/resources/
http://www.windowsazure.com/en-us/develop/mobile/resources-wp8/
http://www.windowsazure.com/en-us/develop/mobile/resources-ios/
http://www.windowsazure.c

[2013-07-26 19:03] mumian opened #1502 "wrong link address on the HDInsight landing page"
This error is on this page:

http://www.windowsazure.com/en-us/documentation/services/hdinsight/

Click See More under the Analyze section.
Click Use the Hadoop .NET SDK with the HDInsight Service.
The correct URL is:

http://www.windowsazure.com/en-us/manage/services/hdinsight/howto-net-libraries/

[2013-07-26 21:11] mumian opened #1503 "rendering issue in using-pig.md"
http://www.windowsazure.com/en-us/manage/services/hdinsight/using-pig-with-hdinsight/

There is a code section containing two lines of code.  In the actual HTML rendering, the second line is appended to the end of the first line.

		cd ..\pig-0.9.3-SNAPSHOT\bin\
		pig

[2013-08-01 18:11] gcheng opened #1510 "add support of get and list to media services notification end point"
http://msdn.microsoft.com/en-us/library/windowsazure/dn169055.aspx

from George

Yes. There is support for list and get. I guess we are missing documentation.
You should be able to get this operation through general ODATA REST notation similar to other entities

GET “API/NotificationEndPoints”

[2013-08-05 15:24] mumian opened #1518 "Add references to CLI and PowerShell articles from the Windows Azure UI management how-to articles"
For example.  On this article:

http://www.windowsazure.com/en-us/manage/services/storage/how-to-create-a-storage-account/

reference the following articles:
For a general guide on how to use the command-line interface, see [How to use the Windows Azure Command-Line Tools for Mac and Linux](/en-us/develop/nodejs/how-to-guides/command-line-tools/). For comprehensive reference documentation, see [Wi

[2013-08-09 01:01] guangyang opened #1527 "Update PowerShell and xplat-CLI last updated date to August 2013"

[2013-08-23 17:58] billmath opened #1537 "Adding Windows Azure Multi-Factor Authentication What is Page"
Team Project Collection: 	vstfpg05\PG05
TFS item http://vstfpg05:8080/tfs/web/wi.aspx?pcguid=4a427888-16eb-489e-a913-f920fdbf5ca6&id=243839

[2013-08-27 19:50] MandiOhlinger opened #1543 "Windows Azure Services requirement missing"
Windows Azure Services must be enabled on the SQL Database. Added this requirement in several sections.

[2013-09-10 12:37] mumian opened #1570 "Error in "How to install and configure Windows Azure PowerShell""
http://www.windowsazure.com/en-us/manage/install-and-configure-windows-powershell/

The default path is not:

C:\Users\<UserProfile>\Desktop\[MySubscription-…]-downloadDate-credentials.publishsettings

but:

C:\Users\<UserProfile>\Download\[MySubscription-…]-downloadDate-credentials.publishsettings

[2013-09-28 19:12] Leevia opened #1607 "gem 'capistrano-rbenv' missing"
In your gemfile you should also put this line:

gem 'capistrano-rbenv'

Because if you use rbenv in production you need it!

[2013-10-14 20:26] Selcin opened #1632 "Update Provisioning SQL Server article"
Minor updates in the topic. Please refresh on staging.

[2013-10-15 18:44] Selcin opened #1636 "Capitalized datawarehousing in SQL Provisioning article"
Thanks for the help.

[2013-10-23 13:54] rothja opened #1647 "Compressed three notes into one note in web sites choice topic"
Compressed three notes into one note in the topic "Windows Azure Web Sites, Cloud Services, and VMs: When to use which?"

[2013-11-06 02:21] huguesv opened #1661 "Add Role incorrectly says that AdminPassword should be base 64 encoded"
http://msdn.microsoft.com/en-us/library/windowsazure/jj157186.aspx

Required in WindowsProvisioningConfiguration. Specifies the base-64-encoded string that contains the administrator password to use for the Virtual Machine.

That's incorrect.  It should not be base-64-encoded.

[2013-11-12 21:07] rothja opened #1671 "New web workload solutions articles"

[2013-12-02 22:43] carlosfigueira opened #1689 "Update the 'last updated' date for the Mobile Services SDKs"
In the SDK downloads page for Azure Mobile Services (http://www.windowsazure.com/en-us/downloads/?sdk=mobile) the 'last updated' date for the SDKs is incorrect - all SDKs were updated last month. Can someone update that page with that updated information? Thanks!

[2014-02-12 15:16] billmath opened #1721 "Update to What is Windows Azure MFA to include MFA for Office 365"
This issues is to update the What is Windows Azure MFA page http://www.windowsazure.com/en-us/documentation/articles/multi-factor-authentication/ to include information on MFA for Office 365, updates links to point to the redirected content on MSDN, and includes a feature comparison.

[2014-02-17 20:08] ahmetalpbalkan opened #1731 "CDN"
On https://github.com/WindowsAzure/azure-content/blob/master/includes/cdn.md

It says there's a CDN option on the left sidebar of the management panel. There isn't.

[2014-02-23 07:29] SyntaxC4 opened #1738 "[cloud-services-python-how-to-use-service-management] Management Certificates"
The section of the article **cloud-services-python-how-to-use-service-management** on **Connect to Service Management** explains how to generate management certificates. This is valuable information, however, with the use of the cross platform tools it is possible to simply many of these steps.

If someone downloads the Windows Azure Cross Platform Tools a Management Certificate is made on their b

[2014-03-12 13:52] josephmcasey opened #1758 "Permission Denied"
Primary Content Reference:
"http://www.windowsazure.com/en-us/documentation/articles/store-mongodb-virtual-machines-linux-install-centos/"

Beginner at linux cmd and MongoDB on Virtual Machines here.

The Tutorial: Install MongoDB on a virtual machine running CentOS Linux in Windows Azure

Is an easy follow until you reach

The Section: Install and run MongoDB on the virtual machine

As someone us

[2014-05-01 16:23] tysonn opened #1811 "Fix link to retired topic in cloud-services-nodejs-develop-deploy-app.md"
The link to http://msdn.microsoft.com/en-us/library/windowsazure/jj218759.aspx needs to be replaced with a link to http://azure.microsoft.com/en-us/documentation/articles/choose-web-site-cloud-service-vm/. The MSDN topic has been retired.

[2014-05-01 16:29] tysonn opened #1812 "Link to retired topic needs to be fixed in web-sites-dotnet-get-started-vs2012.md"
The link to http://msdn.microsoft.com/en-us/library/windowsazure/jj218759.aspx needs to be replaced with a link to http://azure.microsoft.com/en-us/documentation/articles/choose-web-site-cloud-service-vm/. The MSDN topic has been retired.

[2014-06-05 16:54] Photekk opened #1862 "Android"
Not sure if this is the right place to ask this question but will the "Notify users with Notification Hubs" tutorial ever include Android?

[2014-07-09 20:45] lanatmwan opened #1916 "Discuss the security aspects more"
In particular I would like to see some mention of how different sections of the api can be secured separately. I can imagine how that is accomplished on the azure api front end but what prevents someone from getting access to the full api surface at the original url if they happen to know it?

[2014-07-17 20:50] morgs32 opened #1928 "Service API Sample code not working (for linux VMs)"
I'm trying to run the example you have provided here: https://github.com/Azure/azure-content/blob/master/articles/virtual-machines-linux-how-to-service-api.md

And I'm getting back this error:
{ [Error: A computer name must be specified.]

  code: 'BadRequest',

  statusCode: 400,

  requestId: '5aa7622950e5c7c1affdec1bda51d27d' }

And I know that I'm sending a computer name in the configuration s

[2014-07-18 02:02] ninajlu opened #1929 "Deployment Instructions do not work."
https://github.com/Azure/azure-content/blob/master/articles/virtual-machines-python-use-mysql-django.md
This instructs the user to type this:
PS C:\django\helloworld> $ipPort =
PS C:\django\helloworld> $ipPort = [string]$ipPort.AddressList[1]
PS C:\django\helloworld> $ipPort += ":80"
PS C:\django\helloworld> C:\Python27\python.exe .\manage.py runserver $ipPort

but the first line is incomplete as

[2014-07-24 23:45] WalterHub opened #1942 "What happened to the <properties> element as the first line of 0-markdown-template-for-new-articles.md?"
Without the properties element for metadata as the first line, it isn't a valuable template.

I also think having an HTML comment as the first line of an article could break the build.

[2014-07-29 19:29] jkkjonah opened #1946 "Code generated by Visual Studio push notification wizard produces invalid JSON response"
The Node.js sample code for "notifyAllUsers" endpoint that's generated by the push notification wizard produces an invalid JSON response (simply responds with the string "OK"). This causes the MobileServiceClient.InvokeApiAsync throws an exception when parsing the response. The line:

    response.send(statusCodes.OK);

should be:

    response.send(statusCodes.OK, { status : 'OK' });

[2014-07-30 05:17] digitalgym opened #1949 "Step 5 Very unclear"
Could you add some detail or an illustration to step 5 its very hard to understand.

[2014-07-31 02:01] donaldbraman opened #1951 "What is the Algorithm for Machine Learning?"
Is it adaboost? A whitepaper on the algorithm would be nice.  Blackbox is hard to sell to management.

[2014-08-01 01:13] digitalgym opened #1953 "Links don't resolve for contents"
https://github.com/Azure/azure-content/blob/master/articles/machine-learning-walkthrough-4-train-and-evaluate-models.md

[2014-08-25 21:51] aageek opened #2001 "Is Custom Linux VM image x86 and X64 both are supported on azure"
On following article we are missing the detail about supported architecture (x86 or x64) for Linux image support on Azure or not .

Creating and Uploading a Virtual Hard Disk that Contains the Linux Operating System -  http://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-create-upload-vhd/

Please add support Architecture for Custom Linux VM on Azure -  Similar to Windows

[2014-08-26 20:19] huguesv opened #2008 "WACOM.NOTE appears in rendered html for php service bus how to guide"
http://azure.microsoft.com/en-us/documentation/articles/service-bus-php-how-to-use-topics-subscriptions/

in the section named 'Configure your application to use Service Bus', there's a suspicious WACOM.NOTE that is formatted as code.

[2014-09-09 18:31] hydrojumbo opened #2036 "Azure Service Bus no longer offers "Add Metrics" option"
On this documentation, it suggests the presence of a button that does not exist today - Add Metrics for an Azure Service Bus Queue: https://github.com/Azure/azure-content/blob/master/articles/service-bus-monitor-message-entities.md

My requirement is to set up alarms based on Max Queue Length in the last N Minutes. Is this no longer supported?

[2014-09-29 23:06] Injac opened #2088 "AMQP Feature Guide returns 404 on Azure"
Hi,
for this article:
https://github.com/Azure/azure-content/blob/master/articles/service-bus-dotnet-advanced-message-queuing.md
The link on azure.com returns a 404 (section App Services, Link name: Service Bus AMQP feature guide ):
http://azure.microsoft.com/en-us/develop/net/

[2014-11-06 23:47] tysonn opened #2220 "Copy edit request: batch-api-basics.md"

[2014-11-06 23:47] tysonn opened #2221 "Copy edit: batch-dotnet-get-started.md"
For pilot

[2014-11-06 23:48] tysonn opened #2222 "Copy edit: batch-technical-overview.md"
For pilot

[2014-11-07 05:26] bitcoinbrisbane opened #2225 "Links broken"
The deploy from git links are broken.

[2014-11-10 13:45] nileshkrishnan opened #2230 "other Azure Services are not allowed access to the Server's databases."
•If you create a new Azure SQL Database on an existing Azure SQL Server, the firewall rules of the Server are not changed. As a result, it's possible other Azure Services are not allowed access to the Server's databases.

do we have any workaround on this if yes, can we add

[2014-11-14 21:04] DavidKarlas opened #2247 "Add "warning" that .Net mobile services don't support Git"
I think it would be cool to add some kind of warning on this page that this is only supported for JavaScript backend. Or even better, add Git support to .Net backend :)

https://github.com/Azure/azure-content/blob/master/articles/mobile-services-store-scripts-source-control.md

Something similar like this warning:
[code]

Btw, I just noticed that regularly is misspelled in text above.

[2014-11-21 01:31] huguesv opened #2271 "REST API 'Create VM Image' has incorrect request body documentation"
http://msdn.microsoft.com/en-us/library/azure/dn775054.aspx

Still an issue:
Under the 'Request Body' section, it talks about 'response body' in a couple of places instead of 'request body'.

Fixed:
Additionally (and that's what cost me a lot of time), the xml example under 'Request Body' section is wrong.  The xml root element is a single VMImage, the VMImages element should not be there.

[2014-11-21 01:36] huguesv opened #2272 "REST API 'Update VM Image' has incorrect request body xml example"
According to the docs:
http://msdn.microsoft.com/en-us/library/azure/dn722421.aspx

The Description element comes after the DataDiskConfiguration element.  That's wrong.  It should come between the Label and OSDiskConfiguration elements.  Similar to how it is in Create VM Image REST API.

[2014-12-15 22:33] huguesv opened #2327 "Service bus REST vs. NET Client Support page out of date"
This page:
http://msdn.microsoft.com/en-us/library/azure/hh780771.aspx

Claims that batching is not possible via REST API.

It is possible now, with this:
http://msdn.microsoft.com/en-us/library/azure/dn798894.aspx

[2014-12-23 20:09] gfeiges opened #2365 "Printer Friendly Articles"
I tried printing http://azure.microsoft.com/en-us/documentation/articles/hyper-v-recovery-manager-azure/ directly and it was unreadable.
Had to go into GITHUB edit mode to make a printed copy of the article I could follow.   Is there some  way to ensure that all TechNet articles have a printer friendly version that can be leveraged.

Thanks

[2015-01-07 20:08] WalterHub commented on #1074
This item was actually closed in 2013.

[2015-01-07 20:08] #1074 closed

[2015-01-09 17:15] jx37 opened #2391 "XAMARIN Android - Azure Mobile Service Push Notification Problem"
Hi,
I’m  developing an app that receive push notification from Azure Mobile Service in Xamarin-Android.
When I start the application I register my device (Nexus 4) to my Azure Notification Hub.
Push Notification still received only when app is running or is in background, but not when the app is closed or I delete it from task manager (N.B I don’t force to quit it from settings).

Below the class:

[2015-01-14 00:56] boolship opened #2401 "Android code does not build/compile."
1) The following line is WRONG in #12 of
azure-content/includes/mobile-services-android-getting-started-with-push.md

ToDoActivity.mClient.getPush().register(gcmRegistrationId, null);

Because the register method *requires* three parameters, e.g.
register(String pnsHandle, String [] tags, RegistrationCallback callback)

2) Any suggestions how to fix?

3) The push notification demo is FAIL with thi

[2015-01-21 00:19] jasonwilliams200OK opened #2432 "Use case: node-pre-gyp documentation"
node.js and now even io.js are getting popular by day and new use cases are coming to the light. One of the fundamental use-case is C++ addons for node.js and io.js.

Please add clear documentation on how to use node-pre-gyp with Azure Storage. Related: https://github.com/mapbox/node-pre-gyp/issues/134.

node-pre-gyp is a supplementary tool for [node-gyp](https://github.com/TooTallNate/node-gyp/),

[2015-01-27 21:58] TyNev opened #2467 "Test issue"
@tysonn I would like to contribute a new article.

[2015-01-27 22:23] #2467 closed

[2015-01-28 16:02] Chinezeh opened #2473 "Data upload failure in Azure ML"
Pls guys, I am trying to upload a CSV file and this is what I am getting. Pls, any help?

Thank you.

Dataset upload failed. Internal Service Error. Request ID: b043ceae-5516-48f4-be11-3be51acb7543 2015-01-28 15:48:07Z

[2015-01-28 17:04] garyericson commented on #2473
This would be an excellent question to raise at the Machine Learning Forum (https://social.msdn.microsoft.com/forums/azure/en-US/home?forum=MachineLearning). There are a number of experts there who can probably help you with a specific issue like this.

[2015-01-29 09:25] Chinezeh commented on #2473
Thank you garyericson

[2015-02-04 08:44] Tonven opened #2528 "Telemetry TrackMetric() doesn't work"
Refering to this [stackoverflow](http://stackoverflow.com/questions/28294308/application-insights-track-metric-is-not-working)  question. Does TrackMetric sending work now? Or should I use custom events with Dictionary? Thank you.

[2015-02-04 09:03] Tonven opened #2529 "Custom event property name is not displayed"
In [this](https://github.com/Azure/azure-content/blob/master/articles/app-insights-search-diagnostic-logs.md#run-your-app-and-view-the-results) article you have an example of custom event property "Difficulty" - hard. When I send custom event to azure, names of events are not displayed. Instead I see the following:"context.custom.dimensions.0.value". The same goes for metrics:"context.custom.metri

[2015-02-05 19:03] gardnerjr commented on #2529
Those should now be appearing correctly since a deployment yesterday (2/4/2015).

[2015-02-07 08:53] codespare opened #2566 "Markdown syntax for headings (h1..6/#...######)"
Many, but not all, articles use:
#Heading 1
##Heading 2
...etc
to markup headings, without space between # and the heading text.
Could you use:
# Heading1
## Heading2
...
?
The missing space causes some markdown processors, notably those from the CommonMark family, to treat those heading as paragraph and keep the # prefix.
A mass regex replace of:
^(#+)([^#\s].+)$
with
${1} ${2}
does the trick fro

[2015-02-09 14:53] villesinisalo opened #2568 "WebJobs SDK tutorial should not use global DbContext"
Hello,

I followed the [WebJobs SDK tutorial](http://azure.microsoft.com/en-us/documentation/articles/websites-dotnet-webjobs-sdk-get-started/) and deployed the example project to Azure. However, I believe there is a pretty serious bug with the example code related to using a global DbContext in Program.cs.

When you create several new ads with images in rapid succession they get queued to the `th

[2015-02-09 14:58] villesinisalo commented on #2568
Pinging @tdykstra

[2015-02-09 21:27] tysonn commented on #2566
Thanks for taking the time to make a suggestion. With markdown, there's many ways to arrive at the same end, and so we have chosen to use the guidance offered by GitHub for markdown as our standard. The GitHub markdown help specifies the pound sign method: https://help.github.com/articles/markdown-basics/.

[2015-02-09 21:27] #2566 closed

[2015-02-09 22:22] MattAllison opened #2572 "Broken Link to Storage End-To-End Troubleshooting"
The link to http://azure.microsoft.com/en-us/documentation/articles/articles/storage-e2e-troubleshooting/ is a broken link.

The current link points to http://azure.microsoft.com/en-us/documentation/articles/articles/storage-e2e-troubleshooting/ and the proper link would be http://azure.microsoft.com/en-us/documentation/articles/storage-e2e-troubleshooting/.

In short, there's an extra /articles i

[2015-02-09 22:37] tysonn commented on #2572
What was the page you were on?

[2015-02-10 00:55] MattAllison commented on #2572
Apologies for not including that - new to Github and I assumed the comment would track the page I was on.  The article is http://azure.microsoft.com/en-us/documentation/articles/storage-monitoring-diagnosing-troubleshooting/.

[2015-02-10 10:27] codespare commented on #2566
Well yes, that's the point I am trying to make: If you look at the section on headings in the github help link you shared, there is a space between the # and the first letter of the heading. A few hundreds of the articles in the repository omit that space, e.g. use #Heading instead of # Heading. You can actually see the difference I my initial message: The #heading without space are not rendered p

[2015-02-10 20:16] tysonn opened #2586 "This is an issue"

[2015-02-10 22:02] tdykstra commented on #2568
Thanks for reporting that -- I'll fix it.

[2015-02-12 00:00] tdykstra commented on #2568
Download project is fixed.  Corresponding updates are in the private docs repo, should be live tomorrow.

[2015-02-12 18:55] #2568 closed

[2015-02-12 18:59] #2529 closed

[2015-02-13 08:45] Tonven commented on #2529
For me it showed correctly only for 2 days. Now it works only for traces. Doesn't work neither for events , neither for exceptions,   Currenty it look like this for events:
![capture](https://cloud.githubusercontent.com/assets/2392980/6184619/9d87ac62-b364-11e4-8f50-6347ff2a0868.PNG)

[2015-02-13 13:39] alancameronwills commented on #2528
John Gardner responded to in StackOverflow.

[2015-02-13 14:02] gardnerjr commented on #2529
Those are custom metrics, which we have an existing bug for in event details and the team that owns that is working on it.  Metrics will correctly display in metrics explorer, though.

Sent from my Windows Phone
________________________________
From: Vladimir Shulgin<mailto:notifications@github.com>
Sent: ý2/ý13/ý2015 3:45 AM
To: Azure/azure-content<mailto:azure-content@noreply.github.com>
Cc: Joh

[2015-02-14 00:09] #2528 closed

[2015-02-20 08:35] damienpontifex opened #2690 "HTML Mobile Services with .NET Backend docs"
There seems to be no documentation for mobile services HTML client with .NET backend. Is this due to limitations of the client?

Also now that the ADAL JS library is now GA does this add these capabilities? (I.e. We use ADAL iOS for auth on iOS, does this library now enable the same flow)

http://blogs.technet.com/b/ad/archive/2015/02/19/adal-javascript-v1-reaches-ga.aspx

[2015-02-20 19:48] #2572 closed

[2015-02-24 09:13] Vol-i commented on #2401
Hi, i think the problem is that they updated the sdks but not the demo app. After tackling for a while, it turns out it needs a callback, even if you don't use it. Just create a callback as below and it will be fine.

[code]

[2015-03-03 14:21] gwojdyla opened #2934 "missing directory in example for the Suse"
The following line doesn't contain /datadrive
`/dev/disk/by-uuid/33333333-3b3b-3c3c-3d3d-3e3e3e3e3e3e   /   ext3   defaults   1   2`

[2015-03-05 13:00] buzzfrog opened #2968 "Code example bug in storage-dotnet-how-to-use-tables when describing how to read the connection string"
If you follow the instructions in the section **Configuring your connection string using .NET configuration** the code example under section **Retrieving your connection string** will not work.

    CloudStorageAccount storageAccount = CloudStorageAccount.Parse(ConfigurationManager.ConnectionStrings["StorageConnectionString"].ConnectionString);

The right code should be:

    CloudStorageAccount s

[2015-03-10 20:50] seanfreiburg opened #3035 "Links with https://www.windowsazure.com/develop base go to 404."
It appears many links are still under https://www.windowsazure.com/develop and the 3 I have found so far all 404. It looks like they just need to be updated.

[2015-03-10 22:30] spatnaik opened #3038 "Link to "How to Log on to a Virtual Machine Running Windows Server" goes to 404"
Correct link is http://azure.microsoft.com/en-us/documentation/articles/virtual-machines-log-on-windows-server/

[2015-03-11 22:12] #2586 closed

[2015-03-11 22:15] tysonn commented on #2968
Hi Dag - could you please close this issue and contribute the correction directly into the article, please? Thanks

[2015-03-22 15:38] krishnazure opened #3137 "Why Some codes are still hosted via CodePlext"
I forked the Azure-Content. But some of the codes still live in CodePlex. Why cant everything be hosted in GitHub. IT will be very productive to do that..

[2015-03-25 00:29] naughton opened #3153 "Port confusion on integration-hybrid-connection-overview.md?"
The document says:

"9352	Used to push and pull data. If TCP port 9352 is unavailable, TCP port 443 is used."

However, I captured packets while starting HCM and saw the following:

1)      TLS Client Handshake outbound to 168.62.16.180:443.  Nine packets were exchanged and then the connection closed.
2)      Service Bus Relay outbound to 168.62.16.180:9350.  Seven packets were exchanged and then

[2015-03-26 14:46] johanbove commented on #191
I believe this issue can be closed since @MikeWasson published this article on 02/24/2015:
    http://azure.microsoft.com/en-us/documentation/articles/cloud-services-nodejs-develop-deploy-app/

[2015-03-26 14:51] #1412 closed

[2015-03-26 14:51] #1189 closed

[2015-03-26 14:52] #1413 closed

[2015-03-26 17:50] mollybostic commented on #191
@johanbove, good call, thanks! Closing the issue.

[2015-03-26 17:50] #191 closed

[2015-03-26 21:09] johnnliu opened #3172 "several links on Azure Logic Apps are missing"
Logic App Workflow Management API
http://go.microsoft.com/fwlink/?LinkID=525617&clcid=9

Logic App Workflow Definition Language
http://go.microsoft.com/fwlink/?LinkID=529171&clcid=9

Logic App Workflow Triggers and Actions
http://go.microsoft.com/fwlink/?LinkID=529172&clcid=9

These three links are pretty important to figure out what other Template Language Expression functions we can use.

[2015-04-10 08:50] ggailey777 commented on #2690
HTML/JavaScript clients, including Cordova clients, are supported in the .NET backend, we just haven't had time to create tutorials specifically for this scenario. We had also made some assumptions that folks writing JavaScript apps would most likely use the Node.js backend rather than .NET.
There is a quickstart project that you can download from the Azure portal that has both the .NET backend pr

[2015-04-10 09:14] damienpontifex commented on #2690
I was particularly having issues authenticating against Azure AD. The actual flow of data is all fine, but considering the other (e.g. [iOS authentication](http://azure.microsoft.com/en-us/documentation/articles/app-service-mobile-dotnet-backend-ios-aad-sso-preview/)) SDKs required authenticating against Azure AD and then sending the token to my mobile service I was wondering whether this is the s

[2015-04-10 16:14] mattchenderson commented on #2690
This should work - it's not a documented scenario yet, and I can't say that I've tried it myself, but conceptually this should work. I want to point out that there are some major differences between the JS ADAL and the others. For example. I don't believe you can get a multi-resource refresh token. Content-wise, it might be good to address this one just because of the uniqueness. Likely it would s

[2015-04-13 20:58] ahmetalpbalkan opened #3328 "Docker client installation instructions"
@squillace, here:
http://azure.microsoft.com/en-us/documentation/articles/virtual-machines-docker-with-xplat-cli/

`docker.io` package is not maintained by Docker and usually falls behind newer versions.

We must suggest users to follow the commands here https://docs.docker.com/installation/ubuntulinux/

[2015-04-21 21:00] #2220 closed

[2015-04-21 21:00] #2221 closed

[2015-04-21 21:00] #2222 closed

[2015-04-26 20:08] WiteCastle opened #3411 "Update LoginAsync method with new MobileServiceClient code"
The new MobileServiceClient code requires a JObject token when using the LoginAsync method. The documentation does not have this included. Can it be updated with the new login method? (Line 23 of mobile-services-windows-universal-dotnet-authenticate-app.md)

[2015-04-26 20:24] WiteCastle commented on #3411
I feel like this article shows how to grab the authentication token needed: http://visualstudiomagazine.com/Articles/2014/10/01/Add-Azure-Active-Directory-Support.aspx?Page=1

[2015-04-28 08:54] idofl opened #3433 "choose-web-site-cloud-service-vm.md - does website comply with PCI?"
From what I understand websites are not PCI compliant, as they enable FTP access to the deployment.

[2015-04-28 19:12] MisinformedDNA opened #3438 "PG::ConnectionBad: FATAL: password authentication failed for user"
I followed the guide as closely as possible. The only difference I can think of is that I'm using Capistrano 3.4 and Ruby 2.0.0p451.

[code]

[2015-05-01 20:58] deneha commented on #3328
@ahmetalpbalkan Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-01 20:59] deneha commented on #3172
@johnnliu Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-01 21:00] #3172 closed

[2015-05-01 21:01] #2690 closed

[2015-05-01 21:01] #2473 closed

[2015-05-01 21:03] #2088 closed

[2015-05-01 21:09] #1953 closed

[2015-05-01 21:09] #1951 closed

[2015-05-01 21:11] deneha commented on #2008
Thanks for the tip!  We've notified the author.

[2015-05-01 21:12] #1949 closed

[2015-05-01 21:14] #1942 closed

[2015-05-01 21:19] deneha commented on #2036
@sethmanheim Can you take a look at this?

[2015-05-01 21:22] sethmanheim commented on #2036
I don't know where this URL is coming from -- maybe his favorites. I don't have this topic in the repo, and the above link gives a 404.

[2015-05-01 21:22] deneha commented on #2036
Ok, understood.  Closing issue.

[2015-05-01 21:22] #2036 closed

[2015-05-01 21:27] hydrojumbo commented on #2036
I cannot confirm this second, but the URL  is specific to my Azure
Subscription, it is a standard screen within the Azure Management Web
client. I will check to see if the problem still exists and provide
instructions on how to get to the view without a direct URL if it does.
On May 1, 2015 5:23 PM, "Dene Hager" <notifications@github.com> wrote:

[2015-05-01 21:30] deneha commented on #2225
@bitcoinbrisbane Hi there!  Sorry for the delay.  Is there still a problem?  If so, could you please provide a page and point to where the problem is located?  Thank you!

[2015-05-01 21:43] deneha commented on #3153
@naughton Thank you very much for this suggestion.  We would like to invite you to contribute directly to the article via the GitHub contribution functionality.

[2015-05-01 21:55] deneha commented on #3137
@krishnazure Thank you for the suggestion.  We would like to invite you to contribute to the article that you think should be changed through the GitHub functionality.  If that does not seem like an option, please give us some more information on your suggestion so we can help you better.

[2015-05-01 21:55] #3137 closed

[2015-05-01 21:57] deneha commented on #3038
@spatnaik Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-01 21:57] #3038 closed

[2015-05-01 21:57] deneha commented on #3035
@seanfreiburg Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-01 21:57] #3035 closed

[2015-05-01 21:59] deneha commented on #2968
@buzzfrog  Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-01 21:59] #2968 closed

[2015-05-01 22:01] deneha commented on #2934
@gwojdyla Thank you for the suggestion. We would like to invite you to contribute to the article that you think should be changed through the GitHub functionality to collaborate directly with the other authors of the article.

[2015-05-01 22:01] #2934 closed

[2015-05-01 22:09] ahmetalpbalkan commented on #3328
@squillace can do better than I can, English is not really my native language. :-)

[2015-05-01 22:11] sethmanheim commented on #2036
OK thanks Alex. Please let us know and we'll see about getting it fixed, but at this time the topic does not exist in our documentation set.

[2015-05-01 22:19] deneha commented on #2391
@davidwrede Has this issue been resolved?

[2015-05-01 22:20] deneha commented on #1929
@ninajlu Thank you for your question.  We're really sorry about the delay in response.  Are you still experiencing a problem?

[2015-05-01 22:23] deneha commented on #1928
@morgs32 Thank you for your question.  Very sorry for the delay in our reply.  Is there still a problem?

[2015-05-01 22:26] deneha commented on #1721
@billmath Sent mail to ask if issue is resolved.

[2015-05-01 22:28] deneha commented on #3438
@MisinformedDNA Thank you for this question.  Was there a page in documentation that you were using for this task you're describing?  If so, could you please include that so I can direct you to a subject matter expert?

[2015-05-01 22:31] deneha commented on #3433
@tdykstra Could you please assist?

[2015-05-01 22:35] deneha commented on #3411
@WiteCastle  Thank you for the suggestion. We would like to invite you to contribute to the article that you think should be changed through the GitHub functionality. If that does not seem like an option, please give us some more information on your suggestion so we can help you better.

[2015-05-01 22:37] deneha commented on #2432
@jimbe Sent mail to ask status.

[2015-05-01 22:39] deneha commented on #2230
@jeffgoll Can you assist?  Sent mail.

[2015-05-01 22:41] deneha commented on #1946
@davidwrede Sent mail for status.

[2015-05-01 22:46] deneha commented on #1862
@Photekk Thank you for your question.  I apologize for the delay in reply.  Could you please give us a little more information on your question so that I can contact the correct subject matter expert for you?

[2015-05-01 22:48] tdykstra commented on #3433
Azure App Service is PCI compliant.

[2015-05-01 22:48] deneha commented on #1731
@v-aljenk Sent mail to ask status.

[2015-05-01 22:52] deneha commented on #1812
Link has been replaced

[2015-05-01 22:52] #1812 closed

[2015-05-03 10:46] idofl commented on #3433
I'm looking at http://azure.microsoft.com/en-us/support/trust-center/services/ and Azure Websites / WebApps is not there.
Is there some announcement that websites is PCI compliant?

[2015-05-04 15:23] #1721 closed

[2015-05-04 17:05] jimbe commented on #976
Issue is out of date at this point.

[2015-05-04 17:05] #976 closed

[2015-05-04 17:09] jimbe commented on #885
Article has been updated recently with new App Service images and terminology.

[2015-05-04 17:09] #885 closed

[2015-05-04 17:09] jimbe commented on #929
No details. Closing issue.

[2015-05-04 17:09] #929 closed

[2015-05-04 17:10] jimbe commented on #881
Old issue. Closing issue.

[2015-05-04 17:10] #881 closed

[2015-05-04 17:11] jimbe commented on #623
Old issue. Closing issue.

[2015-05-04 17:11] #623 closed

[2015-05-04 17:14] jimbe commented on #315
Issue fixed.

[2015-05-04 17:14] #315 closed

[2015-05-04 17:15] jimbe commented on #219
Old issue. Closing issue.

[2015-05-04 17:15] #219 closed

[2015-05-04 17:27] jimbe commented on #201
Issue fixed.

[2015-05-04 17:27] #201 closed

[2015-05-04 18:57] jeffgoll commented on #2230
@deneha not sure what the expectation is here, whether the customer is monitoring this thread, or in what context the issue was logged. But the behavior described is by design. The workaround, in general, I believe would be to leave the server level firewall rule least restrictive, and then enable DB-level firewall rules. But I say that without being aware of the specific security requirements, ap

[2015-05-04 18:58] #2230 closed

[2015-05-05 22:38] #1758 closed

[2015-05-06 16:31] naughton commented on #3153
I would be happy to contribute to the document if someone from Microsoft would answer the questions regarding the use of port 9350-9353.  There should also be a section on what is required to make HCM work effectively through a web proxy.   The service bus endpoints delivered in the atom file are listed by IP address, which means that outbound firewall rules must allow the whole range of public Az

[2015-05-06 22:08] deneha commented on #2225
@bitcoinbrisbane I'm closing this issue.  Please let us know if the problem persists.

[2015-05-06 22:08] #2225 closed

[2015-05-06 22:11] deneha commented on #1928
@morgs32 I'm closing this issue because that page has been removed and replaced with updated content.  Please let us know if you still need assistance.

[2015-05-06 22:13] #585 closed

[2015-05-06 22:21] deneha commented on #648
@brian-swan We're sorry for the late reply.  Do you have the page in question still?  I cannot locate the page you're mentioning.  I'll keep this issue open for a little longer to see if we can get this resolved for you.

[2015-05-06 22:34] morgs32 commented on #1928
@deneha thanks for asking - sorry for not responding. where is the updated content?

[2015-05-06 22:37] #978 closed

[2015-05-06 22:46] ggailey777 commented on #3411
The LoginAsync method overload that takes a JObject token is only used when you are doing client-directed authentication using the Facebook SDK and have already gotten an authentication token from Facebook. This overload of LoginAsync() is used in a service-directed authentication tutorial where the service handles all of the token stuff, you just need to specify the provider.

[2015-05-06 22:47] #3411 closed

[2015-05-06 22:50] deneha commented on #1928
@morgs32 Correction - our log shows this page was deleted.  I'll contact the author of the old page for you and see what information I can get.

[2015-05-06 22:59] deneha commented on #883
@karthikaraman We're sorry for the late response.  Could you please give a little more information so I can help you?  We'll keep this issue open a little longer to see if we hear back from you.

[2015-05-06 23:35] karthikaraman commented on #883
Not sure why I am getting this email. I did not make any request for this topic.

From: Dene Hager [mailto:notifications@github.com]
Sent: Wednesday, May 6, 2015 3:59 PM
To: Azure/azure-content
Cc: Karthika Raman
Subject: Re: [azure-content] Update Backup To Windows Azure topic (#883)

@karthikaraman<https://github.com/karthikaraman> We're sorry for the late response. Could you please give a littl

[2015-05-06 23:38] deneha commented on #883
@karthikaraman Ok, no worries!  I'll go ahead and close the issue then.

[2015-05-06 23:38] #883 closed

[2015-05-07 00:08] morgs32 commented on #1928
@deneha thanks, much appreciated.

[2015-05-07 13:47] brian-swan commented on #648
I haven't worked on this for a long time now...not sure where the page in question is. I suggest closing this issue.

[2015-05-07 17:27] #24 closed

[2015-05-07 17:27] #122 closed

[2015-05-07 17:27] #142 closed

[2015-05-07 17:27] #587 closed

[2015-05-07 17:27] #648 closed

[2015-05-07 17:27] #654 closed

[2015-05-07 17:27] #977 closed

[2015-05-07 17:27] #991 closed

[2015-05-07 17:27] #997 closed

[2015-05-07 17:27] #998 closed

[2015-05-07 17:27] #1013 closed

[2015-05-07 17:27] #1021 closed

[2015-05-07 17:27] #1024 closed

[2015-05-07 17:27] #1027 closed

[2015-05-07 17:27] #1028 closed

[2015-05-07 17:27] #1034 closed

[2015-05-07 17:27] #1065 closed

[2015-05-07 17:27] #1067 closed

[2015-05-07 17:27] #1071 closed

[2015-05-07 17:27] #1080 closed

[2015-05-07 17:27] #1082 closed

[2015-05-07 17:27] #1085 closed

[2015-05-07 17:27] #1094 closed

[2015-05-07 17:27] #1102 closed

[2015-05-07 17:27] #1122 closed

[2015-05-07 17:27] #1124 closed

[2015-05-07 17:27] #1125 closed

[2015-05-07 17:27] #1129 closed

[2015-05-07 17:27] #1138 closed

[2015-05-07 17:27] #1143 closed

[2015-05-07 17:27] #1144 closed

[2015-05-07 17:27] #1145 closed

[2015-05-07 17:27] #1151 closed

[2015-05-07 17:27] #1152 closed

[2015-05-07 17:27] #1168 closed

[2015-05-07 17:27] #1171 closed

[2015-05-07 17:27] #1173 closed

[2015-05-07 17:27] #1176 closed

[2015-05-07 17:27] #1191 closed

[2015-05-07 17:27] #1194 closed

[2015-05-07 17:27] #1197 closed

[2015-05-07 17:27] #1199 closed

[2015-05-07 17:27] #1202 closed

[2015-05-07 17:27] #1206 closed

[2015-05-07 17:27] #1209 closed

[2015-05-07 17:27] #1213 closed

[2015-05-07 17:27] #1218 closed

[2015-05-07 17:28] #1219 closed

[2015-05-07 17:28] #1221 closed

[2015-05-07 17:28] #1229 closed

[2015-05-07 17:28] #1242 closed

[2015-05-07 17:28] #1244 closed

[2015-05-07 17:28] #1249 closed

[2015-05-07 17:28] #1258 closed

[2015-05-07 17:28] #1260 closed

[2015-05-07 17:28] #1270 closed

[2015-05-07 17:28] #1277 closed

[2015-05-07 17:28] #1289 closed

[2015-05-07 17:28] #1295 closed

[2015-05-07 17:28] #1308 closed

[2015-05-07 17:28] #1312 closed

[2015-05-07 17:28] #1350 closed

[2015-05-07 17:28] #1377 closed

[2015-05-07 17:28] #1397 closed

[2015-05-07 17:28] #1398 closed

[2015-05-07 17:28] #1464 closed

[2015-05-07 17:28] #1468 closed

[2015-05-07 17:28] #1470 closed

[2015-05-07 17:28] #1474 closed

[2015-05-07 17:28] #1475 closed

[2015-05-07 17:28] #1489 closed

[2015-05-07 17:28] #1494 closed

[2015-05-07 17:28] #1502 closed

[2015-05-07 17:28] #1503 closed

[2015-05-07 17:28] #1510 closed

[2015-05-07 17:28] #1518 closed

[2015-05-07 17:28] #1527 closed

[2015-05-07 17:28] #1537 closed

[2015-05-07 17:28] #1543 closed

[2015-05-07 17:28] #1570 closed

[2015-05-07 17:28] #1607 closed

[2015-05-07 17:28] #1632 closed

[2015-05-07 17:28] #1636 closed

[2015-05-07 17:28] #1647 closed

[2015-05-07 17:28] #1671 closed

[2015-05-07 17:28] #1689 closed

[2015-05-07 17:28] #1811 closed

[2015-05-07 17:28] #1929 closed

[2015-05-07 17:49] ahmetalpbalkan commented on #1731
@deneha rule of thumb while operating in open source: You usually provide a status/reason about why you are closing the issue. An issue reporter usually does not care who you sent email to, they care if the issue they spent time reporting is:

* invalid (i.e. not an issue)
* fixed
* wontfix

Please appreciate the time the person has spent on the issue and provide a status back.

It's not a problem

[2015-05-07 17:53] squillace commented on #1731
@deneha Yeah, Dene, please reopen this issue. This is a storage documentation issue -- have @tamram take a look. @ahmetalpbalkan is merely reporting it, and we don't close until the issue has resolution.

[2015-05-07 17:54] deneha commented on #1731
@ahmetalpbalkan @squillace Apologies.  In the midst of a bulk issue cleanup.  The issue has been reopened.

[2015-05-07 17:56] squillace commented on #1731
@deneha Great, thanks. :-) Careful with that bulk closure algorithm!

[2015-05-07 19:40] huguesv commented on #1461
Several of the documentation bugs that I filed against the REST API are getting closed in the past few days with no explanation.  I'm looking at the page:
https://msdn.microsoft.com/en-us/library/azure/jj157194.aspx
and it doesn't look like it's been fixed.  Still says 'FingerPrint' instead of 'Fingerprint' for the xml element.
So why is it getting closed?

[2015-05-07 19:45] squillace commented on #1461
@deneha Dene, this one got closed incorrectly as well. Please reopen, and I think we may need to review the closures a bit.

@huguesv Sorry about that -- it was inadvertently closed.

[2015-05-07 19:47] deneha commented on #1461
@huguesv @squillace Apologies.  I've reopened the issue.

[2015-05-07 19:54] squillace commented on #1461
@huguesv Now that you have me looking at this, can you provide the URL that you're looking at here? Otherwise, I have no idea which document you're filing the issue about..... :-)

[2015-05-07 19:55] huguesv commented on #1461
Yeah, sorry, I hadn't included it in the original post.  It's https://msdn.microsoft.com/en-us/library/azure/jj157194.aspx

[2015-05-07 19:56] squillace commented on #1461
No worries. I'll see about finding the author. Appreciate it.

[2015-05-07 20:08] tysonn commented on #1731
Sent to doc owner for review.

[2015-05-07 20:42] deneha commented on #3433
@tdykstra Could you please help with this question?  Thank you.

[2015-05-07 20:44] deneha commented on #3328
@squillace Can you please assist on this issue?  Looks like @ahmetalpbalkan has deferred to you on this one.

[2015-05-07 20:49] deneha commented on #2401
@davidwrede Could you please assist?  If you can, please update on status of this issue.

[2015-05-07 20:55] deneha commented on #2365
@gfeiges @plasmaphonic Thank you very much for the suggestion.  I've passed it on to the powers that be and hopefully very soon this problem will be a thing of the past.  I'm going to close this issue now, but please do request it be reopened if you feel the need.

[2015-05-07 20:55] #2365 closed

[2015-05-07 20:57] deneha commented on #3433
@idofl Your request has been forwarded to the product team by @tdykstra.  Thank you very much for your input.  We're closing this issue now.  If you need further assistance, please feel free to open another issue.

[2015-05-07 20:57] #3433 closed

[2015-05-07 21:02] deneha commented on #1928
@morgs32 Sorry about the issue close.  It has been reopened.  I've heard from the last person who touched the page.  I'll get back to you as soon as I hear more.

[2015-05-07 21:04] deneha commented on #1929
@ninajlu We're reviewing old issues and closing them. If this issue should not be closed, please let us know so that we can reopen it and assign it to the proper person.

[2015-05-07 21:07] deneha commented on #2001
@aageek Thank you for raising this issue.  We're sorry for the delay in response.  We're reviewing old issues and closing them. If this issue should not be closed, please let us know so that we can reopen it and assign it to the proper person.

[2015-05-07 21:07] #2001 closed

[2015-05-07 21:08] deneha commented on #2088
@Injac Thank you for raising this issue.  We're sorry for the delay in response.  It looks like the issue has been resolved from my end.  Please let me know if it persists for you.

We're reviewing old issues and closing them. If this issue should not be closed, please let us know so that we can reopen it and assign it to the proper person.

[2015-05-07 21:16] deneha commented on #2247
@davidwrede @DavidKarlas  Do you need this issue to remain open? We're reviewing old issues and closing them. If this issue should not be closed, please let us know so that we can reopen it and assign it to the proper person.

[2015-05-07 21:16] #2247 closed

[2015-05-07 21:23] deneha commented on #1862
@davidwrede Could you please assist?

[2015-05-07 21:31] deneha commented on #1172
@gcheng Thank you for the suggestion.  I've forwarded the change to the author of that page.

[2015-05-07 21:41] deneha commented on #1142
@gcheng Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 21:41] #1142 closed

[2015-05-07 21:43] deneha commented on #1470
@mumian Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 21:46] deneha commented on #1308
@timamm Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:47] deneha commented on #1295
@KBDAzure Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:47] deneha commented on #1289
@Juliako Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:48] deneha commented on #1209
@davidwrede Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:49] deneha commented on #1206
@Juliako Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:49] deneha commented on #1202
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:50] deneha commented on #1199
@Juliako Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:50] deneha commented on #1197
@nickharris Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:51] deneha commented on #1194
@mingfeiy Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:52] huguesv commented on #1661
This looks fixed.  Thank you!  I'll close.

[2015-05-07 21:52] #1661 closed

[2015-05-07 21:57] deneha commented on #1191
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:58] deneha commented on #1176
@rwike77 Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:58] deneha commented on #1173
@mumian Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 21:59] huguesv commented on #2327
This looks fixed now.  I'll close. Thanks.

[2015-05-07 21:59] #2327 closed

[2015-05-07 21:59] deneha commented on #1171
@gcheng Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 21:59] deneha commented on #1168
@rwike77 Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:00] deneha commented on #1152
@mumian Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 22:00] deneha commented on #1151
@mumian Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 22:00] deneha commented on #1145
@gcheng Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 22:01] deneha commented on #1144
@gcheng Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 22:01] deneha commented on #1213
@timamm Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:01] deneha commented on #1218
@mingfeiy Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:01] deneha commented on #1219
@mingfeiy Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:02] deneha commented on #1221
@timamm Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:02] deneha commented on #1229
@sethmanheim Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:03] deneha commented on #1242
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:03] deneha commented on #1244
@nickharris Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:03] deneha commented on #1249
@gcheng Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 22:04] deneha commented on #1258
@gcheng Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 22:04] deneha commented on #1260
@timamm  Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:05] deneha commented on #1270
@gcheng Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-07 22:08] huguesv commented on #2008
FYI: This is still an issue. Slightly different than it used to be (AZURE.NOTE instead of WACOM.NOTE).  Open that page in your browser and search for ``, you'll find 3 instances of it.

[2015-05-07 22:21] huguesv commented on #2272
This looks fixed.  Thank you.

[2015-05-07 22:21] #2272 closed

[2015-05-07 22:45] deneha commented on #1277
@pennij Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:46] deneha commented on #1312
@sethmanheim Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:46] deneha commented on #1350
@sethmanheim Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:46] deneha commented on #1377
@pennij Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:46] deneha commented on #1397
@tdykstra Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:47] deneha commented on #1671
@rothja Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:47] deneha commented on #1647
@rothja Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:47] deneha commented on #1636
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:48] deneha commented on #1632
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:48] deneha commented on #1607
@Leevia Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:48] deneha commented on #1570
@mumian Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:48] deneha commented on #1543
@MandiOhlinger Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:48] deneha commented on #1537
@billmath Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:49] deneha commented on #1527
@guangyang Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:49] deneha commented on #1518
@mumian Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:49] deneha commented on #1510
@gcheng Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:49] deneha commented on #1502
@mumian Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:50] deneha commented on #1489
@pennij Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:50] deneha commented on #1475
@mumian Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:50] deneha commented on #1474
@mumian Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:51] deneha commented on #1468
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-07 22:51] deneha commented on #1464
@ggailey777 Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 04:30] DavidKarlas commented on #2247
Quick look at documentation page... Looks like .Net backend was added so it can stay closed.

[2015-05-08 16:38] jeffgoll commented on #1415
Please remove this article. It's useless.

[2015-05-08 16:40] huguesv commented on #1738
Thanks for the tip, I actually didn't know about this :)

We'll make sure to add this for the next doc update.

[2015-05-08 19:37] deneha commented on #1398
@pennij @yavorg Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:37] squillace commented on #1916
@deneha Dene, can we find the api management owner and have them review this to see if it's still outstanding?

[2015-05-08 19:47] deneha commented on #1143
Thank you for the suggestion.  It appears this issue is out of date.  Please let us know if you still see a problem.

[2015-05-08 19:48] deneha commented on #1129
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:51] deneha commented on #1916
@davidwrede Can you review this issue and let us know if it is still outstanding?

[2015-05-08 19:53] deneha commented on #1125
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:54] deneha commented on #1124
@gcheng Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:54] deneha commented on #1122
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:54] deneha commented on #1102
@timamm Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:54] deneha commented on #1094
@ChrisRisner Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:55] deneha commented on #1085
@seanost Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:55] deneha commented on #1082
@guangyang Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:55] deneha commented on #1080
@timamm Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:55] deneha commented on #1071
@davidwrede Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:56] deneha commented on #1065
@sethmanheim Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:56] deneha commented on #1027
@Selcin Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:57] deneha commented on #1024
@mingfeiy Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:57] deneha commented on #1021
@davidwrede Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:57] deneha commented on #1013
@gcheng Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:58] deneha commented on #998
@mingfeiy Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 19:59] deneha commented on #997
@mingfeiy Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 20:11] deneha commented on #977
@davidwrede Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 20:12] deneha commented on #991
@jcookems Thank you for the suggestion.  Since you are a MSFT employee, we ask that you use the GitHub capability to contribute to the article by submitting a change and a pull request through the process.  If you need guidance on how this works, please see the contributors guide here: https://github.com/Azure/azure-content-pr/blob/master/contributor-guide/contributor-guide-index.md

[2015-05-08 20:30] deneha commented on #587
@scottturnbull Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 20:37] deneha commented on #117
@mohitsriv Thank you for your question.  I apologize for the delay in reply.  Could you please give us a little more information on your question so that I can contact the correct subject matter expert for you?

[2015-05-08 20:38] deneha commented on #142
@ghogen Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 20:42] deneha commented on #24
@mollybostic Thank you for raising this issue.  We're closing old issues.  If you feel this issue should remain open, please comment to let us know that the issue should be reopened.

[2015-05-08 20:42] squillace commented on #117
@mohitsriv Hi Mohit -- I think we can close this one, probably -- otherwise, it can go to @tdykstra or @RickAndMSFT probably for a quick review to see whether it's still operative or undocked.

[2015-05-11 19:44] deneha commented on #117
@mohitsriv We're waiting to hear from you to find out if this is still an issue.  Please comment to let us know if you still need help.

[2015-05-11 23:58] tdykstra commented on #117
@Thraka - do you cover cloud services / do you know where this notification regarding applicationSettings not being supported should go?

[2015-05-12 23:18] sethmanheim commented on #2008
OK to merge.

[2015-05-13 22:26] varunchhabra opened #3549 "Error compiling SendGrid code sample"
Hi,
I found an error in the documentation for developing a Web App on Azure using WebMatrix (http://azure.microsoft.com/en-us/documentation/articles/web-sites-dotnet-using-webmatrix/), and wanted to bring it to your attention.

In bullet 6 of the "Setup Mail" section, the instructions reference a SendGrid call "Deliver". When I try to run the app with this code, I get a compile error in IE referen

[2015-05-14 15:31] steved0x commented on #1916
Hi,

Sorry for the long delay in responding. Thank you for the feedback. The backend service can be protected using basic authentication or mutual certificate authentication. Either of these methods will prevent a developer from calling directly into the backend API if they were to stumble upon the direct URLs for the backend service. From the API Management side, for each API (that corresponds to

[2015-05-14 20:03] jimbe commented on #2432
Hi Jason. Sorry for the delay in replying to your comment. We support the install command because storage is really just another HTTPS URI to access your blob(s). We will look into supporting node-pre-gyp and provide an alternative to S3 in the future. Thanks.

[2015-05-14 20:03] #2432 closed

[2015-05-14 23:07] squillace commented on #3328
Hey cats--just landed. @ahmetalpbalkan @dehena ill get to this today or tomorrow morning.

[2015-05-14 23:55] SilviaDoomra opened #3559 "Elastic Database Client Library doesn't show up"
When I search for keywords "Elastic" or "Elastic Database", Elastic Database Client library doesn't show up. Only Elastic Database Split-Merge Service shows up.

[2015-05-15 01:08] squillace commented on #3328
Reviewing this now. Seems that docker has changed their tunes about docker.io, which was previously precisely their description about how to get the client on Ubuntu (as there used to be a debian package called, precisely "docker" so they had to call out the docker.io part). Now it might read:

Follow the Docker installation instructions to install Docker locally on your computer.

and I'll just r

[2015-05-15 01:13] ahmetalpbalkan commented on #3328
@squillace the general installation command `curl https://get.docker.com | sh ` just works fine on debian too.

If users want to use `docker.io` pkg they must add `jessie-backports` apt repo to their debian setup (as documented). It might be smart to just redirect users to the docs.docker.com for that.

[2015-05-15 19:50] deneha commented on #3559
@jeffgoll Jeff, could you please follow up with Silvia on this issue?

[2015-05-15 19:53] deneha commented on #3549
@tfitzmac Tom could you please help with this issue?

[2015-05-15 20:18] tfitzmac commented on #3549
Yes, I'll take a look.

[2015-05-15 20:49] tfitzmac commented on #3549
I made the suggested change and tested it. Everything works. Fix is in https://github.com/Azure/azure-content-pr/pull/10932

[2015-05-15 22:30] deneha commented on #3549
@varunchhabra Thank you for your contribution!  The author has made your suggested change.  Please let us know if this solves the issue.

[2015-05-17 03:10] varunchhabra commented on #3549
Thanks folks for the prompt attention - the changes work.

On Friday, May 15, 2015, Dene Hager <notifications@github.com> wrote:

[2015-05-18 15:21] deneha commented on #3549
@varunchhabra Great!  Thanks for letting us know.  I'll close this issue.  Please let us know if you need any further assistance.

[2015-05-18 15:21] #3549 closed

[2015-05-18 16:14] jeffgoll commented on #1415
The article has been removed. This issue can be closed. Thanks!

[2015-05-18 16:34] yamatoya opened #3575 "overlapping documentation"
The follow URLs is same documents.
But, 'sql-database-service-tier-advisor.md' is updated by #3574

https://github.com/Azure/azure-content/blob/master/articles/sql-database-service-tier-advisor.md
https://github.com/Azure/azure-content/blob/master/articles/sql-database-pricing-tier-recommendations.md

[2015-05-18 17:20] #1415 closed

[2015-05-18 18:49] squillace commented on #3328
@ahmetalpbalkan back from vacation; time to fix this.

[2015-05-18 18:56] squillace commented on #3438
@MisinformedDNA Hey Dan -- what document were you following here? I don't recognize the error at all..... help! :-)

[2015-05-18 20:12] jeffgoll commented on #3559
Hi Silvia, can you elaborate on which Search you were using? Was this azure.com search? And were you looking for the reference content?

[2015-05-18 22:34] SilviaDoomra commented on #3559
Hi Jeff,

Please feel free to ignore this. I found the root cause. I was looking in Universal apps – where it shouldn’t show up.

Thanks,
Silvia Doomra | Program Manager II | Azure SQL Database | Microsoft Corporation

From: Jeff Gollnick [mailto:notifications@github.com]
Sent: Monday, May 18, 2015 1:13 PM
To: Azure/azure-content
Cc: Silvia Doomra
Subject: Re: [azure-content] Elastic Database Clie

[2015-05-18 22:51] #3559 closed

[2015-05-19 10:40] aidanmorgan opened #3582 "Java examples in service-bus-event-hubs-get-started-send-java.md are wrong"
There are several issues with the java examples on this page.

1. The version of Qpid JMS AMQP available is 0.1.0 not 1.0
2. org.apache.qpid.amqp_1_0.jms.jndi.PropertiesFileInitialContextFactory does not exist in the packages referenced
3. The connection string needs a port added to it (5671)
4. URL Encoding of the password behaves differently than expected from the example code/instructions

At t

[2015-05-20 22:58] KBDAzure commented on #1928
Hi @morgs32 - I'm sorry to report that I haven't been able to locate similar content. The article that was deleted because we 'retired' the article. There have been many changes to Azure in the last year, so it's likely that the content wasn't accurate.

[2015-05-21 17:55] MisinformedDNA commented on #3438
https://github.com/Azure/azure-content/blob/master/articles/virtual-machines-ruby-deploy-capistrano-host-nginx-unicorn.md

[2015-05-22 18:15] deneha commented on #1916
@lanatmwan Thanks for raising this issue.  It looks like we've answered the question and we have not heard from you.  We are closing this issue.  If you still have any problems, please comment so we can reopen this issue.

[2015-05-22 18:15] #1916 closed

[2015-05-22 23:57] h4nN opened #3633 "link to download "Python Tools 2.1 for Visual Studio " is broken"
Link to download "Python Tools 2.1 for Visual Studio " is broken

[2015-05-23 13:54] calebdoise opened #3634 "SQL Azure Automated Export limit of 10 not documented"
The following page:
https://github.com/Azure/azure-content/blob/master/articles/azure-subscription-service-limits.md

hosted here:
http://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/

does not document that there is a limit of 10 (that's the default and maximum limit per subscription) for SQL Azure Automated Exports.

As indicated on this feedback item, a num

[2015-05-26 16:18] jimbe commented on #3633
Nicchub, what is the URL of the page with the broken link?

[2015-05-26 16:52] deneha commented on #1928
@morgs32 If you need more help or have additional questions, please feel free to open another issue or comment on this issue to be reopened.  We're closing this issue for now since we haven't heard from you.

[2015-05-26 16:52] #1928 closed

[2015-05-26 17:05] deneha commented on #3575
@stevestein Could you please assist?

[2015-05-26 17:18] deneha commented on #3634
@calebdoise Thanks for raising the issue!

@rothja Could you please assist?

[2015-05-26 17:27] deneha commented on #3582
@aidanmorgan Thanks for raising the issue!

@sethmanheim Could you please assist?

[2015-05-26 17:49] rothja commented on #3634
For SQL Database limits, we are pointing to another page. However, I see this is a subscription level limit and it might apply here. Please let me look into the best place to put this limit and I will make sure it is called out. Thank you.

[2015-05-26 18:19] sethmanheim commented on #1172
This issue was so old by the time it was assigned to me that the problem no longer exists. Close it.

[2015-05-26 18:20] sethmanheim commented on #2008
Fixed.

[2015-05-26 18:20] sethmanheim commented on #3582
Please ask the article author to take a look.

[2015-05-26 19:58] sethmanheim commented on #3582
@fsautomata Elio, can you please comment?

[2015-05-26 20:01] squillace commented on #3328
fixed. email offline.

[2015-05-26 20:17] deneha commented on #2008
@huguesv The page has been fixed.  We're going to close this issue since the page correction will go live at next publishing.  If you still see a problem, please comment and we'll reopen the issue.  Thanks again for raising the issue!

[2015-05-26 20:17] #2008 closed

[2015-05-26 20:21] deneha commented on #1172
@gcheng Thanks for raising this issue.  It appears that the change is no longer necessary.  Please let us know if there is still a problem by commenting on this issue.  We're going to close this issue unless we hear otherwise from you.

[2015-05-26 20:21] #1172 closed

[2015-05-26 20:23] deneha commented on #3328
@ahmetalpbalkan Thanks again for raising the issue.  The issue appears resolved now.  Please comment if the issue remains a problem and we'll reopen this issue.

[2015-05-26 20:23] #3328 closed

[2015-05-26 20:30] tysonn commented on #3438
Thanks for letting us know the article. I'm following up internally.

[2015-05-26 22:36] ChrisCompy commented on #3153
To answer your questions:

*1) TLS Client Handshake outbound to 168.62.16.180:443. Nine packets were exchanged and then the connection closed.*
**It’s common to get the ACS token over SSL.**

*2) Service Bus Relay outbound to 168.62.16.180:9350. Seven packets were exchanged and then the connection closed.*
**This is the relay binding making a “probe” attempt over port 9350 to see if “TCP” mode wil

[2015-05-27 04:31] aidanmorgan commented on #3582
Thanks guys - am looking forward to getting this part working. It's the missing piece of a pretty cool demo I am setting up.

[2015-05-30 00:03] devigned commented on #3438
The database login / password combination is incorrect for spree_production.

The bottom line is that the symlinked config/database.yml file on the box contains incorrect login / password data for the database. You should cat the file and determine if you can login to your database with the creds in that file.

[2015-06-01 16:23] deneha commented on #3153
@naughton Has your question been answered?  We'll leave this issue open for another week to see if you need additional help.

[2015-06-01 16:24] deneha commented on #3438
@MisinformedDNA Has your question been answered?  We'll leave this issue open another week in case you still need assistance.

[2015-06-01 16:27] deneha commented on #3634
@calebdoise Has your question been answered?  We'll leave this issue open for another week in case you need any further assistance.

[2015-06-01 18:20] naughton commented on #3153
Not really.

What are the use cases of the three ports: 9350-9352?

Also, can you address what happens if these ports aren't open?

Also, can you address what the destination addresses are for all these connections?

For systems with outbound firewall rules in place, what needs to be opened?

[2015-06-01 21:08] calebdoise commented on #3634
I'm afraid it has not been answered. I don't see the limit of 10 automated database exports documented on any of the SQL pages to which this article links (if it's there, I can't find it). Aside from documenting that on the referenced page, it would also be helpful if that were to be displayed on the actual Azure portal page where people can configure automated database exports. I was told by cust

[2015-06-02 12:50] rothja commented on #3634
I apologize for the delay. I am still investigating whether this should go onto the main limits page or just the other pages. However, at the very least, we can get this put onto the other pages that talk about automatic database export. I will target updating those at least by the end of the week. As for the limits page, we do not document (yet) a lot of SQL specific limits. If we get a table in

[2015-06-04 17:39] ChrisCompy commented on #3153
**Q: What are the use cases of the three ports: 9350-9352?**
A: These ports are used for data transmission.  The relay manager will probe out on port 9350 to determine if TCP connectivity is available.  If it is available then it assumes that port 9352 is also available and data traffic will go over port 9352  When this is the case then Port 5671 is used for a control channel.

**Q: Also, can you

[2015-06-04 17:59] tdykstra commented on #3433
The trust center page has been updated.
https://azure.microsoft.com/en-us/support/trust-center/services/
Thanks for bringing this to our attention.

[2015-06-04 19:59] MisinformedDNA commented on #3438
I don't have time to verify as I've moved onto another service for this feature. I don't see how the credentials could have been wrong as I followed them step by step and I'm almost sure I verified the creds, but I'll have to look at it again, sometime later when I have more time.

[2015-06-04 19:59] #3438 closed

[2015-06-04 21:16] fsautomata commented on #3582
Hi Aidan,

It seems you are not including the JAR geronimo-jms_1.1_spec-1.1.1.jar which is part of that package and provides a lot of the JMS support which is not specific to Qpid.

We will update the tutorial ASAP.

Elio

[2015-06-08 23:41] MandiOhlinger commented on #3153
These are good questions. In this topic, I added more details to the TCP Ports table; which should be public on Tuesday June 8.

[2015-06-09 17:33] SergKanz opened #3724 "Use Component.Verson instead of Properties["AppVersion"] in documentation"
@alancameronwills, some people got confused by example on the page:
https://azure.microsoft.com/en-us/documentation/articles/app-insights-api-custom-events-metrics/

Specifically instead of setting Properties["AppVersion"] it is better to set Component.Version as this property is used in UI as "Application Version".

[2015-06-09 22:28] alancameronwills commented on #3724
OK, thanks!

[2015-06-09 22:52] davidwrede commented on #1862
Hi @Photekk, we have an Android version of this content posted here: https://azure.microsoft.com/en-us/documentation/articles/notification-hubs-aspnet-backend-android-notify-users/. If this tutorial isn't what you were looking for, feel free to leave a comment in the Disqus thread and we can follow up on how to make the content more useful.

Thanks,
Dave

[2015-06-09 22:52] #1862 closed

[2015-06-10 07:51] damnan opened #3730 "http://azure.microsoft.com/en-us/documentation/articles/feed/ error"
Hello,
The [documentation updates feed](http://azure.microsoft.com/en-us/documentation/articles/feed/) on Azure Web site is in error because of the 'Deploying Password Management and training users to use it' article contains an unescaped '&' character in its description field.

[2015-06-10 16:48] #3724 closed

[2015-06-10 16:48] jimbe commented on #3724
Alan updated the file.

[2015-06-10 23:10] sethmanheim commented on #3582
@aidanmorgan Does this resolve your issue?

[2015-06-11 03:26] aidanmorgan commented on #3582
I managed to resolve my issue by downloading an older version of QPID that has the missing classes. The correct version is here:

http://www.apache.org/dyn/closer.cgi/qpid/0.32/binaries/qpid-amqp-1-0-client-jms-0.32-bin.tar.gz

[2015-06-11 16:47] #3730 closed

[2015-06-11 16:49] tysonn commented on #3730
Thank you for calling this out - an update has been made and accepted.

[2015-06-11 19:38] jshuot opened #3751 "Azure AD Connect Download link is not working (not found)"
The URL is not working properly for the following link (Azure AD Connect) : http://go.microsoft.com/fwlink/?LinkID=615771

We are sorry, the page you requested cannot be found.

The URL may be misspelled or the page you're looking for is no longer available.

[2015-06-11 19:46] davidmu1 commented on #1461
The element should be Fingerprint and the topic has been corrected. Thank you for your feedback.

[2015-06-11 19:50] davidmu1 commented on #2271
The corrections have been made to the terminology and the request body example. Thanks you for your feedback

[2015-06-15 15:48] deneha commented on #3751
@jshuot Thanks for letting us know! I'm going to pass this onto the author.  Could you please indicate which page you found this link on?

[2015-06-15 15:52] deneha commented on #3751
@jshuot Thanks for letting us know!  I just tried to download the materials at that link and it worked for me.  Could you please retry and let me know your steps if it doesn't work for you?

[2015-06-15 16:21] deneha commented on #1461
@huguesv The issue appears to have been corrected.  We're closing this issue.  Please comment if you need the issue to be reopened for any reason.

[2015-06-15 16:21] #1461 closed

[2015-06-15 16:23] deneha commented on #2271
@huguesv The issue appears to have been corrected. We're closing this issue. Please comment if you need the issue to be reopened for any reason.

[2015-06-15 16:23] #2271 closed

[2015-06-15 16:24] deneha commented on #3153
@naughton The issue appears to have been corrected. We're closing this issue. Please comment if you need the issue to be reopened for any reason.  We'll be happy to assist you further if this resolution has not solved the issue.

[2015-06-15 16:24] #3153 closed

[2015-06-15 16:26] deneha commented on #3582
@aidanmorgan The issue appears to have been corrected. We're closing this issue. Please comment if you need the issue to be reopened for any reason.  We'll be happy to assist if you need any further assistance.

[2015-06-15 16:26] #3582 closed

[2015-06-16 11:59] rostandk opened #3776 "the links in the documentation return 404"
The links in following documentation are returning a 404 page not found errors.

https://azure.microsoft.com/en-us/documentation/articles/stream-analytics-key-concepts/

[2015-06-16 23:08] mohitsriv commented on #117
It looks like this is documented properly here: https://msdn.microsoft.com/en-us/library/microsoft.windowsazure.cloudconfigurationmanager.aspx.  So, we can close unless there are any other key CloudConfigurationManager docs.

[2015-06-16 23:10] #117 closed

[2015-06-16 23:12] deneha commented on #117
@mohitsriv Thanks for letting us know!  I've closed the issue.  Please comment if you need us to reopen the issue.

[2015-06-18 14:51] rpiwetz opened #3787 "Appcelerator articles deleted"
I was following along on 2 Appcelerator tutorials yesterday that were hosted here.  They both seem to have been deleted.

https://github.com/Azure/azure-content/blob/master/articles/partner-appcelerator-mobile-services-javascript-backend-appcelerator-get-started.md

https://github.com/Azure/azure-content/blob/master/articles/partner-appcelerator-mobile-services-javascript-backend-appcelerator-get-

[2015-06-18 22:24] Jim-Parker opened #3793 "Copy edit request: backup-azure-vms"
I'd like to have this article copy edited. Please let me know what additional information you need.

[2015-06-19 14:41] tdbs opened #3797 "Flask Web App documentation is outdated!"
the article here: azure-content/articles/app-service-web/web-sites-python-create-deploy-flask-app.md
and here: https://azure.microsoft.com/en-us/documentation/articles/web-sites-python-create-deploy-flask-app/

is very outdated.

For example we read:

2. Click Web + Mobile > Azure Marketplace > Web Apps.
But there isn't a 'Web + Mobile' link

3. In the search box, type "python".
4. In the search r

[2015-06-19 16:10] deneha commented on #3776
@rostandk Thanks for raising this issue!  I've checked the links at the page and the issue appears to have resolved itself.  Would you let us know if the issue persists for you?

[2015-06-19 16:12] deneha commented on #3787
@rpiwetz Thanks for raising the issue!  I'll find someone who can help figure out what happened here.

[2015-06-19 16:15] #3793 closed

[2015-06-19 16:21] deneha commented on #3797
@tdbs Thanks for raising the issue!  I'll find someone who can help on this topic.

[2015-06-21 08:20] omidb opened #3805 "Spray.io"
Hi,

How can I deploy my web app using spray.io? it's using Scala and Sbt.

Thanks

[2015-06-22 16:25] deneha commented on #3805
Thanks for your question!  I'll try to find someone who can answer your question.

[2015-06-22 17:32] deneha commented on #3776
@rostandk We think the issue has been resolved.  If the issue persists, please comment and we'll reopen this issue.

[2015-06-22 17:32] #3776 closed

[2015-06-29 17:22] tysonn commented on #3805
@omidb Hi Omid, thanks for filing this issue. We’re happy to respond to issues that are directly related to documentation feedback in this repo. I think this question goes beyond that scope, so I'm going to close the issue. StackOverflow might be a good place to ask this question.

[2015-06-29 17:22] #3805 closed

[2015-07-01 20:31] tysonn opened #3920 "Images guidance"
@deneha - Can you add an example of the gray border to the guidance topic.

[2015-07-06 14:33] jameskeongchen opened #3944 "key-vault-use-from-web-application.md missing information"
In the Retrieve the secret on Application Start the code line:
var kv = new KeyVaultClient(new KeyVaultClient.AuthenticationCallback(Utils.GetToken));

doesn't make sense?

there is no explanation of how to pass in the authority and resource and scope in the Task?
GetToken(string authority, string resource, string scope)

please help ask the KeyVault team to update this so the walkthrough is a lit

[2015-07-06 16:12] deneha commented on #3944
@jameskeongchen Thanks for raising this issue!  I'll notify the author of your request.

[2015-07-06 16:17] deneha commented on #3920
@tysonn Looking for an example....

[2015-07-06 16:32] stevestein commented on #3575
Duplicate article (https://github.com/Azure/azure-content/blob/master/articles/sql-database-pricing-tier-recommendations.md) has been removed. Redirect has been requested.

[2015-07-06 17:17] deneha commented on #3575
@yamatoya We're closing this issue as resolved. Please let us know if you need any further assistance by leaving a comment to reopen the issue.

[2015-07-06 17:17] #3575 closed

[2015-07-06 17:48] ahmetalpbalkan opened #3947 "Article title not capitalized"
`azure-content/articles/virtual-machines/virtual-machines-linux-diagnostic-extension.md`

Look at page `<title>` tag. https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-diagnostic-extension/ doesn't look good in search results.

[2015-07-06 18:54] deneha commented on #3947
@ahmetalpbalkan  Thanks for calling this out.  We’ll push this article through the copy edit process.

[2015-07-06 19:14] billmath commented on #3751
Dene, this has been fixed.  The download was put up before the official GA announcement.  Then they moved the date out so it was taken down.  It should be working now.  Thanks!

[2015-07-06 19:23] tysonn commented on #3751
@jshuot - This should be resolved now, thanks for the report.

[2015-07-06 19:23] #3751 closed

[2015-07-06 19:57] adhurwit commented on #3944
@jameskeongchen I appreciate the comment, but the code is correct. GetToken is supplied as a Callback function so you are not calling it directly. I have a sample project in a repo in github for this. I hope this helps.

[2015-07-07 11:22] jameskeongchen commented on #3944
thanks - sorry it just want making sense to me - we can close this issue out; ill keep at it - if you have a link to that repo that would be swell! thanks again!

[2015-07-07 11:23] #3944 closed

[2015-07-07 11:24] adhurwit commented on #3944
Here's the repo - https://github.com/adhurwit/AzureTutorials
the project you want is KeyVaultUseFromWebApp

[2015-07-07 11:26] jameskeongchen commented on #3944
forked!

[2015-07-08 02:27] toriumi0118 opened #3960 "Optimistic concurrency control with etag for all operations?"
I'm creating new web application, with azure table storage.

When I used InsertOrReplace operation, the optimistic lock never worked.
I googled it and I found [this blog](http://azure.microsoft.com/blog/2014/09/08/managing-concurrency-in-microsoft-azure-storage-2/).

Is it same behavior with latest version? If so could you please write about it in the article.
thanks.

[2015-07-08 13:49] matiaslarsson opened #3965 "Please update the content in cloud-services-continuous-delivery-use-vso-git with examples for web apps NOT created in Visual Studio"
It would be great if you could demonstrate how to set up continuous delivery from vso git when the project is a plain node.js project (created using Visual Studio Code or some other third party text editor).

In these cases there will be no *.sln file in these cases so using the Azure Website build definition template will fail since it includes a Build step requiring a *.sln project file.

Removi

[2015-07-09 18:33] jsgoupil opened #3980 "Incorrect render of manual link"
See here:
https://github.com/Azure/azure-content/commit/aee22ac54c19330cede8d1527e08e908e5deed6e

[2015-07-09 19:44] tamram commented on #3960
Hi, can you provide us with more information about the problem you're having?

The behavior is the same with the latest version. See the storage documentation for the most up-to-date version of the optimistic concurrency article (but it is very similar to the blog post at this time).

https://azure.microsoft.com/en-us/documentation/articles/storage-concurrency/

[2015-07-10 06:24] toriumi0118 commented on #3960
@tamram
Thanks your replay.
I had not read the document that you posted.

I did misreading, sorry.
I thought InsertOrReplace also have concurrency control same as others(like update query) when I read first article below.
[https://azure.microsoft.com/en-us/documentation/articles/storage-nodejs-how-to-use-table-storage/](https://azure.microsoft.com/en-us/documentation/articles/storage-nodejs-how-to

[2015-07-12 17:28] Ricky-N opened #3996 "IPython Notebook Inline Config Not Handled Properly"
for the ipython notebook demo:
https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-python-ipython-notebook/#a-powerful-paradigm-live-computational-documents-with-rich-media

the matplotlib / pylab inline setting is no longer supported in ipython_notebook_config.py, should be moved into ipython_config.py (or kernel config) for python 3. See this q&a:
http://stackoverflow.com/q

[2015-07-13 16:48] deneha commented on #3960
@toriumi0118 Thanks for letting us know the answer solved your issue.  I'm going to close this issue now - please feel free to comment if it needs to be reopened.

[2015-07-13 16:48] #3960 closed

[2015-07-13 16:50] ahmetalpbalkan commented on #3947
@deneha I don't think this is fixed either in internal or external repo yet. Why closed?

[2015-07-13 16:52] deneha commented on #3965
@matiaslarsson Thanks for raising this issue!  I've assigned a member of our team to review your question.

[2015-07-13 16:55] deneha commented on #3980
@jsgoupil Thanks for raising the issue!  I've brought this to the attention of our team.

[2015-07-13 16:57] deneha commented on #3996
@Ricky-N Thanks for raising the issue!  I've notified the author to review your request.

[2015-07-13 16:59] deneha commented on #3947
@ahmetalpbalkan Sorry, Ahmet for any confusion.  This has been put into the copy-edit queue.  I can leave this issue open until that is done if you'd like.

[2015-07-13 17:06] #3920 closed

[2015-07-13 17:22] ahmetalpbalkan commented on #3947
That's probably what any issue reporter would like to see. :-) Also keeping it open helps if items get lost in the queue and if you close only when the fix is in, you won't be taking chances. :-)

[2015-07-13 19:33] squillace commented on #3947
:+1:

[2015-07-14 12:36] riccardo91 opened #4008 "export appinsight to azure table using stream-analytics"
i've succesfully followed the tutorial to export stats from blob storage to sql database. Due the amount of data i would like to move data to azure tables.
Unfortunately the the stram process seems to crash wit a generic error.
here my query

    SELECT A.context.data.eventTime as RowKey
    INTO pageviewstable
    FROM inputinsightblob A

do you have any recommendation? thank you!

[2015-07-14 22:27] kempb commented on #3965
Hi @matiaslarsson, I'm not really sure about this, but I'll investigate and let you know what I come up with.

[2015-07-15 08:40] rameshbolla opened #4025 "Database project issue while publishing"
Hi,
I followed article https://azure.microsoft.com/en-in/documentation/articles/cloud-services-dotnet-continuous-delivery/ to publish my web roles to Azure. It was working fine.

Recently i have added a database project to solution, then build try to publish database project too. Keep failing the build.

I don't want build to publish database project, can build definition drop DACPAC file to given

[2015-07-15 17:33] deneha commented on #4008
Hi @riccardo91 - Thanks for filing this issue. We’re happy to respond to issues that are directly related to documentation feedback in this repo. I think this question goes beyond that scope, so I'm going to close the issue. StackOverflow might be a good place to ask this question.

[2015-07-15 17:33] #4008 closed

[2015-07-15 17:34] deneha commented on #4025
Hi @rameshbolla , thanks for filing this issue. We’re happy to respond to issues that are directly related to documentation feedback in this repo. I think this question goes beyond that scope, so I'm going to close the issue. StackOverflow might be a good place to ask this question.

[2015-07-15 17:34] #4025 closed

[2015-07-15 21:31] tysonn opened #4032 "Update for CDN in limits topic"
@steved0x --- Sherry Toly from marketing was told that a quota that applies to the CDN service and that is not documented is a soft limit of 100. There's a request to add it to http://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/ . Assigning to Steve as I believe he covers CDN.

[2015-07-15 21:44] steved0x commented on #4032
I don't work on CDN but I will find out who does.

[2015-07-16 18:11] anavgale opened #4037 "link for Media Player Framework for iOS is broken"
here as well as many Azure docs the link for Media Player Framework for iOS is broken. What is the correct link? Couldn't find.

[2015-07-16 21:51] jasonronbeck opened #4038 "broken images"
@barbkess @JennieHubbard

for this article:
https://azure.microsoft.com/en-us/documentation/articles/sql-data-warehouse-integrate-solution-partners/

the reference style links need to be updated to reflect the new directory structure

they are currently broken on the live version of the article (see URL above)

[2015-07-17 12:00] ShreyashPromact opened #4041 "Not getting ProgressFilter() class"
Hello,

I am new to implement Azure Mobile service to authenticate user. I have refer this readme file to understand and implement the azure user authenticate for mobile app.
https://github.com/Azure/azure-content/blob/master/includes/mobile-services-android-authenticate-app-refresh-token.md

And

https://azure.microsoft.com/en-in/documentation/articles/mobile-services-dotnet-backend-android-get-s

[2015-07-17 18:48] deneha commented on #3980
I've fixed the problem - thanks again for raising the issue!

[2015-07-17 18:48] #3980 closed

[2015-07-17 18:56] deneha commented on #4037
@anavgale Thanks for raising this issue.  What is the specific page where you experience this issue?

[2015-07-17 19:16] deneha commented on #4041
@ShreyashPromact Thanks for raising the issue!  I'm looking for one of our team to review.

[2015-07-18 13:42] anavgale commented on #4037
1. Go to this link - https://azure.microsoft.com/en-in/documentation/articles/media-services-develop-video-players/

Under the section - "Other Tools for Creating Player Applications" click on - Media Player Framework for iOS - which is broken.

2. Same URL is also referenced at - https://channel9.msdn.com/Series/Windows-Azure-Media-Services-Tutorials/An-introduction-to-Azure-Media-Player-Framewor

[2015-07-20 14:11] matiaslarsson commented on #3965
Thanks @kempb!

[2015-07-20 15:54] deneha commented on #4037
@anavgale Thank you!  I'll contact the author for you.

[2015-07-22 11:01] alecor191 opened #4064 "AppInsights: Exceptions are counted twice in Azure AppInsights Dashboard"
Hi,

I'm struggling with the following: Whenever I log an exception and then look at the AppInsights dashboard in Azure, the exception is counted twice. I.e. if I log 1 exception I see 2 in the dashboard. If I log 5 I get 10 in the dashboard.
Interestingly when I further drill down to the exception details to see the list of exceptions, I see the correct number of exceptions I logged (see screensh

[2015-07-22 15:38] deneha commented on #4064
Hi @alecor191 , thanks for filing this issue. We’re happy to respond to issues that are directly related to documentation feedback in this repo. I think this question goes beyond that scope, so I'm going to close the issue. StackOverflow might be a good place to ask this question.

[2015-07-22 15:38] #4064 closed

[2015-07-23 02:55] kangman opened #4075 "Upgrade and Installation examples for respective distros"
I see that there is a recommended procedure stated in the README

"Installation via your distribution's package repository is preferred."

It would be great to have some examples to illustrate for each distribution.

e.g. sudo apt-get ...
sudo yum install ...

[2015-07-23 15:17] deneha commented on #4075
@kangman Thanks for the suggestion!  I'll pass it on to the person in charge of that page.

[2015-07-23 15:43] tysonn commented on #4075
@deneha - The quoted line is in articles/virtual-machines/virtual-machines-linux-agent-user-guide.md.

@szarkos - Can you take a look at this?

[2015-07-23 15:56] kangman opened #4076 "wget for version 2.1.0 gets 404"
#wget https://raw.githubusercontent.com/Azure/WALinuxAgent/WALinuxAgent-2.1.0/waagent

[code]

[2015-07-23 15:58] deneha commented on #4076
@kangman Thanks for raising this issue!  What web page was this on?

[2015-07-23 19:49] kangman commented on #4076
https://github.com/Azure/azure-content/blob/9ecb25e737df830ec9ee8bb9e1b439518ac31392/articles/virtual-machines/virtual-machines-linux-update-agent.md

[2015-07-23 19:52] deneha commented on #4076
@kangman That appears to be an example link - this is a screenshot from the article
![image](https://cloud.githubusercontent.com/assets/11968312/8860590/b1b741a4-3139-11e5-9814-6a9bf8199d72.png)

[2015-07-23 21:46] kangman commented on #4076
@deneha  right they do state to fill in the version number of the agent you want to download.
I wanted to get the latest version which is 2.1.0 and that does not seem to be available

looking at the master branch shows the same examples to follow.  So if I wanted to get 2.1.0 is the URL different than shown in the example?

[2015-07-23 22:27] deneha commented on #4076
@kangman Thanks for pointing that out - I'll see if we can get the author to help.

[2015-07-23 22:28] deneha commented on #4076
@SuperScottz Would you please review this and provide feedback?

[2015-07-24 19:28] bateau opened #4081 "mobile-services-how-to-use-server-scripts has incorrect link to .NET documentation"
mobile-services-how-to-use-server-scripts has incorrect link to .NET documentation.  It points to mobile-services-dotnet-backend-how-to-use, which throws a 404.  It's broken on public Azure Docs website as well.

[2015-07-24 19:31] deneha commented on #4081
@bateau Thanks for raising this issue.  I'll notify the author.

@RickSaling Could you please assist?

[2015-07-25 21:53] ahmetalpbalkan opened #4089 "Article has no parent category or navigation"
https://azure.microsoft.com/en-us/documentation/articles/resource-group-advanced-template/

this article seems very alone. I googled this and came across this page, now I want to discover more articles like this to learn more about Resource Group Templates however I can't, because the sidebar is empty and I cannot navigate to the category this belongs to.

For instance this article has a proper na

[2015-07-25 21:53] ahmetalpbalkan commented on #4089
Also "Edit on Github" link on this page is a 404.

[2015-07-26 09:14] idofl opened #4090 "data-factory-release-notes.md - incorrect sample"
Under "New dataset JSON", the interval value is a string ("1"), whereas it should be a number (1).

In addition, the "Edit on GitHub" link from the documentation (https://azure.microsoft.com/en-us/documentation/articles/data-factory-release-notes/) is broken.

[2015-07-27 15:55] deneha commented on #4089
@ahmetalpbalkan Thanks for reporting these issues.  The 404 issue has been escalated.

@tfitzmac Can you assist?

[2015-07-27 16:00] deneha commented on #4090
@idofl Thank you for raising this issue!  The 404 error has been escalated.

@spelluru Could you please assist?

[2015-07-27 17:42] tfitzmac commented on #4089
@ahmetalpbalkan thanks for the feedback about this topic. The content from this topic was recently moved into two new topics - https://azure.microsoft.com/en-us/documentation/articles/resource-group-create-multiple/ and https://azure.microsoft.com/en-us/documentation/articles/resource-group-linked-templates/

After I get a redirect set up, I am going to delete the original topic which is why it is

[2015-07-27 17:51] deneha commented on #3633
@nicchub Is this issue still a problem for you?  Please let us the know the URL to the page where the issue is present.  We'll keep this issue open a few more days to see if the issue is still a problem before we close.

[2015-07-27 18:05] szarkos commented on #4075
The process and package name varies between distros.  Typically you can just search the package repo for your distribution for keywords like "Azure".  For the distributions we support (CentOS, Oracle Linux, SLES, openSUSE and Ubuntu) we have the exact commands you can run in the various BYOL documents: https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-create-upload-vh

[2015-07-27 18:08] RickSaling commented on #2401
With SDK 2.0+ we use the AsyncTask, not the callback (and I have repeatedly tested this code).
If you are still having problems, make sure you are using SDK 2.0 (you should have this line in the dependencies section of your gradle file:
    compile files('libs/mobileservices-2.0.1-beta.jar')

Please compare your code with the updated current tutorial, it has this code:

@Override
public void onReg

[2015-07-27 18:08] spelluru commented on #4090
@idofl - thanks for reporting the issue. I have fixed and submitted a PR. You should see the change tomorrow. Thanks.

[2015-07-27 18:09] tysonn commented on #3633
@huguesv - Hugues, can you look into this? It's most likely in your articles based on a search of the repo.

[2015-07-27 18:28] kangman commented on #4075
@szarkos Thanks, is there documentation on testing the agents that the BYOL is indeed communicating with Azure?  This probably could also apply to legacy Azure VMs in production that needs the waagent to access new services e.g. recovery services IaaS backups.
Adding the correct repos for each distro seems like a good troubleshooting step for the walinux agent documentation in general rather than

[2015-07-27 20:19] alexandair opened #4093 "Get-AzureCheckDnsAvailability cmdlet is renamed"
[https://github.com/Azure/azure-content/blob/master/articles/virtual-machines/virtual-machines-ps-create-preconfigure-windows-resource-manager-vms.md](https://github.com/Azure/azure-content/blob/master/articles/virtual-machines/virtual-machines-ps-create-preconfigure-windows-resource-manager-vms.md)

Get-AzureCheckDnsAvailability cmdlet is renamed to Test-AzureDnsAvailability.
[code]

[2015-07-27 20:44] deneha commented on #4093
@alexandair Thanks for raising this issue.  I'll have one of our team review.

@KBDAzure Could you please review this issue?

[2015-07-27 20:47] KBDAzure commented on #4093
Thanks for reporting this. I also saw the Disqus comment in which this issue was reported. I'll make an update to the article to note this.

[2015-07-27 23:07] huguesv commented on #3633
it's in this page, the link from the requirements section is broken.
https://azure.microsoft.com/en-us/documentation/articles/web-sites-python-create-deploy-django-app/

[2015-07-27 23:49] James-Parsons opened #4094 "Add Android, Cordova, and iOS in Swift to Mobile App Services"
Currently, the Azure Mobile App Service docs suck. They provide docs for:

* iOS (Objective-C)
* Xamarin Android
* Xamarin iOS
* Windows

A lot of these are not even in **all** of the tutorials. Could you nice people add Cordova and Android client docs along with providing iOS code in Swift?

[2015-07-28 15:28] deneha commented on #4094
@James-Parsons Thanks for the feedback.  Are there any documents in particular that you find unsatisfactory?  I can pass on this feedback if you can give me some more specific examples of where you feel improvement is needed.

[2015-07-29 00:12] James-Parsons commented on #4094
It would be nice if I could see Android and Cordova clients on at least
"Getting Started" "Push Notifications" and "Authentication" sections

On Tue, Jul 28, 2015 at 11:28 AM, Dene Hager <notifications@github.com>
wrote:

[2015-07-29 15:38] deneha commented on #4094
@James-Parsons Ok, I'll pass along this feedback to the manager of this content area.  Are there any particular tutorials you're using right now?

[2015-07-29 22:25] tysonn opened #4108 "Broken link on media service doc"
The first link on this article throws a 404: https://azure-staging.microsoft.com/en-us/documentation/articles/media-services-portal-get-started-with-live/

@Juliako - can you please fix

[2015-07-30 20:04] soninaren commented on #4041
@ShreyashPromact  have added the missing ProgressFilter class in the PR above.

[2015-07-30 20:42] deneha commented on #4041
@ShreyashPromact We've implemented your suggestion.  You should see the changes appear in the next 24 hours.

[2015-07-31 04:28] ShreyashPromact commented on #4041
@deneha @soninaren

Thanks a lot.
I will wait for that update.

Sincerely,
Shreyash

[2015-07-31 12:44] squillace opened #4120 "doc content issue: customer usage of azure not appropriate?"
@felixrieseberg; @ahmetalpbalkan; @jasonnewyork

I noted [this PR (4105)](https://github.com/Azure/azure-content/pull/4105#issuecomment-126412430) in the repository, rejected with the statement:

[code]

Across azure.com, we (Microsoft) publish tons of articles that have to do with tools that others have written and have nothing to do with official sponsorship or support (there's an entire open-so

[2015-07-31 14:16] ahmetalpbalkan commented on #4120
Agreed on the fact that we write docs on quite many 3rd party software that has nothing to do with us

In this case, Felix's pull request does not make it clear if this tool is by Microsoft or not, or if it supported/endorsed by Microsoft or not. As a customer, security and data collection on such a tool would matter to me a great deal, and I am not sure if there are certain security audits in pla

[2015-07-31 16:30] felixrieseberg commented on #4120
I share the same concerns about security and support as the storage team, which is why __we're never calling Azure directly - we're exclusively using the Azure Storage Node SDK__. In addition, the whole app is offline.

It's essentially just a GUI over the Storage SDK, because all developers on OS X or other Unix flavors currently have no way to actually interact with Azure Storage from a graphica

[2015-07-31 17:42] tamram commented on #4120
We have added a pointer to this storage explorer to the blog post where we list storage explorers; see http://blogs.msdn.com/b/windowsazurestorage/archive/2014/03/11/windows-azure-storage-explorers-2014.aspx. At this time this is where we maintain our list of storage explorers. We can look into adding these to our documentation as a list. But to add content for this individual tool to our document

[2015-08-01 19:22] sahin opened #4137 "New SSH style in the new resource manager"
https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-linux-use-ssh-key/#connect-to-an-azure-virtual-machine-from-linux

In cloudservice we can use
# ssh -i  myPrivateKey.key -p <port> username@servicename.cloudapp.net

but in the new network interface and with new security groups

what is the new way to connect to VM in resource manager model because vm_name.resource_group.loc

[2015-08-02 16:49] GuardRex opened #4139 "Text.Format() not producing valid Azure Table Storage query"
I have a problem constructing an Azure Table Storage query using `Text.Format()` and `SliceStart`?

Assume I start with a table that has keys like this ...
[code]
If I use this query ...
[code]
I correctly get back these two entities ...
[code]
If I use `Text.Format()` and `SliceStart` but not actually interject the `SliceStart` ...
[code]
... that also works.

However, as soon as I start using `T

[2015-08-02 17:10] GuardRex commented on #4139
btw - One of the problems with my debugging the query is that I can't see what your parser is producing out of the `Text.Fomat()` function. It would be helpful if you save and show the final query that is being used with the database somewhere in the UI.

[2015-08-02 17:27] GuardRex commented on #4139
Looks like `SliceStart` is the culprit.

I setup these test entities ...
[code]
Then, ran this query against it (note that my `NewKey` maps into the `PartitionKey` column in the sink dataset ...
[code]
Here's what I got back ...
[code]
This explains why my earlier attempt to query data by date is failing. `SliceStart` is using some date in the year 2014 for that query string. The slice should be (

[2015-08-02 17:34] GuardRex opened #4140 "Rollover text in JSON editor is missing, unclear, and incomplete/incorrect"
Rollover text in the JSON editor frequently doesn't provide any helpful information.

For example:
* "inputs" yields "Inputs"
* "policy" yields "Policy"
* "scheduler" yields no rollover text
* "availability" yields "Scheduler of the table" (meaningless)
* "published" yields "Table is published to Enterprise Data Directory" (meaningless)
* "timeout" yields a comment with text that reads "If a value

[2015-08-02 18:02] GuardRex opened #4141 "Azure Table Storage key translation element name is unclear and rollover text is not helpful"
First off, I think it was a mistake to have a separate system for setting `PartitionKey` and `RowKey` values in the `sink` section, when you had a system setup in the `translator` area specifically for the purpose of translating fields (columns) when reading and writing entities. When I first tried to get a `PartitionKey` to come from another field in my source table (`NewPKey` in this example), I

[2015-08-02 18:07] GuardRex opened #4142 "Azure pricing issue during preview"
I understand this is a documentation repo, but no answers are really being supplied in the Disqus forum. I was hoping I could get an answer here.

My understanding is that during preview, we should get 5 free activities per month. I only have one pipeline with a dataset source (an Azure Table Storage table), one activity (a Copy activity), and one dataset sink (also another Azure Table Storage tab

[2015-08-02 18:26] GuardRex opened #4143 "Azure Batch VM's relative to HDInsight VM's with ADF"
For HDInsight, it's clear that the underlying VM's are provisioned, used, and de-provisioned. It looks like Azure Batch VM's are provisioned outside of ADF such that ADF cannot de-provision them after a pipeline has run. Is that correct? If so, I recommend a line or two be added here ...
https://azure.microsoft.com/en-us/documentation/articles/data-factory-use-custom-activities/#AzureBatch
and her

[2015-08-02 19:02] GuardRex commented on #4139
Rubber duck to the rescue. :baby_chick:  I figured it out: The SliceStart was coming from the pipeline start time. You might want to consider a way to do a "Run" that uses a user-supplied slice start time. As it stands, one has to remember to check the pipeline start (and end) times to make sure they fall within your query for testing purposes.

[2015-08-02 19:02] #4139 closed

[2015-08-02 23:33] stevozilik opened #4144 "Elastic Database client library with Entity Framework - Open Connection issues"
Hi,

I've been playing around with the ShardMapManager and provisioning connections for DbContext, and I believe that the two don't play together well. Specifically the fact that you have to open the connection immediately when the DbContext is created, as opposed to lazy opening when it is first needed.

Ultimately this comes down to the fact that there can be long running processes between the D

[2015-08-03 15:31] deneha commented on #4137
@sahin Thanks for raising this issue.  I'll have the author of the document you reference review your question.

[2015-08-03 16:10] tysonn commented on #4140
@GuardRex - Thanks for filing this... I can't tell which article in our repo this feedback is about - could you add a link to the article?

[2015-08-03 16:14] tysonn commented on #4141
@tamram & @jasonnewyork - Tamra/Jason, could you take a look at this?

[2015-08-03 16:21] tysonn commented on #4142
Hi Luke - Could you please contact the Azure product team with this billing question? Their number is 1-800-867-1389, and option #2 is for billing questions. Sorry the doc team can't help with this one.

[2015-08-03 16:23] tysonn commented on #4143
@JennieHubbard & @spelluru - Could you follow up on this feedback about Azure Data Factory docs? Thanks!

[2015-08-03 16:25] tysonn commented on #4144
@sidneyh & @JennieHubbard - Jenny and Sidney, could you look at this?

[2015-08-03 16:34] sidneyh commented on #4144
Cc’ing the PM team.

From: Tyson Nevil [mailto:notifications@github.com]
Sent: Monday, August 3, 2015 9:26 AM
To: Azure/azure-content <azure-content@noreply.github.com>
Cc: Sidney Higa <sidneyh@microsoft.com>
Subject: Re: [azure-content] Elastic Database client library with Entity Framework - Open Connection issues (#4144)

@sidneyh<https://github.com/sidneyh> & @JennieHubbard<https://github.com/J

[2015-08-03 16:36] spelluru commented on #4143
@GuardRex - Thank you very much for the feedback. I will update the documentation article in a day or two. I will also contact the blog post owner to have the post updated soon.

Thanks again,
Sreedhar

[2015-08-03 16:47] GuardRex commented on #4140
@tysonn Hi ... It's not so much the documentation. I sort of filed this in the wrong place. It might be better as a UserVoice request. The problem is with the rollover text in the JSON editor of ADF itself ... in the Azure portal. When you rollover the elements in the editor, these pop-up messages were put in as an afterthought in many cases. Since this doesn't really deal with the online document

[2015-08-03 16:50] GuardRex commented on #4142
No worries. It's pennies ... it just didn't make sense that MS was saying ADF is "free," and I see a charge right now for using it.

[2015-08-03 16:50] #4142 closed

[2015-08-03 16:52] sidneyh commented on #4144
cc'ing the PM team via GitHub:
@torsteng @tysonn @JennieHubbard @SilviaDoomra

[2015-08-03 17:04] torsteng commented on #4144
Hi Stevo,

The Elastic Database library performs a couple of things on the connection before it is returned. These steps include validating that the sharding key you asked for is still present on that shard. The library will also spin up the infrastructure to close the connection if the sharding key and its dependent data are being moved while the connection is open. These checks are performed usi

[2015-08-03 17:04] sidneyh commented on #4144
I have posted a reply.

From: Sidney Higa
Sent: Monday, August 3, 2015 9:35 AM
To: Azure/azure-content <reply@reply.github.com>; Azure/azure-content <azure-content@noreply.github.com>
Cc: Debra Dove <ddove@microsoft.com>; Torsten Grabs <torsteng@microsoft.com>; Silvia Doomra <sdoomra@microsoft.com>; Stuart Ozer <stuarto@microsoft.com>
Subject: RE: [azure-content] Elastic Database client library wi

[2015-08-03 17:05] GuardRex commented on #4143
@tysonn @spelluru Thanks. I'm learning about Azure Batch now. Except for the expansion of docs dealing with using Batch with ADF, scaling of the Azure Batch is apparently totally controlled by the Azure Batch fabric. It sounds like Batch VM's spin up and down under Batch on-demand. It's unclear to me right now if Batch is what I'm going to need to work around the limitations of ADF querying when w

[2015-08-03 17:13] sahin commented on #4137
@deneha it should be way more clear for ssh

like

nic_name.location.cloudapp.azure.com

[2015-08-03 17:14] sahin opened #4148 "Vnet to VNet"
https://github.com/Azure/azure-content/blob/master/articles/vpn-gateway/virtual-networks-configure-vnet-to-vnet-connection.md

@deneha

this page uses the old UI, old command line and not ARM.

can u update it?

[2015-08-03 17:19] RickSaling commented on #4081
Hey, thank you much for finding this and telling us!
Right now I am "heads down" on a new Android topic, so this will have to wait until I get a break/pause point, hopefully in the next day or two.
Thanks again!

[2015-08-03 17:20] GuardRex commented on #4140
I posted this request at [UserVoice](http://feedback.azure.com/forums/270578-azure-data-factory/suggestions/9151462-rollover-text-in-json-editor-is-missing-unclear).

[2015-08-03 17:20] #4140 closed

[2015-08-03 17:27] deneha commented on #4148
@sahin Thanks for raising this issue.  You are welcome to suggest changes to documentation using the GitHub functionality.  We'll forward the suggestions to the author of the page.

[2015-08-03 17:58] GuardRex opened #4149 "Update template for Azure Batch linked service in Azure Data Factory document"
On the page: https://azure.microsoft.com/en-us/documentation/articles/data-factory-use-custom-activities/#AzureBatch ... in the "Using Azure Batch linked service" section ... there is a JSON template for the linked service. It looks like this:
[code]
It looks like the `type` value is wrong. I think it should be `AzureBatch`.

[2015-08-03 18:00] deneha commented on #4149
@GuardRex Thanks for raising this issue.

@spelluru Could you please assist?

[2015-08-03 18:03] spelluru commented on #4149
@GuardRex - I will fix this issue in a minute along with a few other issues in the article (for example: • Batch URL becomes regional from https://<account>.batch.core.windows.net to https://<account>.<region>.batch.azure.com. Thanks.

[2015-08-03 18:10] GuardRex commented on #4149
@spelluru ... and it says
[code]
 ... but that makes it sound like the Azure Batch Explorer tool is an executable. You might want it to say:
[code]

[2015-08-03 18:46] GuardRex opened #4152 "Examples and docs for Azure Data Factory functions don't show combined functions in $$Text.Format() calls"
On the MSDN page: https://msdn.microsoft.com/en-us/library/azure/Dn835056.aspx ... and elsewhere when the ADF docs refer to functions, there is no text or examples of combining functions in `$$Text.Format()` calls. I was trying to use this:
[code]
and the exception comes back that the parser is choking on it. It should be written like this:
[code]
**The docs don't explain that any inner function c

[2015-08-03 18:54] spelluru commented on #4149
@GuardRex  - Fixing it right now. The updated article should go live tomorrow. Thank you very much the feedback.

[2015-08-03 18:58] GuardRex commented on #4149
@spelluru Sure thing. Thanks for jumping right on it. I'll be keeping an eye out for response to my [Uservoice](http://feedback.azure.com/forums/270578-azure-data-factory/suggestions/9142345-azure-table-storage-query-system-completely-inadeq) call for more ATS datetime key filtering capabilities. ATS is definitely it's own wild beast! :smile:

[2015-08-03 18:58] #4149 closed

[2015-08-03 19:05] sahin commented on #4148
Unfortunately, there is no documentation with the new arm and new virtual networks, I connected to support , I asked for hands on help. if I have anything I will send, but if the author can be quick and update for the new ARM and new virtual network. it will be super great. We really need it.

[2015-08-03 19:05] deneha commented on #4152
@GuardRex Thanks for raising this issue.

@spelluru Could you please review this issue?

[2015-08-03 19:07] deneha commented on #4148
@sahin I'll let our team know about this request.

@cherylmc Could you please review this issue?

[2015-08-03 19:10] Juliako commented on #4037
The link in the https://azure.microsoft.com/en-in/documentation/articles/media-services-develop-video-players/ topic was removed. The topic now contains comments that address the iOS framework question. I will incorporate the comments into the topic later.

[2015-08-03 19:11] Juliako commented on #4108
Fixed https://acom-sandbox.azurewebsites.net/en-us/documentation/articles/media-services-portal-get-started-with-live/

[2015-08-03 19:25] spelluru commented on #4152
@GuardRex - Great suggestion. I will update the MSDN topic you pointed and also the new ACOM (Azure.com) article we just published last Friday: https://azure.microsoft.com/en-us/documentation/articles/data-factory-scheduling-and-execution/. Thank you.

[2015-08-03 19:29] GuardRex commented on #4152
@spelluru Cool. Thanks.

[2015-08-03 19:29] #4152 closed

[2015-08-03 19:46] kempb commented on #3965
Hi again @matiaslarsson, sorry for the delay answering; I was consulting with various experts here about the issue. Unfortunately, continuous deployment support for a non-.net project hosted on VSO to an Azure Web App isn't really supported at the moment. However, Jason Poon will be following up with you to possibly provide a workaround. He authored this topic: http://www.jasonpoon.ca/2015/07/07/a

[2015-08-03 20:17] jpoon commented on #3965
Hey @matiaslarsson!

The issue has been raised with the engineering team. Feel free to also add this to uservoice (https://visualstudio.uservoice.com/forums/121579-visual-studio/category/30925-team-foundation-server-visual-studio-online). In the meantime, as @kempb was mentioning, the workaround I came up with (as detailed in that blog post) breaks down to:

1. Setup local Git repository on the Az

[2015-08-03 20:17] jpoon commented on #3965
Hey @matiaslarsson!

The issue has been raised with the engineering team. Feel free to also add this to uservoice (https://visualstudio.uservoice.com/forums/121579-visual-studio/category/30925-team-foundation-server-visual-studio-online). In the meantime, as @kempb was mentioning, the workaround I came up with (as detailed in that blog post) breaks down to:

1. Setup local Git repository on the Az

[2015-08-03 20:32] GuardRex commented on #4143
@spelluru It looks like the Azure Batch Pool must have at least one running VM. It can auto-scale up and down from there on demand. Since a Batch Pool can't have zero active VM's and only spin one up when ADF has work to do, it's not a good solution for me. I'm only trying to run one ADF pipeline once per day. It would be a waste to have a VM running all day and all night for one pipeline doing a

[2015-08-03 21:34] GuardRex opened #4154 "Typo in Azure Data Factory doc"
In the Azure Data Factory tutorial at [Tutorial: Create and monitor a data factory using Data Factory Editor](https://azure.microsoft.com/en-us/documentation/articles/data-factory-get-started-using-editor/)

On the "Using Data Factory Editor" tab ...

Under the "Create output table" section ...

It looks like ...
[code]
should be
[code]

[2015-08-03 21:47] deneha commented on #4154
@GuardRex Thanks for raising the issue.

@spelluru Could you please assist?

[2015-08-03 21:47] DarqueWarrior commented on #3965
I think this does what you want.
https://azure.microsoft.com/en-us/documentation/articles/web-sites-nodejs-develop-deploy-mac/

[2015-08-03 22:07] spelluru commented on #4154
Thanks @GuardRex. I will update it today and take it live tomorrow. Appreciate your feedback.

[2015-08-03 22:32] GuardRex commented on #4154
@spelluru Sure thing. There's one more there on the same page that looks wrong:

In the `ADFTutorialPipeline` template, it shows this "Policy" section:
[code]
... but `style` was apparently removed at some point ... I don't see it in the JSON editor in the Azure portal.

Also, That `writeBatchTimeout` in the `sink` section ...
[code]
... set to `60:00:00` looks wrong. If that's supposed to be hour

[2015-08-04 00:19] stevozilik commented on #4144
Hi Torsten,

appreciate quick response.

I agree with what you are doing besides opening the connection, I think it's great, but the issue is when is it happening.

With the existing examples and guidance, some applications including mine will behave differently. I've designed my application knowing how EF works with database connections by default, taking advantage of it, and now that's not the c

[2015-08-04 02:07] spelluru commented on #4154
Fixed all the issues except the following. You should see the changes tomorrow.

style: Editor works fine for me with style. I even press CTRL + Spacebar to see the property. Intellisense also shows the values such as StartOfInterval.

Thanks.

[2015-08-04 02:22] GuardRex commented on #4154
@spelluru Strange ... I'm not seeing it. Well, it doesn't really affect me. I just need to specify `style` for the `scheduler` element. Anyway ... here's what the portal is showing me if I try to add a `style` to `policy` ... it doesn't find it:
![capture](https://cloud.githubusercontent.com/assets/1622880/9051811/a1a1a99a-3a25-11e5-94f3-ca04fc734cad.png)

[2015-08-04 02:22] #4154 closed

[2015-08-04 02:24] GuardRex commented on #4154
Oh! ... and I just noticed that the template has `Policy` as the element, but I think they are all supposed to be lowercase, right? ... `policy`?

[2015-08-04 02:31] spelluru commented on #4154
I was testing the property in the availability section of the dataset. Now, I tested in the policy section of a pipeline JSON, I see the issue you are seeing. I looked at the latest JSON in the https://azure.microsoft.com/en-us/documentation/articles/data-factory-create-pipelines/ article. The style element has been removed. I am going to remove it from the tutorial. Thanks.

[2015-08-04 02:35] GuardRex commented on #4154
Oh, ok, cool. I thought my Azure portal was playing a trick on me! :smile:

[2015-08-04 05:29] GuardRex opened #4158 "Broken link in Azure Data Factory Use Case page"
Hello @spelluru,

Got one for ya ... On the page: https://azure.microsoft.com/en-us/documentation/articles/data-factory-customer-profiling-usecase/

The link to  www.microsoft.com/cortanaanalytics is broken. I think it should point to ...

http://www.microsoft.com/en-us/server-cloud/cortana-analytics-suite/Overview.aspx

[2015-08-04 05:33] spelluru commented on #4158
Thank you. I noticed it today and updates the article. Changes should go live in a day.

Sent from my iPhone

On Aug 4, 2015, at 1:29 AM, Luke Latham <notifications@github.com<mailto:notifications@github.com>> wrote:

Hello @spelluru<https://github.com/spelluru>,

Got one for ya ... On the page: https://azure.microsoft.com/en-us/documentation/articles/data-factory-customer-profiling-usecase/

The

[2015-08-04 14:18] SuperScottz commented on #4076
Sorry for late, I 'm looking into it, we have some code structure change in 2.1.0 version of Agent, the download need be updated, I will get back the right steps soon.

[2015-08-04 15:18] deneha commented on #4037
@anavgale Does this resolve your issue?  Please let us know if you need further assistance by replying to this issue.  We'll close this in a couple days if we don't hear back.

[2015-08-04 15:44] #4090 closed

[2015-08-04 15:45] #4041 closed

[2015-08-04 16:24] #4158 closed

[2015-08-04 16:43] cherylmc commented on #4148
I'll check with the product team on this. This particular article would not be updated, as it is valid for the classic Service Management VNets, which still exist in production for many customers. I would write a new article specifically for Resource Manager. The first article would likely be PowerShell.

[2015-08-04 16:45] sahin commented on #4148
@cherylmc thanks. I contacted the support but they seem they cannot help that much. I really really need vnet - vnet Resource Manager very urgently. When do you think u can write one?

[2015-08-05 01:36] Juliako commented on #1731
It could be that when the ticket was opened the CDN was not enabled for that account. After April 2014, CDN was enabled for everyone. Please try locating it now.
![cdnimage](https://cloud.githubusercontent.com/assets/1652984/9076490/a65f4412-3ad7-11e5-89e2-cca6db1b5115.PNG)

[2015-08-05 22:25] davidwrede commented on #1731
Hi @ahmetalpbalkan, apologies for the very long delay!

Our CDN provisioning topic has been updated [here](https://azure.microsoft.com/en-us/documentation/articles/cdn-create-new-endpoint/). I just went through the steps again to verify that CDN is available in the left sidebar, so if you're still not seeing it, then I'm happy to drill down with you further to try and figure out what the problem m

[2015-08-05 22:27] davidwrede commented on #1946
@kempb, could either you or Patrick look into this and see if it's still an issue?

Thanks,
Dave

[2015-08-05 22:28] ahmetalpbalkan commented on #1731
@davidwrede np at all!

After more than a year, I learned that we shut down our CDN service to new customers (and I was a new customer back then). If you actually sign up for an Azure account using your credit card, I think CDN service still does not exist on the left sidebar...

So I think docs still are invalid.

[2015-08-05 22:35] davidwrede commented on #2391
Hi @jx37, apologies for the delay. We've recently updated the [Xamarin.Android version](https://azure.microsoft.com/en-us/documentation/articles/partner-xamarin-mobile-services-android-get-started-push/) of our push notification tutorial.

Please check it out, and if you're still stuck, feel free to leave a Disqus comment at the bottom of the topic and we'll respond as soon as we can.

Thanks,
Dav

[2015-08-05 22:35] #2391 closed

[2015-08-05 22:40] zhangmanling commented on #1731
CDN is by default enabled in left navigation for all customers. Please provide the subscription ID that you see the problem.

[2015-08-05 22:41] ahmetalpbalkan commented on #1731
@zhangmanling I don't have a subscription that CDN was not enabled. But I had to open a support ticket to get CDN enabled on my subscription last year. Closing this issue assuming it's fixed now... Thanks.

[2015-08-05 22:41] #1731 closed

[2015-08-05 22:58] davidwrede commented on #4032
@Juliako, can you work with the product team to get the CDN limits into the limits doc?

[2015-08-05 23:11] SuperScottz commented on #4076
@kangman
For the latest version of Azure Linux Agent 2.1.0, please use below steps to update:
1. Install pip or setuptools. Either of these should work.
•	pip https://pip.pypa.io/en/latest/installing.html
•	setuptools https://pypi.python.org/pypi/setuptools
2. Download agent code
•	wget https://github.com/Azure/WALinuxAgent/archive/WALinuxAgent-2.1.0.zip agent.zip
•	unzip agent.zip -d agent
3. Run

[2015-08-05 23:12] davidwrede commented on #4094
Hi @James-Parsons,

Thanks for the feedback on what versions of our tutorials you'd like to see.

We're currently in the midst of a doc push at the moment, but rest assured, we already have Android, Cordova, and Swift versions of our tutorials in our backlog. We'll start on them as soon as the various client bits and this doc push are done.

[2015-08-05 23:14] davidwrede commented on #4108
verified on production site

[2015-08-05 23:14] #4108 closed

[2015-08-05 23:31] James-Parsons commented on #4094
Cool, thanks

On Wed, Aug 5, 2015 at 7:12 PM, David Wrede <notifications@github.com>
wrote:

[2015-08-06 02:29] kangman commented on #4076
cool @SuperScottz , does this version also support legacy azure Linux vm's?

[2015-08-06 13:35] matiaslarsson commented on #3965
Thanks everyone, I'll try your suggestions next week and get back to you with a thumbs up or thumbs down.

Also, I'll probably start a uservoice ticket for a smoother continuous deployment support for a non-.net project hosted on VSO to an Azure Web App experience if nobody else already has submitted a request.

[2015-08-06 18:44] mauricionr opened #4187 "I found this broken link - https://azure.microsoft.com/en-us/documentation/articles/cdn-how-to-use/"
https://azure.microsoft.com/en-us/documentation/articles/cdn-how-to-use/

[2015-08-06 18:51] deneha commented on #4187
@mauricionr Thanks for raising this issue.

@Juliako Could you please assist?

[2015-08-06 19:08] Juliako commented on #4187
@mauricionr thank you, I am in the process of fixing it.

[2015-08-06 20:05] mauricionr commented on #4187
Thanks @deneha and @Juliako !

[2015-08-06 21:13] GuardRex opened #4191 "Typos in SQL Server Stored Procedure Activity in Azure Data Factory page"
Hello @spelluru

I have another nit for ya ...

In the page [SQL Server Stored Procedure Activity](https://azure.microsoft.com/en-us/documentation/articles/data-factory-stored-proc-activity/), there are two minor typos:

In Step 4 of the Example, `"typeproperties"` should be `"typeProperties"` and `" SqlServerStoredProcedure "` should be `"SqlServerStoredProcedure"` (no spaces around the value).

[2015-08-06 21:15] spelluru commented on #4191
Thank you. Fixing it today. Changes will go live tomorrow.

[2015-08-07 02:26] patshea123 commented on #1946
I created a Win8 app in VS 2015, added Moblie Services through the *Add Connected Services* dialog, then added Push Notifications through the [Project] / Add / Push Notifications wizard.

 - The generated notifyallusers.js file still contains the code
        response.send(statusCodes.OK);
- The Windows Dev Center Win8 archived topic [Code generated by the push notification wizard](https://msdn.mi

[2015-08-07 06:31] #4191 closed

[2015-08-07 12:05] DesrosiersC opened #4195 "Problem with Reliable Actors design pattern: distributed computation article"
Hi,

There seems to be an inconsistency in the Reliable Actors design pattern: distributed computation article. The graphic and text is stating that the Aggregator should be stateless and have multiple concurrent instances but the code tells a different story.

Since the Aggregator inherits from "Actor of (AggregatorState)", it is statefull. Now, since it is always created by PooledTask with an Id

[2015-08-07 15:15] deneha commented on #4195
@DesrosiersC Thank you for raising this issue.  Do you have the link to this article?

[2015-08-07 15:22] DesrosiersC commented on #4195
@deneha Here it is:
https://github.com/Azure/azure-content/blob/master/articles/service-fabric/service-fabric-reliable-actors-pattern-distributed-computation.md

[2015-08-07 15:24] deneha commented on #4195
@DesrosiersC Thanks!  I'll contact a member of our team to review your question.

@jessebenson Could you please assist?

[2015-08-07 19:02] stevozilik commented on #4144
Hi Guys,

I've build my application around Federations and Entity Framework lazy connection opening, passing DbContext around for better performance and to workaround the lack of distributed transactions, still having well separated code in small units.

You've retired the first and crippled the second, that is not a recipe for success. Are you expecting me to refactor all my data access logic?

I

[2015-08-07 21:22] barbkess commented on #4038
Everything is fixed and working as far as I can tell.  Please close this issue.

[2015-08-10 04:17] SuperScottz commented on #4076
@kangman , Yes, it support the legacy Linux VM in Azure, the major change we made is the to make the Linux Agent code more modularized, you could see the install file was divided into several files with more clear modules, and it will be easy to be customized or managed.

[2015-08-10 15:56] deneha commented on #2401
@boolship We think the issue has been resolved. If the issue persists, please comment and we'll reopen this issue.

[2015-08-10 15:56] #2401 closed

[2015-08-10 16:11] deneha commented on #3633
@h4nN The issue has been corrected.  You should see the update by Noon PST today in the live documentation.  Please let us know if we can assist you further.  I'm closing this issue now.

[2015-08-10 16:11] #3633 closed

[2015-08-10 16:22] #4038 closed

[2015-08-10 16:32] deneha commented on #4187
@mauricionr The link has been changed:  https://azure.microsoft.com/en-us/documentation/articles/cdn-how-to-use-cdn/

Please let us know if this doesn't solve your issue by leaving a comment.  I'm closing this issue because the issue seems resolved.

[2015-08-10 16:32] #4187 closed

[2015-08-10 16:45] mauricionr commented on #4187
Thanks @deneha

[2015-08-10 17:05] cherylmc commented on #4148
We are working on that at the moment. It looks like I should have something ready next week.

[2015-08-10 17:27] tfitzmac commented on #4089
@ahmetalpbalkan - the redirect has been set up and the old topic deleted. The previous link now goes to the new topic. I believe this issue can be closed.

[2015-08-10 17:27] #4089 closed

[2015-08-10 17:27] ahmetalpbalkan commented on #4089
thanks

[2015-08-10 17:34] sahin commented on #4148
@cherylmc , I was getting hands on help from azure support.

[code]

[2015-08-10 18:22] deneha commented on #3947
@ahmetalpbalkan I've fixed the issue for the page title.  Please comment if this does not resolve your issue.

[2015-08-10 18:22] #3947 closed

[2015-08-10 22:16] Juliako commented on #4032
The CDN limits section was added here: https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/#cdn-limits

[2015-08-11 14:13] rothja commented on #3634
I have product team today to confirm the limit still exists, and then I will get into the docs. My response on this is unacceptably slow, and I apologize. Thanks.

[2015-08-11 18:24] ajaynavgale commented on #4037
Sorry I am late to reply.

Actually I am still looking for an answer.

Can I play AES encrypted and protected media form Azure Media Services using Azure Media Player on iOS app using webview?

Thanks.

[2015-08-11 18:26] anavgale commented on #4037
Sorry I am late to reply.

Actually I am still looking for an answer.

Can I play AES encrypted and protected media form Azure Media Services using Azure Media Player on iOS app using webview?

Thanks.

[2015-08-12 07:23] matiaslarsson commented on #3965
@jpoon I might be missing something but it seems your workaround still requires a Visual Studio solution file for the VSO build to succeed? Since I'm using Visual Studio Code and node.js, there is no solution file so I just entered `/` under 2.1 (Relative path to the solution/project file you want to build) which of course failed.

[code]

[2015-08-12 07:36] matiaslarsson commented on #3965
@DarqueWarrior Yes, the result from that article is what I want but I was looking for a way to have Continuous Integration from Visual Studio Online GIT publish to an Azure Web App (without a VS .sln-file). It looks like the article you reference is doing it straight from a local GIT to the Azure Web App.

Maybe VSO Build is coupled so tightly to the VS development environment that what I'm trying

[2015-08-12 10:18] SuperScottz commented on #4076
@kangman we have updated the README for 2.1.0, see: https://github.com/Azure/WALinuxAgent/tree/2.1
and I have updated the ACOM doc you are referencing, it will be updated shortly in azure.com.
Thank you for your nice feedback to Linux Agent. :)

[2015-08-12 11:56] MalteJ opened #4223 "What is the limit of user defined routes in an azure vnet routing table?"
How many user defined routes may I add to an azure routing table?
Here it only says the maximum number of routes that is displayed is 800.
https://github.com/Azure/azure-content/blob/master/articles/virtual-network/virtual-networks-udr-how-to.md

So how many routes may I create?

[2015-08-12 12:11] MalteJ commented on #4223
Can I use those routes to set up a Kubernetes network, where every VM has a /24 subnet that is used by Docker Containers?
Let's say my VMs have IPs in the subnet `192.168.0.0/24`

| VM   | VM IPv4 Address | Containers' IPv4 Addresses |
|------|-----------------|----------------------------|
| vm-1 | 192.168.0.1     | 10.0.1.0/24                |
| vm-2 | 192.168.0.2     | 10.0.2.0/24

[2015-08-12 15:20] deneha commented on #4223
@MalteJ Thank you for raising this issue.  I'll contact a member of our team to review your question.

@telmosampaio Could you please assist?

[2015-08-12 17:25] rajputam commented on #4037
When using the HTML5 video tag in Safari, has no APIs to set a token. If you just attach the token to the player, for Safari HLS, Players will pass down Safari to handle the playback and Safari will ignore the token. This is specifically Apple’s implementation and we have no control over it.

When using webview, which will use the HTML5 video tag with Apple today, in order to playback AES encrypte

[2015-08-12 17:56] deneha commented on #4037
@Juliako Could you please review this question?

[2015-08-12 18:54] jpoon commented on #3965
@matiaslarsson, ah, you are totally right. Here's a new version removing stripping all the non-relevant build steps and leaving the `git push remote azure` bit:

https://gist.github.com/jpoon/736ee1ed79ea768c0799

 Disclaimer, I haven't tested this myself :)

[2015-08-12 20:03] kangman commented on #4076
no thank you @SuperScottz   :+1:

[2015-08-12 20:03] #4076 closed

[2015-08-12 21:41] tamram commented on #4141
@GuardRex, can you tell us which article your comments above refer to?

[2015-08-12 22:17] GuardRex commented on #4141
@tamram I opened this in the wrong place. It's clear to me now that this forum is for doc-related comments. I'll open a UserVoice issue on this for ADF.

[2015-08-12 22:17] #4141 closed

[2015-08-12 22:21] GuardRex commented on #4141
I posted it here: http://feedback.azure.com/forums/270578-azure-data-factory/suggestions/9298137-azure-table-storage-key-field-translations-json-e

[2015-08-13 07:47] matiaslarsson commented on #3965
@jpoon Thanks, will try!

[2015-08-17 16:27] cherylmc commented on #4148
Sounds like you are good to go, then! The article should be out there sometime later this week.

[2015-08-17 16:54] cherylmc commented on #4148
I'll ping back with the link when it's live. It looks like your settings are slightly different than what I am working with, so I'll run them by the product group PM that owns the technology. Thanks for providing!

[2015-08-17 16:55] sahin commented on #4148
@cherylmc thx.

[2015-08-17 23:02] Juliako commented on #4032
The issue has been resolved, please close it.

[2015-08-17 23:05] Juliako commented on #4037
Hi Anavgale, please let us know if your question has been answered.
thank you,
Julia

[2015-08-17 23:06] #4032 closed

[2015-08-17 23:16] KBDAzure commented on #4093
I've updated the article and submitted it for publishing. The update should be published tomorrow, 8/18.

[2015-08-18 05:43] ajaynavgale commented on #4037
yes, thank you. I am referring to the blog mentioned and implementing the proxy. Thanks a lot for your help.

[2015-08-18 06:24] Juliako commented on #4037
Great! I am glad you were able to make it work.

[2015-08-18 18:05] deneha commented on #4037
We're closing this issue now since the problem seems resolved.  Please comment if we should reopen.

[2015-08-18 18:05] #4037 closed

[2015-08-20 20:46] kangman opened #4269 "Get-AzureBackupVault command-let not working for azure module v.0.9.7"
trying to tab complete for this command fails. it seems to be not included on v.0.9.7

[2015-08-20 20:49] kangman commented on #4269
closing, did not switch to resource manager.

[2015-08-20 20:49] #4269 closed

[2015-08-21 23:27] cherylmc commented on #4148
Here's the link to the new doc. Hope this helps! https://azure.microsoft.com/documentation/articles/vpn-gateway-vnet-vnet-rm-ps/

[2015-08-24 05:43] kevinapurcell opened #4287 "expressroute-exp-connectivity-workflow.png"
expressroute-exp-connectivity-workflow.png step 3 bullet 2 says "Customer proides list of prefixes..." this should say "Customer provides list of prefixes..."

[2015-08-24 15:34] deneha commented on #4287
@kevinapurcell Thanks for raising this issue.  I'll contact the author.

@cherylmc Would you please assist?  The issue in question is located in this article: https://azure.microsoft.com/en-us/documentation/articles/expressroute-configuring-exps/

[2015-08-24 15:40] deneha commented on #1738
It appears this issue has been resolved in https://github.com/Azure/azure-sdk-for-python/issues/376 - please comment if I should reopen this issue.

[2015-08-24 15:42] #1738 closed

[2015-08-24 15:46] deneha commented on #1946
@jkkjonah It appears that the question has been answered.  I'm going to close this issue now.  Please comment if we should reopen this issue and investigate further.

[2015-08-24 15:46] #1946 closed

[2015-08-24 15:56] deneha commented on #4148
@sahin It looks like this issue has been resolved.  I'm closing this issue.  Please comment if the issue should be reopened.

[2015-08-24 15:56] #4148 closed

[2015-08-24 16:18] cherylmc commented on #4287
Thanks! I'll have them create me a new graphic for that. Good catch!

[2015-08-24 17:45] KBDAzure commented on #4093
@deneha - this issue is fixed and the updated article is published. https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-ps-create-preconfigure-windows-resource-manager-vms/
Please close this issue.

[2015-08-24 17:47] #4093 closed

[2015-08-25 16:21] ggailey777 commented on #4081
I can't repro this issue. There is no link from the server scripts topic to any .NET topics, except the .NET SDK reference in the left-nav, and that link works.

[2015-08-25 16:54] RickSaling commented on #4081
I deleted the link: it was part of the switcher, and was pointing at a non-existent topic about .Net backend scripts (scripts don't exist in the .Net backend)

[2015-08-26 01:50] spelluru commented on #4143
It’s possible to create an Azure batch pool with 0 dedicated VMs and an auto-scale formula. Please see https://azure.microsoft.com/en-us/documentation/articles/batch-automatic-scaling/ for more information on automatic scaling.

HTH,
Sreedhar

[2015-08-26 04:11] #4143 closed

[2015-08-27 17:21] clca commented on #4195
Thanks for reporting this issue. There is a small inconsistency in the code snippet. Instead of using the same Id, aggregator should be created using a unique ID:
        var agg = ActorProxy.Create<IAggregator>(ActorId.NewId());

[2015-08-31 11:40] DesrosiersC commented on #4195
Just trying to understand here. If every Aggregator is created wit a different ID, doesn't that mean that each task will end up creating it's own Aggregator ? If that's the case, they won't aggregate much...
This is not what is illustrated in the graphic.

[2015-08-31 16:27] deneha commented on #4081
@bateau This issue appears resolved, so we're closing this issue.  If you need us to reopen the issue, please comment and ask for the issue to be reopened if the problem persists.

[2015-08-31 16:27] #4081 closed

[2015-08-31 17:13] #4094 closed

[2015-09-02 22:29] MarcRice opened #4406 "Preferable should be preferably"
In the Staging server section, the sentence "This second server can preferable be located in a different datacenter since no infrastructure is shared with the primary server." should read "This second server can preferably be located in a different datacenter since no infrastructure is shared with the primary server. "

[2015-09-02 23:31] telmosampaio commented on #4223
The 800 limit is for BGP routes. You can have up to 100 routes (by default) in a route table, and 100 route tables per region per subscription. If you need more, you can contact support.

[2015-09-03 15:38] deneha commented on #4406
@MarcRice Thanks for raising this issue.  Could you please provide the URL of the page?

[2015-09-05 07:53] Robbert-Driven-It commented on #4195
Hi guys, I was looking for a way to comment on the distributed-computation article and I found this thread. I'm glad I'm not the only one having some problems getting my head around the sample code.
one of the first questions I have is what is the significants of this call,
'var task = ActorProxy.Create<IPooledTask>(0);'
does the id 0 do anything special? or is it simply pointing to the same insta

[2015-09-08 11:33] DesrosiersC commented on #4195
My understanding is that it depends on whether the actor is statefull or stateless. If it is stateless, you'll have multiple instances even if you use Id 0 for each call.

It still doesn't answer my first question: is the aggregator statefull or not ? And if it is statefull, how does the sample actually work ?

I guess @jessebenson would be the best to answer us but I do get it that he must be bus

[2015-09-08 16:50] deneha commented on #4223
@MalteJ We're closing this issue.  If you need further help, please contact support.  If you have a document content issue, please raise the issue here.  Thank you!

[2015-09-08 16:50] #4223 closed

[2015-09-08 17:24] jessebenson commented on #4195
I've updated the article to match the image.  The code should be creating 'taskCount' unique stateless IPooledTask actors, which each attempt to calculate Pi.  These pooled actors should send their results to a smaller number of stateful IAggregator actors, which accumulate the result and save it.  The aggregator actors send the final results to the single IFinaliser actor that accumulates the fin

[2015-09-08 17:43] DesrosiersC commented on #4195
Thanks @jessebenson, I really appreciate that you took the time to take a look. Hope it will help others like me to understand better that wonderful new platform.

[2015-09-08 17:43] #4195 closed

[2015-09-08 18:23] deneha commented on #4120
Closing at request of @tamram

[2015-09-08 18:23] #4120 closed

[2015-09-08 18:29] jessebenson commented on #4195
For both stateless and stateful actors, the ActorId is the way to get a reference to an actor instance.  So the Id 0 will refer to the same actor instance for both stateless and stateful.

[2015-09-08 20:19] DesrosiersC commented on #4195
@jessebenson thanks for the precision.

The following phrase in the article was confusing to me:
----
We are using stateless actors for two main reasons: the runtime will decide how many aggregators are needed dynamically, therefore giving us scale on demand; and it will instantiate these actors “locally” – in other words in the same silo of the calling actor, reducing network hops.
----
I thought

[2015-09-08 20:41] jessebenson commented on #4195
@clca - can you help clarify the comment about instantiating actors "locally"?

[2015-09-09 07:25] Robbert-Driven-It commented on #4195
Thanks for updating the article makes a lot more sense now

[2015-09-09 22:13] James-Parsons commented on #4094
Has there been any progress?

[2015-09-10 07:12] JMarson opened #4454 "Mobile Services iOS .Net Get Started Tutorial Errors"
In the tutorial - https://azure.microsoft.com/en-us/documentation/articles/mobile-services-dotnet-backend-ios-get-started-data/

The line:
self.table = [self.client tableWithName:@"TodoItem"];
generates the error: "No visible @interface for 'MSClient' declares the selector 'tableWithName:'"

The MSClient.h file that comes with the sample project download includes a method 'getTable:', so either th

[2015-09-10 15:48] deneha commented on #4454
@JMarson Thank you for raising this issue.  I will have the author of the document review your question.

@krisragh Would you please review this question?

[2015-09-10 20:17] krusk opened #4461 "Basic File Upload"
I am newer to Node.js and am following this article to perform some basic blob actions:

https://azure.microsoft.com/en-us/documentation/articles/storage-nodejs-how-to-use-blob-storage/

One of those basic actions is uploading to a blob. I created a test.txt file at the same level of server.js but it doesn't seem to upload to "mycontainer". Is SAS required for this to occur/are there any other ref

[2015-09-11 14:08] rothja commented on #3634
Added this to the resource limits topic, https://azure.microsoft.com/en-us/documentation/articles/sql-database-resource-limits/, and it should show up later today when published. Thank you.

[2015-09-11 15:32] deneha commented on #4461
@krusk Thanks for raising this issue.  I'll have the author review your question.

@MikeWasson Would you please review this question?  Thank you.

[2015-09-11 16:19] krusk commented on #4461
Thank you. I consoled logged the error as follows:

{ [Error: The MD5 value specified in the request did not match with the MD5 valu
e calculated by the server.
RequestId:38ac3597-0001-006b-10ad-ec495f000000
Time:2015-09-11T16:19:02.2964517Z]
  code: 'Md5Mismatch',
  userspecifiedmd5: 'iXQqCdm0Eym4ULdqdrBeAA==',
  servercalculatedmd5: 'd0/2Ml1E1yVKGggdT56vLw==',
  statusCode: 400,
  requestId: '38

[2015-09-14 17:41] krisragh commented on #4454
@JMarson: where did you download the Xcode project from? I just create a new Azure Mobile App at the preview Azure portal, and downloaded the Objective-C quickstart Xcode project. In that file, I see a definition for only tableWithName, none for getTable, in MSClient.h.  Can you please try again?

[2015-09-14 17:47] deneha commented on #4287
@kevinapurcell Thanks again for raising this issue.  Our content plan includes the removal of this topic, so we're going to close this issue.

[2015-09-14 17:47] #4287 closed

[2015-09-14 21:30] tysonn commented on #3634
@calebdoise - Jason updated the topic to address this issue, so closing. Thanks for raising it.

[2015-09-14 21:30] #3634 closed

[2015-09-15 23:23] JMarson commented on #4454
@krisragh I downloaded it from clicking one of the two links that say 'GetStartedWithData iOS app' within the page section 'Download GetStartedWithData Project'. They both point to the download URL is http://go.microsoft.com/fwlink/p/?linkid=268622&clcid=0x409.

[2015-09-15 23:56] krisragh commented on #4454
@JMarson: you are right! This is indeed an outdated version of code you're seeing, with an outdated framework included as well. I'm sorry about this bug -- I'm investigating what we can do here. (Note that if you download a quickstart project straight from the portal for your mobile backend, it'll have the latest code and framework integrated into it, but I realize that's not the focus of this tut

[2015-09-16 00:10] JMarson commented on #4454
All good! Just letting you know of the error! Thanks @krisragh

[2015-09-16 16:01] GeekActual opened #4505 "Links for new non-classic VMs links to old classic VM help"
Basically, the links provided in the Quick Start Blade in Portal.azure.com for the new style VMs leads to the old classic VM help files for the old manage.windowsazure.com portal.

For example following the link for how to capture and reuse a VM from the Quick Start blade on a new style VM gives you instructions on how to accomplish that task for Classic VMs and is not applicable / doesn't work.

[2015-09-16 16:09] tysonn commented on #4505
@GeekActual - Thanks for reporting this - we're routing for investigation.

[2015-09-17 16:27] matiaslarsson commented on #3965
@jpoon Worked like a charm! Now I just have to figure out how to get a Gulp build step in there somewhere. Are you using Kudu to edit the deployment templates?

It would be nice not to have to go through all these hoops in the future though, just because I run Visual Studio Code and deploying non .sln projects so I'll keep my fingers crossed for a more permanent solution.

[2015-09-17 18:02] jpoon commented on #3965
Re: More permanent solution. They are working on it ;)

You can most definition edit Kudu to add your build step.
[code]
That'll generate the default build scripts (`deploy.sh` or `deploy.cmd`) that you can modify to add whatever you need to do.

[2015-09-20 12:25] snobu opened #4545 "2 broken links"
In this section here both links return 404.

https://azure.microsoft.com/en-gb/documentation/articles/web-sites-custom-domain-name/

[2015-09-21 15:15] deneha commented on #4545
@snobu Thank you very much for letting us know about this document issue.  I'll notify a member of our team to get it fixed.

[2015-09-21 15:56] deneha commented on #3797
@huguesv @davidwrede Would you please assist?

[2015-09-21 15:57] deneha commented on #3996
@huguesv Would you please assist?

[2015-09-21 18:57] deneha commented on #4545
@snobu These have been fixed and they're live.  Thanks again for the heads up!  Closing this issue.

[2015-09-21 18:57] #4545 closed

[2015-09-21 21:33] abombss opened #4561 "Add ARM Schema"
Please make it easy to download and view the JSON schema files for all resource providers.

Today it is very difficult to track down the specific documentation required for creating ARM Templates.  The easiest solution would be to include a simple catalog page linking to all JSON Schema files, as well as actually keeping https://schema.management.azure.com and https://github.com/Azure/azure-resour

[2015-09-22 13:15] tysonn commented on #4406
Fixed in https://azure.microsoft.com/en-us/documentation/articles/active-directory-aadconnect-topologies/.  Thanks for calling this out.

[2015-09-22 13:15] #4406 closed

[2015-09-22 16:47] abombss commented on #4561
If anyone is interested, here is something that will spit out what is available.
https://gist.github.com/abombss/c61c23803c5ddb0fb10e

The biggest issue is http://schema.management.azure.com/schemas/ is not up to date with the latest available schemas.  That can be seen by just looking at the deploymentTemplate.json and noticing all the new functions "add, sub, length, etc" are not in that templat

[2015-09-25 19:43] jjcad opened #4608 "Suggestion to improve the shell script linked to within article."
The present version of https://hdiconfigactions.blob.core.windows.net/linuxrconfigactionv01/r-installer-v01.sh is using the RStudio repository for download of R sources on Line 13. It doesn't appear that RStudio is contributing to this project, so it's a bit unfair that they're being saddled with the bandwidth costs.

Suggest changing line 13 in the aforementioned script to:
[code]

[2015-09-27 08:09] NT-D opened #4613 "Error occured in "Build your first pipeline using Azure Data Factory"."
# Problem
In [this tutorial](https://azure.microsoft.com/en-us/documentation/articles/data-factory-build-your-first-pipeline/), ParseException will cause.

## Repro steps
1. In [this step](https://azure.microsoft.com/en-us/documentation/articles/data-factory-build-your-first-pipeline/#prepare-azure-storage-for-the-tutorial), save "partitionweblogs.hql" with "UTF-8".
2. Run pipline process ln [this

[2015-09-27 08:14] NT-D commented on #4613
just fyi
To resolve the problem, I refered [this answer](http://www.stackoverflow.dluat.com/questions/23407246/parseexceptions-when-using-hql-file-on-hdinsight) in stackoverflow.

[2015-09-27 16:00] wmmihaa opened #4614 "Build and deploy a Node.js API app in Azure App Service - Unable to set deployment credenitals"
I've followed the instructions from here: https://azure.microsoft.com/en-us/documentation/articles/app-service-api-nodejs-api-app/

The "Setup continuous deployment" tile is overlayed by a message saying "Please push changes to your repository. Click here to go to the properties blade where you can find the git clone URL."

I'm not not seeing the "Set deployment credential tile", and if I click th

[2015-09-28 01:22] James-Parsons opened #4615 "Update all tutorials to use UWP."
I am specifically speaking about Mobile Services and App Services. We need docs to go with the new Windows UWP instead of Windows and Windows Phone 8.x.

[2015-09-28 21:01] kempb commented on #3965
Hi, @matiaslarsson - if there's anything other issues with this topic I can help with, please let me know. Otherwise, if you would close this issue, I'd appreciate it.  :)   (You can always open a new one if needed.)

[2015-09-30 02:09] mwmoeller commented on #3965
Thanks @jpoon  - this looks super helpful!  I'm having a slight issue with the build though.  When I create a build definition that uses this template, I get the following error. What am I doing wrong?

Exception Message: The directory name is invalid (type Win32Exception)
Exception Stack Trace:
Server stack trace:
at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
at

[2015-09-30 03:16] mwmoeller commented on #3965
So once I changed the working directory on lines 63 and 81 to "d:\a\src" it worked.  The only issue I'm seeing now is that it is deploying out of origin/master rather than origin/develop as set up in the "source settings" of the build definition.  Any thoughts on that?  I tried editing the template to do 'git push azure develop:refs/heads/master' - but got an error indicating that develop doesn't

[2015-10-01 00:04] torsteng commented on #4144
Hi Stevo,

Thanks for the continued feedback and for sharing your concerns. We have discussed the kind of support for Entity Framework that you need in the Elastic Database client library with the EF team. This would be a major work item – and the investment would be limited to just EF. Rather than making a large investment just for EF, we would like to make one investment that lights up other ORM

[2015-10-01 11:20] asensionacher opened #4658 "Remember where to install aps for Remote App"
I have followed this: "Create a Azure RemoteApp image based on an Azure virtual machine" and it didn't work for me because I have installed the app in the wrong place. Please, change it.

[2015-10-02 15:45] chadelofson opened #4665 "Suggestions for improving app-service-web-how-to-create-an-app-service-environment.md"
This article assumes that you can get directly into the Portal Preview page on Azure.  On my first attempt I was in a different interface, which didn't have any of the options listed in the article.

I noticed the navigation in Azure was mentioned at the bottom of the article, but I feel that it should be put towards the top.  Either adding the link at the top or providing the necessary steps to n

[2015-10-02 22:13] crwilcox commented on #3996
https://github.com/Azure/azure-content/pull/4674

[2015-10-05 09:37] d1d13rj00 opened #4677 "Syntax error in documentation"
Hellom

In article [Load balancing for Azure infrastructure services](https://raw.githubusercontent.com/Azure/azure-content/79fb43df6344ea3fdce51b8f40ad035ee8cf1da2/articles/virtual-machines/virtual-machines-load-balance.md)

``pageTitle="oad balancing for infrastructure services | Microsoft Azure"``  Line 2

should be replaced by

``pageTitle="Load balancing for infrastructure services | Microsof

[2015-10-05 12:39] matiaslarsson commented on #3965
OK, let's close this one... even though the ~~solution~~ workaround is in this thread and not in the Azure documentation. ;)

[2015-10-05 12:39] #3965 closed

[2015-10-05 16:34] chadelofson opened #4680 "Suggestions for improving app-service-mobile-dotnet-backend-html-get-started-preview.md"
I was having some trouble working on the projects in Visual Studio 2013, but they worked just fine in Visual studio 2015.  I believe the issue is more to do with this laptop I am on then the actual projects from azure.

In the section "Download and run client project" you have an OS specific command run.  I am currently in Windows 8.1, which I ran the Start-Windows command.  That unfortunately did

[2015-10-05 18:34] chadelofson opened #4682 "Suggestions for improving app-service-web-how-to-create-a-web-app-in-an-ase.md"
The only difference I saw in this article is the location is no longer listed in the UI.  If you look at the following pic:

![asewebappcreation](https://cloud.githubusercontent.com/assets/7609222/10289715/a634879c-6b54-11e5-968a-6669f95d0912.PNG)

It is now "App Service Plan/Location"

I created a new service plan that would allow me to select the location and ASE like this screenshot:

![newloca

[2015-10-05 19:21] chadelofson opened #4683 "Suggestions for improving web-sites-connect-to-redis-using-memcache-protocol.md"
I have not completed the entire tutorial yet.  However in the prerequisites section the links for the Redis Cache article and Scalable Word Press article point to the Word Press article.

I am curious if we are still using the Scalable Word Press article.  It was last written back on September 15 2014.  Upon creation I am having some provisioning problems, which I will figure out.

Chad

[2015-10-05 21:46] chadelofson opened #4687 "Suggestions for improving cache-dotnet-how-to-use-azure-redis-cache.md"
In the section "What is Azure Redis Cache?", the link with the text "Azure Virtual Network" gives an HTTP 404 error.

In the section "Store ASP.NET session state in the cache", there is a repeat of words.  Look at the picture below on the location:

![repeatwords](https://cloud.githubusercontent.com/assets/7609222/10294541/da5be7fc-6b6f-11e5-94f7-b4770e3b51a6.PNG)

Chad Elofson

[2015-10-06 23:00] chadelofson opened #4702 "Suggestions for improving web-sites-connect-to-redis-using-memcache-protocol.md"
It would be nice to have a little more verbose steps on how to set the App settings.  It would make it a little easier on new users to have a few more steps and pictures on where those settings are located.

For copying the php_memcache.dll file you mention to copy it in a directory.  I have no clue how to access that directory.  I eventually accessed the web app through the FTP and did it that wa

[2015-10-07 13:12] steved0x commented on #4702
Thank you for your feedback Chad. I am working with the author of that article to get those points addressed.

Thanks,

Steve

[2015-10-07 17:55] chadelofson commented on #4702
My pleasure.  I did miss one thing at the bottom of the article.

![missingcontext](https://cloud.githubusercontent.com/assets/7609222/10346019/d78844bc-6ce1-11e5-9134-52d650100f54.PNG)

I highlighted the sentence in the pic above that is missing some context.  In the future I will fork the repo and submit a pull request for those.

Chad

[2015-10-07 18:57] chadelofson opened #4709 "Suggestions for improving app-service-dotnet-create-api-app.md"
I would like to suggest that the title of this article be changed, since I never actually published this API onto azure.  I would feel that this would be more of an overview on how to create a Web API project in Visual Studio and configure the ASP.NET project to be an Azure app.

The API app metadata section is not very clear since we don't actually publish this API to Azure.  I do understand that

[2015-10-07 21:41] chadelofson opened #4711 "Suggestions for improving app-service-api-nodejs-api-app.md"
Why are we setting the API level to public anonymous in this article?

Does "set the deployment credentials" button only show up in the blade when it isn't set?

During the publishing the API with get you mention using  password we set earlier.  I had already set it in a previous article, so that was a little confusing.  It would be great to get some additional steps and screen shots on where that

[2015-10-08 19:00] tysonn commented on #4658
@lizap - Could you follow up?

[2015-10-08 19:00] tysonn commented on #4677
@joaoma - Joao, could you follow up?

[2015-10-08 19:01] tysonn commented on #4615
@ggailey777 - Could you follow up?

[2015-10-08 19:03] tysonn commented on #4614
@pkefal - could you follow up on this issue?

[2015-10-08 19:05] tysonn commented on #4614
Assigned David as doc area mgr.

[2015-10-08 19:08] tysonn commented on #4613
@spelluru - Could you please follow up?